<template>
    <div>
        <td width="25%"><input class="form-control" type="text" v-model="draft.socialname"></td>
        <td width="50%"><input class="form-control" type="text" v-model="draft.link"></td>
        <td width="15%">
          <select class="form-control" v-model="draft.status">
            <option value="1">{{ trans('app.common.1') }}</option>
            <option value="0">{{ trans('app.common.0') }}</option>
          </select>
        </td>
    </div>
</template>
<script>
    export default {
        props: ['draft'],
    }
</script>