<template>
    <div>
        <dealer-bar></dealer-bar>
        <div class="col-md-9 col-sm-8">
            <h2>{{ trans('app.dealer.social') }}</h2>
            <a href="#" @click="add" class="btn btn-xs btn-success">
              <i class="fa fa-plus" aria-hidden="true"></i>
            </a> {{trans('app.dealerSocial.add')}}
            <hr>
              <table class="table table-hover table-striped">
                  <thead>
                    <tr>
                      <th width="25%">Icon</th>
                      <th width="20%">{{ trans('app.dealerSocial.socialname') }}</th>
                      <th width="30%">{{ trans('app.dealerSocial.link') }}</th>
                      <th width="15%">{{ trans('app.common.active') }}</th>
                      <th width="10%">{{ trans('app.common.actions') }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <template v-if="creating">
                        <td>
                          <upload-images v-model="file" :limit="1"></upload-images>
                        </td>
                        <td><input class="form-control" type="text" v-model="draft.socialname"></td>
                        <td><input class="form-control" type="text" v-model="draft.link"></td>
                        <td>
                          <select class="form-control" v-model="draft.status">
                            <option value="1">{{ trans('app.common.1') }}</option>
                            <option value="0">{{ trans('app.common.0') }}</option>
                          </select>
                        </td>
                        <td>
                          <a @click="save()" class="btn btn-success btn-xs">
                              <i class="fa fa-check" aria-hidden="true"></i>
                          </a>
                          <a @click="cancel()" target="blank" class="btn btn-warning btn-xs">
                              <i class="fa fa-close" aria-hidden="true"></i>
                          </a>
                        </td>
                      </template>
                    </tr>
                    <tr v-for="(dealerSocial, index) in dealerSocials">
                      <template v-if="editing_id == dealerSocial.id">
                        <td>
                          <upload-images v-model="fileU" :limit="1"></upload-images>
                        </td>
                        <td><input class="form-control" type="text" v-model="draft.socialname"></td>
                        <td><input class="form-control" type="text" v-model="draft.link"></td>
                        <td>
                          <select class="form-control" v-model="draft.status">
                            <option value="1">{{ trans('app.common.1') }}</option>
                            <option value="0">{{ trans('app.common.0') }}</option>
                          </select>
                        </td>
                      </template>
                      <template v-else>
                        <td><img :src="dealerSocial.icon"></td>
                        <td>{{ dealerSocial.socialname }}</td>
                        <td>{{ dealerSocial.link }}</td>
                        <td>{{ trans('app.common.' + dealerSocial.status) }}</td>
                      </template>
                        <td>
                          <div class="pull-right">
                            <template v-if="editing_id == dealerSocial.id">
                              <a @click="save()" class="btn btn-success btn-xs">
                                  <i class="fa fa-check" aria-hidden="true"></i>
                              </a>
                              <a @click="cancel()" target="blank" class="btn btn-warning btn-xs">
                                  <i class="fa fa-close" aria-hidden="true"></i>
                              </a>
                            </template>
                            <template v-else>
                              <a @click="edit(dealerSocial)" class="btn btn-primary btn-xs">
                                  <i class="fa fa-pencil" aria-hidden="true"></i>
                              </a>
                              <a @click="remove(dealerSocial, index)" target="blank" class="btn btn-warning btn-xs">
                                  <i class="fa fa-trash" aria-hidden="true"></i>
                              </a>
                            </template>
                          </div>
                        </td>
                    </tr>
                  </tbody>
              </table>
               <div class="text-center" v-if="totalRows > 5">
                <b-pagination
                  :total-rows="totalRows"
                  :per-page="perPage"
                  align="center"
                  v-model="currentPage"
                  class="my-0"
                  @input="getDealerSocials"
                />
              </div>
        </div>
    </div>
</template>
<script>
    export default{
        data(){
            return {
                currentPage: null,
                editing_id: null,
                creating: false,
                draft: {},
                base64: '',
                file: null,
                fileU: null,
                images:[],
            }
        },
        computed: {
            dealer(){
                return this.$parent.dealer
            },
            dealerSocials(){
                return this.$store.state.DealerSocial.dealerSocials
            },
            current_page(){
                return this.$store.state.DealerSocial.currentPage
            },
            totalRows(){
                return this.$store.state.DealerSocial.totalRows
            },
            perPage(){
                return this.$store.state.DealerSocial.perPage
            },
            loading(){
               return this.$store.state.DealerSocial.loading
            },
        },
        created(){
            this.getDealerSocials()
        },
        methods: {
          getDealerSocials(){
            let params = {page: this.currentPage, target: '', orderBy: 'id', desc: true, dealer_id: this.dealer.id}
            this.$store.dispatch('getDealerSocials', params)
          },
          add(){
            this.draft = {
              id: null,
              socialname: '',
              link: '',
              status: 1,
              dealer_id: this.dealer.id
            }
            this.creating = true
          },
          edit(social){
            this.editing_id = social.id
            this.draft = clone(social)
          },
          save(){
            if (this.editing_id != null) {
              this.update()
            } else {
              this.store()
            }
            this.draft = {}
            this.editing_id = null
            this.creating = false
          },
          cancel(){
            this.draft = {}
            this.editing_id = null
            this.creating = false
          },
          update(){
              this.$store.dispatch('updateDealerSocial', {id:this.draft.id, draft:this.draft, images: this.fileU})
          },
          store(){
              this.$store.dispatch('storeDealerSocial', {draft:this.draft, images: this.file})
          },
          remove(item, index){
              this.$swal({
                title: trans('app.common.delete_title'),
                text: trans('app.common.delete_text') + item.socialname +'?',
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: trans('app.common.delete_confirm'),
                cancelButtonText: trans('app.common.0')
              }).then((result) => {
                if (result.value) {
                  this.$store.dispatch('removeDealerSocial', item.id)
                }
              })
          },
        }
    }
</script>