<template>
    <div>
        <dealer-bar></dealer-bar>
        <div class="col-md-9 col-sm-8">
            <h2>Invoices</h2>
            <template v-if="invoices.length > 0">
              <table class="table table-hover table-striped">
                  <thead>
                    <tr>
                        <th>ID</th>
                        <th>Token</th>
                        <th>Date</th>
                        <th>Total</th>
                        <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="invoice in invoices">
                        <td>{{ invoice.id }}</td>
                        <td>{{ invoice.token }}</td>
                        <td>{{ invoice.date }}</td>
                        <td>{{ invoice.total | money}}</td>
                        <td>
                          <div class="pull-right">
                            <a :href="'/dealer/print-invoice/' + invoice.id" target="blank" class="btn btn-primary btn-xs">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                            <a :href="'/dealer/pdf-invoice/' + invoice.id" target="blank" class="btn btn-warning btn-xs">
                                <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                            </a>
                          </div>
                        </td>
                    </tr>
                  </tbody>
              </table>
              <div class="text-center" v-if="totalRows > 5">
                <b-pagination
                  :total-rows="totalRows"
                  :per-page="perPage"
                  align="center"
                  v-model="currentPage"
                  class="my-0"
                  @input="getInvoices"
                />
              </div>
            </template>
        </div>
    </div>
</template>
<script type="text/javascript">
    export default {
        data(){
          return {
            currentPage: null,
          }
        },
        computed: {
            dealer(){
                return this.$parent.dealer
            },
            invoices(){
                return this.$store.state.Invoice.dealerInvoices
            },
            current_page(){
                return this.$store.state.Invoice.currentPage
            },
            totalRows(){
                return this.$store.state.Invoice.totalRows
            },
            perPage(){
                return this.$store.state.Invoice.perPage
            },
            loading(){
               return this.$store.state.Invoice.loading
            }
        },
        created(){
            this.getInvoices()
        },
        methods: {
          getInvoices(){
            let params = {dealer_id: this.dealer.id, page: this.currentPage}
            this.$store.dispatch('getDealerInvoices', params)
          }
        }
    }
</script>

