<template>
<div>
  <b-modal v-if="draft" v-model="show" :title="draft && draft.id ? trans('app.dealerSocial.edit') : trans('app.dealerSocial.add')"  @hide="close">
        <b-container fluid>
             <b-row class="mb-1">
               <b-col><label :class="validSocialName ? 'label-valid' : 'label-required'">{{trans('app.dealerSocial.socialname')}}</label></b-col>
             </b-row>
             <b-row class="mb-1">
               <b-col><input type="text" v-model="draft.socialname" class="form-control" ></b-col>
             </b-row>

            <b-row class="mb-1">
               <b-col><label :class="validLink ? 'label-valid' : 'label-required'">{{trans('app.dealerSocial.link')}}</label></b-col>
             </b-row>
             <b-row class="mb-1">
               <b-col><input type="text" v-model="draft.link" class="form-control" ></b-col>
             </b-row>

             <template v-if="$router.history.current.name != 'socials-by-dealer'">
                 <b-row class="mb-1">
                      <b-col><label :class="validDealer ? 'label-valid' : 'label-required'">{{trans('app.dealerSocial.dealer')}}</label></b-col>
                 </b-row>
                 <b-row class="mb-1">
                    <b-col>
                        <b-form-select v-model="draft.dealer_id" :options="dealers" value-field="id" text-field="full_name" class="mb-3"/>
                    </b-col>
                  </b-row>
             </template>

             <b-row class="mb-1">
                  <b-col><label :class="validStatus ? 'label-valid' : 'label-required'">{{trans('app.dealerSocial.status')}}</label></b-col>
             </b-row>
             <b-row class="mb-1">
                <b-col>
                    <b-form-select v-model="draft.status" :options="statuses" class="mb-3"/>
                </b-col>
            </b-row>

            <b-row class="mb-1">
                <b-col>
                    <upload-images v-if="draft" v-model="file" :limit="1" :images="images" :from-modal="true"></upload-images>
                </b-col>
            </b-row>
        </b-container>
    <div slot="modal-footer" class="pull-right">
        <b-btn class="btn btn-outline-danger" @click="close"> {{trans('app.buttons.close')}}</b-btn>
        <b-btn @click="save"  class="btn btn-outline-primary" :disabled="!validForm" > {{draft.id ? trans('app.buttons.update') : trans('app.buttons.create')}}</b-btn>
    </div>
    <!-- </b-form>     -->
  </b-modal>
</div>
</template>

<script>
    export default {
        props: ['show', 'draft'],
        data(){
            return{
                statuses: [
                    { value: 1, text: trans('app.common.active') },
                    { value: 0, text: trans('app.common.inactive') },
                ],
                file: null,
                images: [],
            }
        },
        created(){
            this.listDealers()
        },
        methods:{
            listDealers(){
                this.$store.dispatch('listDealers')
            },
            close(){
                this.images = []
                this.$emit('close')

            },
            save(){
                if (this.draft.id) {
                    this.update()
                } else{
                    this.store()
                }
                this.close()
            },
            update(){
                this.$store.dispatch('updateDealerSocial', {id:this.draft.id, draft:this.draft, images:this.file})
            },
            store(){

                this.$store.dispatch('storeDealerSocial',
                {draft:this.draft, Base64Img:this.base64, images:this.file,})

            },
            setImages(){
              if (this.draft.id) {
                if(!this.images.find(image => image.id == this.draft.id)){
                  this.images.push({
                    id: this.draft.id,
                    name: this.draft.icon,
                    url: this.draft.icon,
                  })
                }
              }
            }
        },
        computed:{
            dealers(){
                return this.$store.state.Dealer.list
            },
            validForm(){
              return this.validSocialName  && this.validDealer && this.validLink  && this.validStatus
            },
            validSocialName(){
              return this.draft.socialname ? this.draft.socialname.length > 3 : false
            },
            validIcon(){
              return this.draft.icon != ''
            },
            validDealer(){
                return this.draft.dealer_id != null
            },
            validLink(){
                return this.draft.link != ''
            },
            validStatus(){
                return this.draft.status != null
            },
        },
        watch: {
          draft:{
            handler(val){
              if (val) {
                this.setImages()
              }
            },
            deep: true
          }
        }
    }
</script>