<template>
	<div class="box box-solid box-danger" :class="loading ? 'box-loading' : ''">
		<div class="box-header with-border">
      		<h3 class="box-title">{{trans('app.dealerSocial.title')}}</h3>
          <div class="box-tools pull-right" v-if="$router.history.current.name == 'socials-by-dealer'">
            <router-link to="/playfair/dealers" class="btn btn-default">
            <i class="fa fa-chevron-circle-left" aria-hidden="false"></i> {{ trans('app.common.back') }}
            </router-link>
          </div>
      	</div>
        <div class="box-body">
      		<div class="form-inline pull-left ">
		        <button class="btn btn-danger " @click="create">
		          	<i class="fa fa-plus ">  </i>
		        </button>
      		</div>
          <spinner v-if="loading" :size="200"/>
      		<form class="form-inline pull-right">
        		<div class="form-group mx-sm-6 mb-2">
          			<label class="sr-only">Search</label>
          			  <input v-model="target"  class="form-control" placeholder="Type to Search" />
        		</div>
      		</form>
      		<div class="clearfix"></div>
          <b-table ref="table" striped hover show-empty
            :items="dealerSocial"
            :fields="fields"
            :no-local-sorting="true"
            @sort-changed="sortingChanged"
          >

          <template slot="status"  slot-scope="row">
              {{row.item.status ? 'Active' : 'Inactive'}}
          </template>
          <template slot="Actions" slot-scope="row">
            <button class="btn btn-success" @click="edit(row.item, row.index)" :title="trans('app.common.edit')">
              <i class="fa fa-edit"></i>
            </button>
            <button class="btn btn-warning" @click="remove(row.item, row.index)" :title="trans('app.common.delete')">
              <i class="fa fa-trash-o"></i>
            </button>
          </template>
			</b-table>
      <dealer-social-edit :show="showEdit" :draft="draft" flag: @close="close"></dealer-social-edit>
			   </div>
      <div class="box-footer text-center">
          <b-pagination
            :total-rows="totalRows"
            :per-page="perPage"
            align="center"
            v-model="currentPage"
            class="my-0"
            @input="getDealerSocials"
            />
      </div>
		</div>

	</div>
</template>

<script>
    export default {
    watch:{
			target(){
        this.getDealerSocials()
      }
		},
		data(){
			return{
        currentPage: null,
        target: '',
        draft: {},
        currentIndex: null,
        showEdit: false,
        sortBy: 'id',
        sortDesc: true,
        flag:false,
        currentId: null,
			  pageOptions: [ 5, 10, 15 ],
        draft: null,
        dealersList: [
                    { value: '', text: ''},
                ],
				filter: null,
				fields: [
        			{
        			key: 'socialname', label: trans('app.dealerSocial.socialname'), sortable: true,
        			},
              {
              key: 'link', label: trans('app.dealerSocial.link'), sortable: true,
              },
              {
        			key: 'status', label: trans('app.color.status'), sortable: true,
        			},
        			{
        			key: 'Actions', label: trans('app.common.actions'), 'class': 'pull-right'
        			}
      			],
			}
		},
		created(){
            this.getDealerSocials()
            this.listDealers()
        },
		methods:{
        selectDealer(index){
            let arr = this.$store.state.Dealer.list
            for (var i = arr.length - 1; i >= 0; i--) {
               if (index == arr[i].id ) {
                  return arr[i].name;
               }
            }
        },
        listDealers(){
                this.$store.dispatch('listDealers')
        },
        getDealerSocials(){
            let params = {page: this.currentPage, target: this.target, orderBy: this.sortBy, desc: this.sortDesc, dealer_id: this.dealer_id}
            this.$store.dispatch('getDealerSocials', params)
        },
		    onFiltered (filteredItems) {
		      // Trigger pagination to update the number of buttons/pages due to filtering
		      this.totalRows = filteredItems.length
		      this.currentPage = 1
		    },
		    edit(dealerSocial, index){
            this.draft = clone(dealerSocial)
            this.draft.flag=false
            this.currentIndex = index
            this.showEdit = true
        },
        create(){
            this.draft = {
                id: null,
                flag:true,
                socialname: '',
                icon: '',
                dealer_id: this.$route.params.dealer_id,
                link: '',
                status:1
            }
            this.showEdit = true
        },
        remove(item, index){
            this.$swal({
              title: trans('app.common.delete_title'),
              text: trans('app.common.delete_text') + item.name +'?',
              type: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: trans('app.common.delete_confirm'),
              cancelButtonText: trans('app.common.0')
            }).then((result) => {
              if (result.value) {
                this.$store.dispatch('removeDealerSocial', item.id)
              }
            })
        },
        close(){
              this.showEdit = false
            },
        sortingChanged (ctx) {
                if (ctx.sortBy) {
                    this.sortBy = ctx.sortBy
                    this.sortDesc = ctx.sortDesc
                    this.currentPage = 1
                    this.getDealerSocials()
                }
            },

		},
        computed:{
            dealerSocial(){
              return this.$store.state.DealerSocial.dealerSocials
            },
            dealer(){

                let arr = this.$store.state.Dealer.list
                for (var i = arr.length - 1; i >= 0; i--) {
                   var obj={};
                   obj.value = arr[i].id;
                   obj.text= arr[i].name;
                   this.dealersList.push(obj);
                }
                return this.dealersList;
            },

            current_page(){
                return this.$store.state.DealerSocial.currentPage
            },
            totalRows(){
                return this.$store.state.DealerSocial.totalRows
            },
            perPage(){
                return this.$store.state.DealerSocial.perPage
            },
            loading(){
               return this.$store.state.DealerSocial.loading
            },
            dealer_id(){
              return this.$route.params.dealer_id ? this.$route.params.dealer_id : ''
            }
        }
	}
</script>