<template>
    <div class="box box-solid box-danger" :class="loading ? 'box-loading' : ''">
      <div class="box-header with-border">
        <h3 class="box-title">{{trans('app.color.title')}}</h3>
      </div>
      <div class="box-body">
      <div class="form-inline pull-left">
        <button type="button" class="btn btn-danger" @click="create">
          <i class="fa fa-plus"> </i>
        </button>
      </div>
     <spinner v-if="loading" :size="200"/>
      <form class="form-inline pull-right">
        <div class="form-group mx-sm-6 mb-2">
          <label class="sr-only">{{trans('app.common.search')}}</label>
          <input type="text" class="form-control" :placeholder="trans('app.common.search')" v-model="target" @keyup.enter="getColors">
        </div>
        <!-- <button type="button" class="btn btn-primary mb-2" @click.prevent="getColors"><i class="fa fa-search"></i></button> -->
      </form>
      <div class="clearfix"></div>
        <b-table striped hover responsive
        :items="color"
        :fields="fields"
        :no-local-sorting="true"
        @sort-changed="sortingChanged"
        >
        <template slot="status"  slot-scope="row">
            {{row.item.status ? 'Active' : 'Inactive'}}
        </template>
        <template slot="actions" slot-scope="row">
          <button class="btn btn-success" @click="edit(row.item, row.index)" :title="trans('app.common.edit')">
            <i class="fa fa-edit"></i>
          </button>
          <button class="btn btn-warning" @click="remove(row.item, row.index)" :title="trans('app.common.delete')">
            <i class="fa fa-trash-o"></i>
          </button>
        </template>
        </b-table>
        <color-edit :show="showEdit" :draft="draft" @close="close"></color-edit>
      </div>
      <div class="box-footer text-center">
          <b-pagination
            :total-rows="totalRows"
            :per-page="perPage"
            align="center"
            v-model="currentPage"
            class="my-0"
            @input="getColors"
            />
      </div>
    </div>
</template>

<script>
    export default {
        watch:{
            target(){
                this.getColors()
            }
        },
        data(){
            return{
                fields: [
                    { key: 'id', label: '#', sortable: true },
                    { key: 'name', label: trans('app.color.name'), sortable: true },
                    { key: 'csscode', label: trans('app.color.csscode'), sortable: true},
                    { key: 'status', label: trans('app.color.status'), sortable: true},
                    { key: 'actions', label: trans('app.common.actions'), 'class': 'pull-right'},
                ],
                currentPage: null,
                target: '',
                draft: {},
                currentIndex: null,
                showEdit: false,
                sortBy: 'id',
                sortDesc: true,
                flag:false,
            }
        },
        created(){
            this.getColors()
        },
        methods:{
            edit(color, index){
                this.draft = clone(color)
                this.currentIndex = index
                this.showEdit = true
                this.draft.flag=false
            },
            create(){
                this.draft = {
                    id: null,
                    name: '',
                    image: '',
                    csscode: null,
                    category_id: null,
                    status: null,
                    flag:true,
                }
                this.showEdit = true
            },
            getColors(){
                let params = {page: this.currentPage, target: this.target, orderBy: this.sortBy, desc: this.sortDesc}
                this.$store.dispatch('getColors', params)
            },
            close(){
              this.showEdit = false
            },
            remove(item, index){
                this.$swal({
                  title: trans('app.common.delete_title'),
                  text: trans('app.common.delete_text') + item.name +'?',
                  type: 'warning',
                  showCancelButton: true,
                  confirmButtonColor: '#3085d6',
                  cancelButtonColor: '#d33',
                  confirmButtonText: trans('app.common.delete_confirm'),
                  cancelButtonText: trans('app.common.0')
                }).then((result) => {
                  if (result.value) {
                    this.$store.dispatch('removeColor', item.id)
                  }
                })
            },
            sortingChanged (ctx) {
                if (ctx.sortBy) {
                    this.sortBy = ctx.sortBy
                    this.sortDesc = ctx.sortDesc
                    this.currentPage = 1
                    this.getColors()
                }
            },
        },
        computed:{
            color(){
                return this.$store.state.Color.colors
            },
            current_page(){
                return this.$store.state.Color.currentPage
            },
            totalRows(){
                return this.$store.state.Color.totalRows
            },
            perPage(){
                return this.$store.state.Color.perPage
            },
            loading(){
               return this.$store.state.Color.loading
            }
        }
    }
</script>