<template>
    <div class="widget sidebar-widget search-form-widget">
        <div class="input-group input-group-lg">
            <input type="text" class="form-control" :placeholder="trans('app.post.search')" v-model="target" @keyup.enter="search">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" @click="search"><i class="fa fa-search fa-lg"></i></button>
            </span>
        </div>
    </div>
</template>
<script>
    export default {
        data(){
            return {
                target: '',
            }
        },
        methods: {
            search(){
                this.$emit('search', this.target)
            }
        }
    }
</script>