<template>
<div>
  <b-modal v-model="show" :title="draft.id ? trans('app.billingTerm.edit') : trans('app.billingTerm.add')"  @hide="close">
    <!-- <b-form @submit="save"  role="form" enctype="multipart/form-data"> -->
        <b-container fluid>
            <!-- <template v-if="draft.id"> -->
             <b-row class="mb-1">
               <b-col><label :class="validName ? 'label-valid' : 'label-required'">{{trans('app.billingTerm.name')}}</label></b-col>
             </b-row>
             <b-row class="mb-1">
               <b-col><input type="text" v-model="draft.name" class="form-control" ></b-col>
             </b-row>

             <b-row class="mb-1">
               <b-col><label :class="validDays ? 'label-valid' : 'label-required'">{{trans('app.billingTerm.days')}}</label></b-col>
             </b-row>
             <b-row class="mb-1">
               <b-col><input type="number" v-model="draft.days" class="form-control" ></b-col>
             </b-row>

        </b-container>
    <div slot="modal-footer" class="pull-right">
        <b-btn class="btn btn-outline-danger" @click="close"> {{trans('app.buttons.close')}}</b-btn>

        <b-btn @click="save"  class="btn btn-outline-primary" :disabled="! validForm" > {{draft.id ? trans('app.buttons.update') : trans('app.buttons.create')}}</b-btn>

    </div>
  </b-modal>
</div>
</template>

<script>
    export default {
        props: ['show', 'draft'],
        methods:{
            close(){
                this.$emit('close')
                this.images = []

            },
            save(){
                if (this.draft.id) {
                    this.update()
                } else{
                    this.store()
                }
                this.close()
            },
            update(){

                this.$store.dispatch('updateBillingTerm', {id:this.draft.id, draft:this.draft, Base64Img:this.base64, images:this.images})
            },
            store(){
                this.$store.dispatch('storeBillingTerm',
                {draft:this.draft, Base64Img:this.base64, images:this.images,})

            },
        },
        computed:{
            validForm(){
              return this.validName && this.validDays
            },
            validName(){
              return this.draft.name != ''
            },
            validDays(){
              return this.draft.days > 0
            },
        }
    }
</script>