<template>
<div>
  <b-modal v-model="show" :title="draft.id ? trans('app.condition.edit') : trans('app.condition.add')"  @hide="close">
    <!-- <b-form @submit="save"  role="form" enctype="multipart/form-data"> -->
        <b-container fluid>
            <b-row class="mb-1">
                <b-col>
                    <div enctype="multipart/form-data" @click="processFile($event)">
                        <a href="#" >
                          <b-row>
                            <b-col>
                                <template v-if="draft.flag==false">
                                    <b-img thumbnail fluid width="455" height="275" :src="'images/conditions/'+draft.image" alt="Thumbnail"/>
                                </template>
                                <template v-else>
                                  <b-img thumbnail fluid width="455" height="275"
                                  :src="draft.image"
                                  />
                                </template>
                            </b-col>
                          </b-row>                    
                        </a>                                    
                    </div>    
                </b-col>
            </b-row>

            <b-row class="mb-1">
                <b-col>
                    <b-form-file @change="processFile($event)" placeholder="Choose a file..." ref="fileinput"></b-form-file>
                </b-col>
             </b-row>

        </b-container>
    <div slot="modal-footer" class="pull-right">
        <b-btn class="btn btn-outline-danger" @click="close"> {{trans('app.buttons.close')}}</b-btn>
        
        <b-btn @click="save"  class="btn btn-outline-primary" > {{draft.id ? trans('app.buttons.update') : trans('app.buttons.create')}}</b-btn>

    </div>
    <!-- </b-form>     -->
  </b-modal>
</div>
</template>

<script>
    export default {
        props: ['show', 'draft','images'],
        data(){
            return{
                images:[],
                showEdit: false,
                draft: {},
                statuses: [
                    { value: null, text: trans('app.common.select') },
                    { value: '1', text: trans('app.common.active') },
                    { value: '0', text: trans('app.common.inactive') },
                ],
                              
            }
        },
        created(){
                        
        },
        methods:{
            close(){
                this.$emit('close')
                this.images = []
                
            },
            save(){
                this.imageName();
                if (this.draft.id) {
                    this.update()
                } else{
                    this.store()
                }
                this.close()
            },
            imageName(){
                if (this.images.length > 0) {
                    this.draft.image=this.images[0].url
                }
            },
            update(){
                
                this.$store.dispatch('updateCondition', {id:this.draft.id, draft:this.draft, Base64Img:this.base64, images:this.images})
            },
            store(){
                this.$store.dispatch('storeCondition',
                {draft:this.draft, Base64Img:this.base64, images:this.images,})

            },
            processFile(e) {
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                    this.createImage(files[0]);
                    this.viewImage(files[0]);
            },

            createImage(file) {
                var reader = new FileReader();
                reader.readAsDataURL(file); 
                reader.onload = (function(f, images){
                    return function(e) {
                        images.push({
                            url: f.name.replace(' ', ''),
                            Base64Img: e.target.result,
                            // vm.draft.image: e.target.result;
                        });
                    };
                })(file, this.images);
                this.draft.flag=true;
                // this.draft.images.url
            },
            viewImage(file){

                var image = new Image();
                
                var reader = new FileReader();
                var vm = this;
                reader.onload = (e) => {
                    vm.draft.image = e.target.result;

                };

                reader.readAsDataURL(file);

            },
            removeImage: function (e) {
                this.draft.image = '';
            },
        },
        computed:{
            validImage(){
              return this.draft.image
            },
            
        }
    }
</script>