<template>
    <div class="col-md-8 col-md-offset-2">

    <div class="box box-solid box-danger" :class="loading ? 'box-loading' : ''">
        <div class="box-header with-border">
            <h3 class="box-title">{{ trans('app.dealer.title') }}</h3>
        </div>
        <div class="box-body">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link" :class="currentTab == 'personal' ? 'active' : ''" href="#" @click="currentTab = 'personal'">Personal</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" :class="currentTab == 'location' ? 'active' : ''" href="#" @click="currentTab = 'location'">Location</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" :class="currentTab == 'content' ? 'active' : ''" href="#" @click="currentTab = 'content'">Content</a>
                </li>
            </ul>
            <br>
            <div class="card" v-show="currentTab == 'personal'">
                <dealer-personal-info :draft="draft"/>
            </div>
            <div class="card" v-show="currentTab == 'location'">
                <dealer-location :draft="draft"/>
            </div>
            <div class="card" v-show="currentTab == 'content'">
                <dealer-content :draft="draft"/>
            </div>
            <hr>
            <button @click="save" class="btn btn-outline-primary" :disabled="! validForm" >
                {{draft && draft.id ? trans('app.buttons.update') : trans('app.buttons.create')}}
            </button>
            <router-link to="/playfair/dealers" class="btn btn-outline-danger">Back</router-link>
            <spinner v-if="loading" :size="200"/>
        </div>
    </div>
    </div>
</template>
<script>
    export default {
        data(){
            return {
                draft: {},
                currentTab: 'personal',
                validAddress: false,
            }
        },
        created(){
            this.setDraft()
        },
        methods: {
            setDraft(){
                if(this.$route.params.id){
                    let dealer = this.$store.getters.findDealer(this.$route.params.id)
                    if (! dealer) {
                        this.$store.dispatch('getDealer', this.$route.params.id)
                            .then(response => {
                                this.draft = clone(this.$store.state.Dealer.solo)
                            })
                    } else {
                        this.draft = clone(dealer)
                    }
                    this.validAddress = true
                } else {
                    this.draft = {
                        id: null,
                        user: {
                            first_name: '',
                            last_name: '',
                            login: '',
                            email: '',
                        },
                        dealer_shortname: '',
                        dealer_manager: '',
                        images: {},
                        status: 1,
                        dealer_EIN: '',
                        latitude: '',
                        longitude: '',
                        website: '',
                        original_phone: '',
                        redirect_phone: '',
                        fax: '',
                        mission: '',
                        vision: '',
                        overview: '',
                        biographies: '',
                        mail_receive: 1,
                        sunbizzurl: '',
                        about: '',
                    }
                }
            },
            save(){
                if (this.draft.id != null) {
                    this.$store.dispatch('updateDealer', {id:this.draft.id, draft:this.draft})
                } else {
                    this.$store.dispatch('storeDealer', {draft:this.draft})
                        .then(response => {
                            this.$router.push('/playfair/dealers')
                        })
                }
            },
            validString(value){
                return value != ''
            },
            validEmail(value){
                var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(String(value).toLowerCase());
            },
            validValue(value){
                return value != null
            },
        },
        computed: {
            validForm(){
                return this.validString(this.draft.user.first_name) &&
                    this.validString(this.draft.user.last_name) &&
                    this.validString(this.draft.user.login) &&
                    this.validEmail(this.draft.user.email) &&
                    this.validString(this.draft.dealer_shortname) &&
                    this.validString(this.draft.dealer_EIN) &&
                    this.validString(this.draft.dealer_manager) &&
                    this.validValue(this.draft.mail_receive) &&
                    this.validString(this.draft.original_phone) &&
                    this.validString(this.draft.redirect_phone) &&
                    this.validString(this.draft.fax) &&
                    this.validString(this.draft.website) &&
                    this.validString(this.draft.sunbizzurl) &&
                    this.validString(this.draft.mission) &&
                    this.validString(this.draft.vision) &&
                    this.validString(this.draft.overview) &&
                    this.validString(this.draft.about) &&
                    this.validString(this.draft.biographies) &&
                    this.validAddress
            },
            loading(){
                return this.$store.state.Dealer.loading
            },
            address(){
                return this.draft.user.address
            }
        }
    }
</script>