<template>
	<div class="box box-solid box-danger" :class="loading ? 'box-loading' : ''">
		<div class="box-header with-border">
    	<h3 class="box-title">{{trans('app.dealer.title')}}</h3>
    </div>
      <div class="box-body">
    		<div class="form-inline pull-left ">
          <button class="btn btn-danger " @click="create">
            	<i class="fa fa-plus ">  </i>
          </button>
    		</div>
        <spinner v-if="loading" :size="200"/>
    		<form class="form-inline pull-right">
      		<div class="form-group mx-sm-6 mb-2">
        			<label class="sr-only">Search</label>
        			  <input v-model="target"  class="form-control" placeholder="Type to Search" />
      		</div>
    		</form>
    		<div class="clearfix"></div>
        <b-table ref="table" striped hover show-empty
          responsive
          :items="dealer"
          @sort-changed="sortingChanged"
          :fields="fields"
          stacked="md"
          :filter="filter"
          :sort-by.sync="sortBy"
          :sort-desc.sync="sortDesc"
          empty-text="Cargando..."
          :no-local-sorting="true"
        >
          <template slot="fullname"  slot-scope="row">
              {{ row.item.user.first_name }} {{ row.item.user.last_name }}
          </template>
          <template slot="login"  slot-scope="row">
              {{ row.item.user.login }}
          </template>
          <template slot="address_1"  slot-scope="row">
              {{ row.item.user.address_1 }}
          </template>
          <template slot="zip_code"  slot-scope="row">
              {{ row.item.user.zipcode }}
          </template>
          <template slot="status"  slot-scope="row">
              {{row.item.status ? 'Active' : 'Inactive'}}
          </template>
          <template slot="Actions" slot-scope="row">
            <button class="btn btn-success" @click="edit(row.item, row.index)" :title="trans('app.common.edit')">
              <i class="fa fa-edit"></i>
            </button>
            <button class="btn btn-warning" @click="remove(row.item, row.index)" :title="trans('app.common.delete')">
              <i class="fa fa-trash-o"></i>
            </button>
            <button class="btn btn-info" @click="payments(row.item)" :title="trans('app.billingPayment.title')">
              <i class="fa fa-credit-card"></i>
            </button>
            <button class="btn btn-primary" @click="dealerSocial(row.item)" :title="trans('app.billingPayment.title')">
              <i class="fa fa-facebook"></i>
            </button>
          </template>
  	    </b-table>
    </div>
    <div class="box-footer text-center">
      <b-pagination
        :total-rows="totalRows"
        :per-page="perPage"
        align="center"
        v-model="currentPage"
        class="my-0"
        @input="getDealers"
      />
    </div>
	</div>
</template>

<script>
    export default {
		watch:{
			target(){
        this.getDealers()
      }
		},
		data(){
			return{

        currentPage: null,
        target: '',
        draft: {},
        currentIndex: null,
        showEdit: false,
        sortBy: 'id',
        sortDesc: true,
        flag:false,
        currentId: null,
			  pageOptions: [ 5, 10, 15 ],
        draft:{},
        citiesList: [
                    { value: '', text: ''},
                ],
				filter: null,
				fields: [
              {
              key: 'id', label: '#', sortable: true, filter: true
              },
        			{
              key: 'fullname', label: trans('app.condition.fullname'), sortable: false, filter: false
              },
              {
        			key: 'dealer_manager', label: trans('app.user.dealer_manager'), sortable: true, filter: false
        			},
              {
              key: 'dealer_shortname', label: trans('app.condition.shotname'), sortable: true,
              },
              {
        			key: 'status', label: trans('app.color.status'), sortable: true,
        			},
        			{
        			key: 'Actions', label: trans('app.common.actions'), 'class': 'pull-right'
        			}
      			],
			}
		},
		created(){
            this.getDealers()
            this.listCities()
        },
		methods:{
        profile(id){
          this.$router.push('/create-dealer/' + id)
        },
        selectCity(index){
            let arr = this.$store.state.City.list
            for (var i = arr.length - 1; i >= 0; i--) {
               if (index == arr[i].id ) {
                  return arr[i].name;
               }
            }
        },
        listCities(){
                this.$store.dispatch('listCities')
        },
        getDealers(){

            let params = {page: this.currentPage, target: this.target, orderBy: this.sortBy, desc: this.sortDesc}
            this.$store.dispatch('getDealers', params)
        },
		    onFiltered (filteredItems) {
		      // Trigger pagination to update the number of buttons/pages due to filtering
		      this.totalRows = filteredItems.length
		      this.currentPage = 1
		    },
		    edit(dealer, index){
            this.draft = clone(dealer)
            this.currentIndex = index
            this.$router.push('edit-dealer/' + dealer.id)
        },
        create(){
            this.$router.push('create-dealer/')
        },
        remove(item, index){
            this.$swal({
              title: trans('app.common.delete_title'),
              text: trans('app.common.delete_text') + item.name +'?',
              type: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: trans('app.common.delete_confirm'),
              cancelButtonText: trans('app.common.0')
            }).then((result) => {
              if (result.value) {
                this.$store.dispatch('removeDealer', item.id)
              }
            })
        },
        sortingChanged (ctx) {
              if (ctx.sortBy) {
                  this.sortBy = ctx.sortBy
                  this.sortDesc = ctx.sortDesc
                  this.currentPage = 1
                  this.getDealers()
              }
          },
        payments(dealer){
          this.$router.push('/playfair/dealer-billing-payments/' + dealer.id)
        },
        dealerSocial(dealer){
          this.$router.push('/playfair/dealer-socials-by-dealer/' + dealer.id)
        },

		},
        computed:{
            dealer(){
                return this.$store.state.Dealer.dealers
            },
            cities(){

                let arr = this.$store.state.City.list
                for (var i = arr.length - 1; i >= 0; i--) {
                   var obj={};
                   obj.value = arr[i].id;
                   obj.text= arr[i].name;
                   this.citiesList.push(obj);
                }
                return this.citiesList;
            },

            current_page(){
                return this.$store.state.Dealer.currentPage
            },
            totalRows(){
                return this.$store.state.Dealer.totalRows
            },
            perPage(){
                return this.$store.state.Dealer.perPage
            },
            loading(){
               return this.$store.state.Dealer.loading
            }
        }
	}
</script>