<template>
    <div>
        <div class="main" role="main">
            <div id="content" class="content full">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-2">
                            <h2>Wish list</h2>
                            <template v-if="announcements.length > 0">
                              <table class="table table-hover table-striped">
                                  <thead>
                                    <tr>
                                        <th>Image</th>
                                        <th>Make</th>
                                        <th>Model</th>
                                        <th>Body type</th>
                                        <th>Price</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr v-for="announcement in announcements">
                                        <td><a :href="'/gallery/anouncement/' + announcement.ads_manager.id"><img :src="announcement.ads_manager.main_image" width="120"></a></td>
                                        <td><a :href="'/gallery/anouncement/' + announcement.ads_manager.id">{{ announcement.ads_manager.make_name }}</a></td>
                                        <td><a :href="'/gallery/anouncement/' + announcement.ads_manager.id">{{ announcement.ads_manager.model_name }}</a></td>
                                        <td><a :href="'/gallery/anouncement/' + announcement.ads_manager.id">{{ announcement.ads_manager.bodytype_name }}</a></td>
                                        <td><a :href="'/gallery/anouncement/' + announcement.ads_manager.id">{{ announcement.ads_manager.price | money}}</a></td>
                                    </tr>
                                  </tbody>
                              </table>
                              <div class="text-center" v-if="totalRows > 5">
                                <b-pagination
                                  :total-rows="totalRows"
                                  :per-page="perPage"
                                  align="center"
                                  v-model="currentPage"
                                  class="my-0"
                                  @input="getWishLists"
                                />
                              </div>
                            </template>
                            <template v-else>
                                <div class="alert alert-warning fade in"> <a class="close" data-dismiss="alert" href="#">&times;</a> <strong>Empty list!</strong> Your list it's empty. Please add new items in anoucement detail</div>

                            </template>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
</template>
<script>
    export default {
        data(){
            return {
                currentPage: 1,
            }
        },
        created(){
            this.getWishLists()
        },
        methods: {
            getWishLists(){
                let params = {page: this.currentPage}
                this.$store.dispatch('getWishLists', params)
            }
        },
        computed: {
            announcements(){
                return this.$store.state.WishList.data
            },
            current_page(){
                return this.$store.state.WishList.currentPage
            },
            totalRows(){
                return this.$store.state.WishList.totalRows
            },
            perPage(){
                return this.$store.state.WishList.perPage
            },
            loading(){
               return this.$store.state.WishList.loading
            }
        }
    }
</script>