.box-loading {
    background:#ffff;
    opacity: 0.5;
    filter: alpha(opacity=10);
}

.spinner{
    position:fixed;
    top:40%;
    left:50%
}

.col-5{
  width: 5% !important;
}
.col-7{
  width: 7% !important;
}
.col-10{
  width: 10% !important;
}
.col-15{
  width: 10% !important;
}
.col-20{
  width: 20% !important;
}
.col-35{
  width: 35% !important;
}
.col-40{
  width: 40% !important;
}
.col-50{
  width: 50% !important;
}

.label-required{
    color: red ;
    font-weight: bold ;
}
.label-valid{
    color: green ;
    font-weight: bold ;
}

.page-link.btn-primary{
  background-color: #dd4b39 !important;
  border-color: #dd4b39 !important;
}