<template>
<div>
  <b-modal v-model="show" :title="draft.id ? trans('app.setting_group.edit') : trans('app.setting_group.add')"  @hide="close">
    <b-container fluid>
         <b-row class="mb-1">
           <b-col><label :class="validTab ? 'label-valid' : 'label-required'">{{trans('app.setting_group.setting_tab_id')}}</label></b-col>
         </b-row>
         <b-row class="mb-1">
           <b-col><b-form-select v-model="draft.setting_tab_id" :options="options" class="mb-3"/></b-col>
         </b-row>
         <b-row class="mb-1">
           <b-col><label :class="validName ? 'label-valid' : 'label-required'">{{trans('app.setting_group.name')}}</label></b-col>
         </b-row>
         <b-row class="mb-1">
           <b-col><input type="text" v-model="draft.name" class="form-control"></b-col>
         </b-row>
         <b-row class="mb-1">
           <b-col><label :class="validIcon ? 'label-valid' : 'label-required'">{{trans('app.setting_group.icon')}}</label></b-col>
         </b-row>
         <b-row class="mb-1">
           <b-col><input type="text" v-model="draft.icon" class="form-control"></b-col>
         </b-row>
         <b-row class="mb-1">
           <b-col><label>{{trans('app.setting_group.component')}}</label></b-col>
         </b-row>
         <b-row class="mb-1">
           <b-col><input type="text" v-model="draft.component" class="form-control"></b-col>
         </b-row>
    </b-container>
    <div slot="modal-footer" class="pull-right">
        <b-btn class="btn btn-outline-danger" @click="close"> {{trans('app.buttons.close')}}</b-btn>
        <b-btn class="btn btn-outline-primary" @click="save" :disabled="!validForm"> {{draft.id ? trans('app.buttons.update') : trans('app.buttons.create')}}</b-btn>
    </div>
  </b-modal>
</div>
</template>

<script>
    export default {
        props: ['show', 'draft'],
        data(){
            return {
                options: [
                    { value: null, text: trans('app.common.select') },
                    { value: 1, text: trans('app.setting_group.tab1') },
                    { value: 2, text: trans('app.setting_group.tab2') },
                ]
            }
        },
        methods:{
            close(){
                this.$emit('close')
            },
            save(){
                if (this.draft.id) {
                    this.update()
                } else{
                    this.store()
                }
                this.close()
            },
            update(){
                var draft = this.draft
                var id = this.draft.id
                this.$store.dispatch('updateSettingGroup', { id: id, draft })
            },
            store(){
                this.$store.dispatch('storeSettingGroup', this.draft)
            },
        },
        computed:{
            validForm(){
              return this.validTab && this.validName && this.validIcon
            },
            validTab(){
              return this.draft.setting_tab_id ? this.draft.setting_tab_id != '' : false
            },
            validName(){
              return this.draft.name ? this.draft.name != '' : false
            },
            validIcon(){
              return this.draft.icon ? this.draft.icon != '' : false
            },
        }
    }
</script>