<template>
    <div class="box box-solid box-danger" :class="loading ? 'box-loading' : ''">
      <div class="box-header with-border">
        <h3 class="box-title">{{trans('app.setting_group.title')}}</h3>
      </div>
      <div class="box-body">
      <div class="form-inline pull-left">
        <button type="button" class="btn btn-danger" @click="create">
          <i class="fa fa-plus"> </i>
        </button>
      </div>
     <spinner v-if="loading" :size="200"/>
      <form class="form-inline pull-right">
        <div class="form-group mx-sm-6 mb-2">
          <label class="sr-only">{{trans('app.common.search')}}</label>
          <input type="text" class="form-control" :placeholder="trans('app.common.search')" v-model="target" @keyup.enter="getSettingGroups">
        </div>

      </form>
      <div class="clearfix"></div>
        <b-table striped hover
        :items="setting_group"
        :fields="fields"
        :no-local-sorting="true"
        @sort-changed="sortingChanged"
        >
        <template slot="setting_tab_id" slot-scope="row">
          {{ trans('app.setting_group.tab' + row.item.setting_tab_id) }}
        </template>
        <template slot="actions" slot-scope="row">
          <button class="btn btn-success" @click="edit(row.item, row.index)" :title="trans('app.common.edit')">
            <i class="fa fa-edit"></i>
          </button>
          <button class="btn btn-warning" @click="remove(row.item, row.index)" :title="trans('app.common.delete')">
            <i class="fa fa-trash-o"></i>
          </button>
        </template>
        </b-table>
        <setting-group-edit :show="showEdit" :draft="draft" @close="close"/>
      </div>
      <div class="box-footer text-center">
          <b-pagination
            :total-rows="totalRows"
            :per-page="perPage"
            align="center"
            v-model="currentPage"
            class="my-0"
            @input="getSettingGroups"
            />
      </div>
    </div>
</template>

<script>
    export default {
        watch:{
            target(){
                this.getSettingGroups()
            }
        },
        data(){
            return{
                fields: [
                    { key: 'id', label: '#', sortable: true, 'class': 'col-10' },
                    { key: 'setting_tab_id', label: trans('app.setting_group.setting_tab_id'), sortable: true},
                    { key: 'name', label: trans('app.setting_group.name'), sortable: true},
                    { key: 'icon', label: trans('app.setting_group.icon'), sortable: true},
                    { key: 'component', label: trans('app.setting_group.component'), sortable: true},
                    { key: 'actions', label: trans('app.common.actions'), 'class': 'pull-right'},
                ],
                currentPage: null,
                target: '',
                draft: {},
                currentIndex: null,
                showEdit: false,
                sortBy: 'id',
                sortDesc: false,
            }
        },
        created(){
            this.getSettingGroups()
        },
        methods:{
            edit(setting_group, index){
                this.draft = clone(setting_group)
                this.currentIndex = index
                this.showEdit = true
            },
            create(){
                this.draft = {
                    id: null,
                    setting_tab_id: '',
                    name: '',
                    icon: '',
                    component: '',
                }
                this.showEdit = true
            },
            getSettingGroups(){
                let params = {page: this.currentPage, target: this.target, orderBy: this.sortBy, desc: this.sortDesc}
                this.$store.dispatch('getSettingGroups', params)
            },
            close(){
              this.showEdit = false
            },
            remove(item, index){
                this.$swal({
                  title: trans('app.common.delete_title'),
                  text: trans('app.common.delete_text') + item.name +'?',
                  type: 'warning',
                  showCancelButton: true,
                  confirmButtonColor: '#3085d6',
                  cancelButtonColor: '#d33',
                  confirmButtonText: trans('app.common.delete_confirm'),
                  cancelButtonText: trans('app.common.0')
                }).then((result) => {
                  if (result.value) {
                    this.$store.dispatch('removeSettingGroup', item.id)
                  }
                })
            },
            sortingChanged (ctx) {
                if (ctx.sortBy) {
                    this.sortBy = ctx.sortBy
                    this.sortDesc = ctx.sortDesc
                    this.currentPage = 1
                    this.getSettingGroups()
                }
            },
        },
        computed:{
            setting_group(){
                return this.$store.state.SettingGroup.setting_groups
            },
            current_page(){
                return this.$store.state.SettingGroup.currentPage
            },
            totalRows(){
                return this.$store.state.SettingGroup.totalRows
            },
            perPage(){
                return this.$store.state.SettingGroup.perPage
            },
            loading(){
               return this.$store.state.SettingGroup.loading
            }
        }
    }
</script>
<style type="text/css">
  .col-10{
    width: 10%;
  }
  .col-35{
    width: 35%;
  }
</style>