<template>
    <div class="panel panel-default credit-card-box">
        <div class="panel-heading " >
            <h3 class="panel-title">Card Type: <b class="text-capitalize">{{ cardType }}</b></h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div style="font-size: 35px" class="text-center">
                    <i class="fa fa-cc-visa" :class="cardType == 'visa' ? 'cc-active' : ''" aria-hidden="true"></i>
                    <i class="fa fa-cc-mastercard" :class="cardType == 'mastercard' ? 'cc-active' : ''" aria-hidden="true"></i>
                    <i class="fa fa-cc-amex" :class="cardType == 'aMEX' ? 'cc-active' : ''" aria-hidden="true"></i>
                    <i class="fa fa-cc-discover" :class="cardType == 'discover' ? 'cc-active' : ''" aria-hidden="true"></i>
                    <i class="fa fa-cc-diners-club" :class="cardType == 'diners' ? 'cc-active' : ''" aria-hidden="true"></i>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label for="couponCode">{{ trans('app.payment.first_name') }}</label>
                        <input type="text" v-model="card.first_name" class="form-control" :placeholder="trans('app.payment.first_name')" />
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <label for="couponCode">{{ trans('app.payment.last_name') }}</label>
                        <input type="text" v-model="card.last_name" class="form-control" :placeholder="trans('app.payment.last_name')" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="cardNumber">{{ trans('app.payment.credit_card') }}</label>
                        <div class="input-group">
                            <input
                                type="text"
                                class="form-control"
                                v-model="card.cardnumber"
                                :placeholder="trans('app.payment.credit_card')"
                                autocomplete="cc-number"
                                required
                                :disabled="editing"
                            />
                            <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4 col-md-4">
                    <div class="form-group">
                        <label for="cardExpiry">{{ trans('app.payment.expire_month') }}</label>
                        <input
                            type="number"
                            class="form-control"
                            v-model="card.expire_month"
                            placeholder="MM"
                            autocomplete="cc-exp"
                            min="1"
                            max="12"
                            required
                        />
                    </div>
                </div>
                <div class="col-xs-4 col-md-4">
                    <div class="form-group">
                        <label for="cardExpiry">{{ trans('app.payment.expire_year') }}</label>
                        <input
                            type="number"
                            class="form-control"
                            v-model="card.expire_year"
                            placeholder="YYYY"
                            autocomplete="cc-exp"
                            required
                        />
                    </div>
                </div>
                <div class="col-xs-4 col-md-4 pull-right">
                    <div class="form-group">
                        <label for="cardCVC">{{ trans('app.payment.cvc') }}</label>
                        <input
                            type="number"
                            class="form-control"
                            v-model="card.cvc"
                            placeholder="CVC"
                            autocomplete="cc-csc"
                            required
                        />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <template v-if="service_id">
                        <button @click.prevent="sendPayment" :disabled="!validForm" class="subscribe btn btn-success btn-lg btn-block" type="button">
                            Start Subscription
                            <atom-spinner
                                :animation-duration="1000"
                                :size="25"
                                :color="'white'"
                                class="pull-right"
                                v-if="loading"
                            />
                        </button>
                    </template>
                    <template v-else>
                        <button @click.prevent="save" :disabled="!validForm" class="subscribe btn btn-success btn-lg btn-block" type="button">
                            Save
                            <atom-spinner
                                :animation-duration="1000"
                                :size="25"
                                :color="'white'"
                                class="pull-right"
                                v-if="loading"
                            />
                        </button>
                    </template>
                </div>
            </div>
            <br>
        </div>
    </div>
</template>

<script>
    import {AtomSpinner} from 'epic-spinners'
    export default {
        props: ['items', 'service_id'],
        components: {
            AtomSpinner
        },
        methods: {
            sendPayment(){
                if (this.validForm) {

                    this.$store.dispatch('storePayment', {method: 'credit_card', card:this.card, items:this.items, service_id: this.service_id})
                        .then(response => {
                            this.$router.push('/dealer/subscribe/')
                            this.$parent.dealer.active = true
                        })

                } else {
                    this.$swal({
                      title: 'Error',
                      text: trans('app.common.invalid_data'),
                      type: 'error',
                    })
                }
            },
            save(){
                if (this.editing) {
                    this.update()
                } else {
                    this.store()
                }
            },
            update(){
                this.$store.dispatch('updateBillingPayment', {id:this.card.id, draft:this.card, Base64Img:this.base64, images:this.images})
                .then(response => {
                        this.$router.push('/dealer/payment-method/')
                    })
            },
            store(){
                this.$store.dispatch('storeBillingPayment', {draft: this.card})
                    .then(response => {
                        this.$router.push('/dealer/payment-method/')
                    })
            }
        },
        data(){
            return {
                card: {
                    id: null,
                    cardnumber: '',
                    type: '',
                    expire_month: '',
                    expire_year: '',
                    cvc: '',
                    first_name: '',
                    last_name: '',
                    status: 1,
                    primary: 1,
                    account_number: '',
                    routing_number: '',

                    /*
                    cardnumber: '2221000000000009',
                    type: 'mastercard',
                    expire_month: '02',
                    expire_year: '2019',
                    cvc: '123',
                    first_name: 'Juan',
                    last_name: 'Palencia',
                    status: 1,
                    primary: 1,
                    account_number: '',
                    routing_number: '',
                     */
                },
            }
        },
        watch:{
            card: {
                handler(value){
                    if (value.cardnumber) {
                        this.card.type = this.cardType
                    }
                },
                deep: true,
            }
        },
        computed: {
            validForm(){
                return !this.loading && this.validFirstName && this.validLastName
                    && this.cardType != '' && this.validCardNumber && this.validMonth
                    && this.validYear && this.validCvv && this.validDate
            },
            validFirstName(){
                return  this.card.first_name.length != ''
            },
            validLastName(){
                return  this.card.last_name.length != ''
            },
            validCardNumber(){
                return  this.card.cardnumber.length != ''
            },
            validMonth(){
                return  this.card.expire_month > 0 && this.card.expire_month < 13
            },
            validYear(){
                return  this.card.expire_year >= this.currentYear
            },
            validCvv(){
                return  this.card.cvc.length > 2 && this.card.cvc.length < 4
            },
            validDate(){
                if (this.card.expire_year > this.currentYear) {
                    return true
                }
                return this.card.expire_month >= this.currentMonth
            },
            currentYear(){
                var d = new Date()
                return d.getFullYear()
            },
            currentMonth(){
                var d = new Date()
                return d.getMonth() + 1
            },
            cardType()
            {
                if (this.editing) {
                    return this.card.type
                }
                // visa
                var re = new RegExp("^4");
                if (this.card.cardnumber.match(re) != null)
                    return "visa";

                // Mastercard
                // Updated for Mastercard 2017 BINs expansion
                 if (/^(5[1-5][0-9]{14}|2(22[1-9][0-9]{12}|2[3-9][0-9]{13}|[3-6][0-9]{14}|7[0-1][0-9]{13}|720[0-9]{12}))$/.test(this.card.cardnumber))
                    return "mastercard";

                // AMEX
                re = new RegExp("^3[47]");
                if (this.card.cardnumber.match(re) != null)
                    return "aMEX";

                // Discover
                re = new RegExp("^(6011|622(12[6-9]|1[3-9][0-9]|[2-8][0-9]{2}|9[0-1][0-9]|92[0-5]|64[4-9])|65)");
                if (this.card.cardnumber.match(re) != null)
                    return "discover";

                // Diners
                re = new RegExp("^36");
                if (this.card.cardnumber.match(re) != null)
                    return "diners";

                // Diners - Carte Blanche
                re = new RegExp("^30[0-5]");
                if (this.card.cardnumber.match(re) != null)
                    return "diners - Carte Blanche";

                // JCB
                re = new RegExp("^35(2[89]|[3-8][0-9])");
                if (this.card.cardnumber.match(re) != null)
                    return "jCB";

                // Visa Electron
                re = new RegExp("^(4026|417500|4508|4844|491(3|7))");
                if (this.card.cardnumber.match(re) != null)
                    return "visa Electron";

                return "";
            },
            loading(){
                return this.$store.state.Payment.loading
            },
            editing(){
                return this.card.id != null
            },
        },
        created(){
            if(this.$route.params.id){

                if (this.$store.getters.findBillingPayment(this.$route.params.id)) {
                    this.card = clone(this.$store.getters.findBillingPayment(this.$route.params.id))
                    this.card.cardnumber = this.card.hide_card_number
                } else {
                    //Add new method to get billing payment
                    this.$store.dispatch('getBillingPayment', this.$route.params.id)
                        .then(response => {
                            this.card = clone(this.$store.state.AdManager.solo)
                            this.get_image_urls()
                        })
                }
            }
        },
    }
</script>
<style>
.box-loading {
    background:#ffff;
    opacity: 0.5;
    filter: alpha(opacity=10);
}



/* CSS for Credit Card Payment form */
.credit-card-box .panel-title {
    display: inline;
    font-weight: bold;
}
.credit-card-box .form-control.error {
    border-color: red;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,0,0,0.6);
}
.credit-card-box label.error {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.credit-card-box .payment-errors {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.credit-card-box label {
    display: block;
}
/* The old "center div vertically" hack */
.credit-card-box .display-table {
    display: table;
}
.credit-card-box .display-tr {
    display: table-row;
}
.credit-card-box .display-td {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
}
/* Just looks nicer */
.credit-card-box .panel-heading img {
    min-width: 180px;
}
.cc-active {
    color: green !important;
}
</style>