<template>
    <div>
        <dealer-bar></dealer-bar>
        <div class="col-md-9 col-sm-8">
            <h2>Subscribe</h2>
            <div class="pricing-table three-cols margin-0">
                <div v-for="service in services" class="pricing-column" :class="service.own ? 'highlight accent-color' : ''">
                    <h3>{{ service.name }}</h3>
                    <div class="pricing-column-content">
                        <h4><span class="dollar-sign">$</span> {{ service.price }} </h4>
                        <template v-if="service.own">
                          <span class="interval">
                            {{ dealer.active ? trans('app.billingService.expires') : trans('app.billingService.expired') }}:
                            {{ dealer.services[0].pivot.expires | moment("MM-DD-YYYY") }} </span>
                        </template>
                        <template v-else>
                            <span class="interval">{{ service.frequency }}</span>
                        </template>

                        <div class="grid-content">
                            <p>{{ service.description }} </p>
                        </div>
                        <template v-if="! service.own">
                            <a @click="subscribe(service.id)" class="btn btn-primary">Subscribe</a>
                        </template>
                        <template v-else>
                            <a href="#" @click="renew(service.id)" class="btn btn-secondary">
                                {{ dealer.active ? 'Your plan' : 'Renew' }}
                            </a>
                        </template>
                    </div>
                </div>
            </div>

        </div>

    </div>
</template>
<script>
    import {AtomSpinner} from 'epic-spinners'
    export default {
        components: {
            AtomSpinner
        },
        data(){
            return {
                //
            }
        },
        created(){
            this.getServices()
        },
        methods: {
            getServices(){
                let params = {page: 1, target: '', orderBy: 'id', desc: true, rows: 3}
                this.$store.dispatch('getBillingServices', params)
            },
            subscribe(service_id){
                this.$router.push('/dealer/payment/' + service_id)
            },
            renew(service_id){
                if (! this.dealer.active) {
                    this.$router.push('/dealer/payment/' + service_id)
                }
            },
        },
        computed: {
            services(){
                return this.$store.state.BillingService.billingServices
            },
            dealer(){
                return this.$parent.dealer
            }

        }

    }
</script>
