<template>
    <div>
        <dealer-bar></dealer-bar>
        <div class="col-md-5 col-sm-5 col-md-offset-2">
            <div class="row">
                <div class="tabs">
                    <ul class="nav nav-tabs">
                        <li :class="paymentMethod == 'credit_card' ? 'active' : ''">
                            <a data-toggle="tab" href="#credit-card-tab" @click="paymentMethod = 'credit_card'">
                                <i class="fa fa-credit-card"></i> {{ trans('app.payment.credit_card') }}
                            </a>
                        </li>
                        <li v-if="service" :class="paymentMethod == 'paypal' ? 'active' : ''">
                            <a data-toggle="tab" href="#paypal-tab" @click="paymentMethod = 'paypal'">
                                <i class="fa fa-paypal"></i> Paypal
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="credit-card-tab" class="tab-pane active">
                            <payment-credit-card :items="items" :service_id="$route.params.service_id"/>
                        </div>
                        <div id="paypal-tab" class="tab-pane">
                            <payment-paypal :items="items" :service_id="$route.params.service_id"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import {AtomSpinner} from 'epic-spinners'
    export default {
        components: {
            AtomSpinner
        },
        data(){
            return {
                paymentMethod: 'credit_card',
                items: [
                    {
                        name: 'Carsyagoo',
                        description: 'Carsyagoo Subscription',
                        currency: 'USD',
                        quantity: '1',
                        tax: 1.3,
                        price: 18.70,
                    }
                ],
                service: this.$route.params.service_id,
            }
        },
        computed: {
            dealer(){
                return this.$parent.dealer
            }
        }
    }
</script>
