<template>
    <div class="panel panel-default credit-card-box">
        <div class="panel-heading" >
            <h3 class="panel-title display-td" >Paypal</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <p class="paypal-paragraph">Paypal is easiest way to pay online</p>
                <br>
                <p class="text-center">
                    <paypal-checkout
                        env="sandbox"
                        :amount="amount"
                        currency="USD"
                        :client="credentials"
                        @payment-authorized="sendPayment"
                        :button-style="buttonStyle"
                    ></paypal-checkout>
                </p>
                <br>
                <p class="paypal-paragraph"><strong>Note:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. </p>
            </div>
        </div>
    </div>
</template>
<script>
    import {AtomSpinner} from 'epic-spinners'
    export default {
        props: ['items', 'service_id'],
        components: {
            AtomSpinner
        },
        created() {
            this.$store.dispatch('getBillingService', this.service_id)

        },
        methods: {
            sendPayment(payload){
                this.$store.dispatch('storePayment', {method: 'paypal', items:this.items, service_id: this.service_id, paypal_response: payload})
                    .then(response => {
                        this.$router.push('/dealer/subscribe/')
                        this.$parent.dealer.active = true
                    })
            },
        },
        computed: {
            loading(){
                return this.$store.state.Payment.loading
            },
            amount(){
                return this.$store.state.BillingService.solo ? this.$store.state.BillingService.solo.price.toFixed(2) : '0'
            }
        },
        data(){
            return {
                credentials: {
                    sandbox: 'AZOzThBTSWwoDHsepMP4wwZTzohitfyq_PGSyQG4F5CEEGgFkP1_8w05dYm_qpM-W_ZzZoJquk558PDI',
                    production: 'CARSYAGOO-PRDUCTION-TOKEN'
                },
                buttonStyle: {
                    label: 'checkout',
                    size:  'medium',
                    shape: 'rect',
                    color: 'gold'
                },
            }
        }
    }
</script>
<style>
.paypal-paragraph{
    padding-left:5px;
}
</style>