<template>
  <div class="col-md-12">
    <div class="box box-solid box-danger" :class="loading ? 'box-loading' : ''">
        <div class="box-header with-border">
          <h3 class="box-title">{{ trans('app.offer.title') }}</h3>
        </div>
        <div class="box-body">
            <spinner v-if="loading" :size="200"/>
            <form class="form-inline pull-right">
                <div class="form-group mx-sm-6 mb-2">
                    <label class="sr-only">{{ trans('app.common.seacrh') }}</label>
                      <input v-model="target" :placeholder="trans('app.common.search')"  class="form-control" @keyup.enter="getOffers"/>
                </div>
            </form>
            <div class="clearfix"></div>
            <b-table ref="table" striped hover show-empty
                responsive
                :items="offers"
                @sort-changed="sortingChanged"
                :fields="fields"
                stacked="md"
                :filter="filter"
                :sort-by.sync="sortBy"
                :sort-desc.sync="sortDesc"
                :empty-text="trans('app.common.loading')"
           >
              <template slot="image"  slot-scope="row">
                <a :href="'/gallery/anouncement/' + row.item.ads_manager.id" target="_blank">
                    <img :src="row.item.ads_manager.main_image" width="120">
                    <br>
                    {{ row.item.ads_manager.make_name }} - {{ row.item.ads_manager.model_name }}
                </a>
              </template>
            </b-table>
            <b-row>
                <b-col class="my-1">
                  <b-pagination align="center" :total-rows="totalRows" :per-page="perPage" v-model="currentPage" class="my-0" @input="getOffers" />
                </b-col>
            </b-row>
        </div>
    </div>
  </div>
</template>

<style>
  .msj-alert{
    font-size: 15px;
  }
</style>

<script>
    export default {
        watch:{
            target(){
                this.getOffers()
            }
        },
        data(){
            return{
                currentPage: null,
                target: '',
                currentIndex: null,
                sortBy: 'id',
                sortDesc: true,
                showEdit: false,
                currentId: null,
                filter: null,
                items: null,
                fields: [
                    {
                        key: 'image',
                        label: trans('app.offer.ads'),
                        sortable: true,
                    },
                    {
                        key: 'name',
                        label: trans('app.offer.name'),
                        sortable: true,
                    },
                    {
                        key: 'phone',
                        label: trans('app.offer.phone'),
                        sortable: true,
                    },
                    {
                        key: 'amount',
                        label: trans('app.offer.amount'),
                        sortable: true,
                    },
                ],
                alert: {
                    msg: ''
                }
            }
        },
        created(){
            this.getOffers()
        },
        methods:{
              getOffers(){
                let params = {page: this.currentPage, target: this.target, orderBy: this.sortBy, desc: this.sortDesc}
                this.$store.dispatch('getOffers', params)
            },
            sortingChanged (ctx) {
                if (ctx.sortBy) {
                  this.sortBy = ctx.sortBy
                  this.sortDesc = ctx.sortDesc
                  this.currentPage = null
                  this.getOffers()
                }
            },
        },
        computed:{
            offers(){
                return this.$store.state.Offer.data
            },
            current_page(){
                return this.$store.state.Offer.currentPage
            },
            totalRows(){
                return this.$store.state.Offer.totalRows
            },
            perPage(){
                return this.$store.state.Offer.perPage
            },
            loading(){
               return this.$store.state.Offer.loading
            }
        }
    }
</script>