<template>
    <div>
        <dealer-bar></dealer-bar>
        <div class="col-md-9 col-sm-8">
            <h2>{{ trans('app.dealer.payment_method') }}</h2>
            <a href="#" @click="add" class="btn btn-xs btn-success">
              <i class="fa fa-plus" aria-hidden="true"></i>
            </a> {{trans('app.billingPayment.add')}}
            <hr>
             <template v-if="billingPayments.length > 0">
              <table class="table table-hover table-striped">
                  <thead>
                    <tr>
                        <th>{{ trans('app.billingPayment.cardnumber') }}</th>
                        <th>{{ trans('app.billingPayment.type') }}</th>
                        <th>{{ trans('app.billingPayment.code') }}</th>
                        <th>{{ trans('app.billingPayment.nameoncard') }}</th>
                        <th>{{ trans('app.common.actions') }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(billingPayment, index) in billingPayments">
                        <td>{{ billingPayment.hide_card_number }}</td>
                        <td>{{ billingPayment.type }}</td>
                        <td>{{ billingPayment.goodthru }}</td>
                        <td>{{ billingPayment.first_name}} {{ billingPayment.last_name}}</td>
                        <td>
                          <div class="pull-right">
                            <a :href="'#'" @click="edit(billingPayment.id)" class="btn btn-primary btn-xs">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                            <a :href="'#'" @click="remove(billingPayment, index)" target="blank" class="btn btn-warning btn-xs">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                          </div>
                        </td>
                    </tr>
                  </tbody>
              </table>
               <div class="text-center" v-if="totalRows > 5">
                <b-pagination
                  :total-rows="totalRows"
                  :per-page="perPage"
                  align="center"
                  v-model="currentPage"
                  class="my-0"
                  @input="getBillingPayments"
                />
              </div>
            </template>
        </div>
    </div>
</template>
<script>
    export default{
        data(){
            return {
                currentPage: null,
            }
        },
        computed: {
            dealer(){
                return this.$parent.dealer
            },
            billingPayments(){
                return this.$store.state.BillingPayment.billingPayments
            },
            current_page(){
                return this.$store.state.BillingPayment.currentPage
            },
            totalRows(){
                return this.$store.state.BillingPayment.totalRows
            },
            perPage(){
                return this.$store.state.BillingPayment.perPage
            },
            loading(){
               return this.$store.state.BillingPayment.loading
            }
        },
        created(){
            this.getBillingPayments()
        },
        methods: {
          getBillingPayments(){
            let params = {page: this.currentPage, target: '', orderBy: 'id', desc: true, dealer: this.dealer.id}
            this.$store.dispatch('getBillingPayments', params)
          },
          add(){
            this.$router.push('/dealer/add-payment-method')
          },
          edit(id){
            this.$router.push('/dealer/edit-payment-method/' + id)
          },
          remove(item, index){
              this.$swal({
                title: trans('app.common.delete_title'),
                text: trans('app.common.delete_text') + item.hide_card_number +'?',
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: trans('app.common.delete_confirm'),
                cancelButtonText: trans('app.common.0')
              }).then((result) => {
                if (result.value) {
                  this.$store.dispatch('removeBillingPayment', item.id)
                }
              })
          },
        }
    }
</script>