<template>
    <div>
        <dealer-bar></dealer-bar>
        <div class="col-md-9 col-sm-8">
            <h2>Dashboard</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus vel. Donec vel mauris quam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus vel. Donec vel mauris quam.</p>
            <div class="dashboard-block">
                <div class="dashboard-block-head">
                    <!-- <a href="user-dashboard-saved-cars.html" class="btn btn-default btn-sm pull-right">See all Ads (2)</a> -->
                    <h3>My Ads</h3>
                </div>
                <ads-item></ads-item>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        created(){
            if (! this.dealer.active) {
                this.$router.push({name: 'subscribe'})
            }
        },
        computed: {
            dealer(){
                return this.$parent.dealer
            }
        }
    }
</script>