<template>
    <div class="col-md-3 col-sm-4 users-sidebar-wrapper">
        <!-- SIDEBAR -->
        <div class="users-sidebar tbssticky">
            <a href="#" class="btn btn-block btn-primary add-listing-btn">New ad listing</a>
            <ul class="list-group">
                <template v-if="dealer.active">
                    <li class="list-group-item" :class="$router.history.current.name == 'dealer-home' || $router.history.current.name == 'dealer-dashboard' ? 'active' : ''">
                        <span class="badge">{{ dealer.adsCount }}</span> <a href="#" @click="linkTo('dealer-home')"><i class="fa fa-home"></i> {{ trans('app.dealer.dashboard') }}</a>
                    </li>

                    <li class="list-group-item" :class="$router.history.current.name == 'ads-create' ? 'active' : ''" >
                        <a href="#" @click="linkTo('ads-create')"><i class="fa fa-plus-square-o"></i> {{ trans('app.dealer.new_ad') }} </a>
                    </li>
                </template>

                <li class="list-group-item" :class="$router.history.current.name == 'profile' ? 'active' : ''">
                    <a href="#" @click="linkTo('profile')"><i class="fa fa-user"></i> {{ trans('app.dealer.profile') }}</a>
                </li>

                <li class="list-group-item" :class="$router.history.current.name == 'subscribe' ? 'active' : ''">
                    <a href="#" @click="linkTo('subscribe')"><i class="fa fa-thumb-tack"></i> {{ trans('app.dealer.subscribe') }}</a>
                </li>

                <li class="list-group-item" :class="$router.history.current.name == 'dealer-invoice' ? 'active' : ''">
                    <a href="#" @click="linkTo('dealer-invoice')"><i class="fa fa-usd"></i> {{ trans('app.dealer.invoices') }}</a>
                </li>

                <li class="list-group-item" :class="$router.history.current.name == 'dealer-payment-method' ? 'active' : ''">
                    <a href="#" @click="linkTo('dealer-payment-method')"><i class="fa fa-credit-card"></i> {{ trans('app.dealer.payment_method') }}</a>
                </li>

                <li class="list-group-item" :class="$router.history.current.name == 'dealer-social-network' ? 'active' : ''">
                    <a href="#" @click="linkTo('dealer-social-network')"><i class="fa fa-facebook"></i> {{ trans('app.dealer.social') }}</a>
                </li>
            </ul>
        </div>
    </div>
</template>
<script>
    export default {
        methods:{
            linkTo(route){
               this.$router.push({name: route})
            }
        },
        computed: {
            dealer(){
                return this.$parent.dealer
            }
        }

    }
</script>