<template>
<div>
  <b-modal v-model="show"   @hide="close">
        <b-container fluid>
            <div class="form-group ">
                <label class="col-form-label">Images:</label>
                <label class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Add a image" >
                        <span aria-hidden="true"> 
                            Select images
                            <i class="fa fa-paperclip"></i>
                            <b-form-file  
                            ref="fileinput"
                            multiple
                            accept=".jpg, .png" 
                            placeholder="Choose a file..." 
                            @change="processFile($event)"
                            style="display: none"/>
                        </span>
                </label>
            </div>
              
              
             
        </b-container>
    <div slot="modal-footer" class="pull-right">
        <b-btn class="btn btn-outline-danger" @click="close"> {{trans('app.buttons.close')}}</b-btn>
        
        <b-btn class="btn btn-outline-primary" @click="save">save</b-btn>

    </div>
    <!-- </b-form>     -->
  </b-modal>
</div>
</template>

<script>
    export default {
        props: ['show', 'draft'],
        data(){
            return{
                                
            }
        },
        created(){          
        },
        methods:{
            
            close(){
                this.$emit('close')
                this.images = []
                
            },
            save(){
                // if (this.draft.id) {
                //     this.update()
                // } else{
                //     this.store()
                // }
                // this.close()
            },
            update(){
                
                // this.$store.dispatch('updateBlogCategory', {id:this.draft.id, draft:this.draft, Base64Img:this.base64, images:this.images})
            },
            store(){
                // this.$store.dispatch('storeBlogCategory',
                // {draft:this.draft, Base64Img:this.base64, images:this.images,})

            },
        },
        computed:{
            
            
        }
    }
</script>