<template>
	<div>
		<div class="form-group ">
			<label class="col-form-label">Images:</label>
			<label class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Add a image" >
					<span aria-hidden="true"> 
						Select images
						<i class="fa fa-paperclip"></i>
						<b-form-file  
						ref="fileinput"
						multiple
						accept=".jpg, .png" 
						placeholder="Choose a file..." 
						@change="processFile($event)"
						style="display: none"/>
					</span>
			</label>
		</div>

		<div class="form-group ">
			<template v-if="images.length > 0">
				<b-container  class="p-4 bg-dark">
					<b-row>
					    <vue-gallery :images="image_urls" :index="index"></vue-gallery>
					    <div  v-for="(image,imageIndex) in image_urls" class="top" >
			    			<b-col>
								<button class="btn btn-danger  " @click="remove(imageIndex)">
									<i class="fa fa-trash-o"></i>
	        					</button>
									<b-img thumbnail fluid width="180" height="180" :src="image"  @click="index = imageIndex" :key="imageIndex" alt="Thumbnail" />
							</b-col>
						</div>
					</b-row>
				</b-container>
			</template>
		</div>

		<template v-if="draft.id != null">
			<template v-if="images.length > 0">
				
			<div class="form-group">
				<button class="btn btn-primary btn-block" @click="saveImage()">
					<i>add images</i>
				</button>
			</div>
			</template>

		</template>


		<template v-if="Image.images.length > 0" >
			<hr>
			<h1>Images</h1>
			<table class="table table-hover">
				<thead>
					<th>#</th>
					<th>Image</th>
					<th>Action</th>
				</thead>
				<tbody>
					<tr v-for="image in Image.images">
						<td>{{image.id}}</td>
						<td>
				  			<b-img thumbnail fluid width="180" height="180" :src="'storage/products/'+image.url" alt="Thumbnail" />
						</td>
						<td>
							<button class="btn btn-danger" @click="removeImage(image)">
								<i class="fa fa-trash-o"> </i>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</template>
	</div>
</template>

<script>
	import { mapState, mapGetters, mapActions } from 'vuex'

	export default{
		props:['draft','images'],
		data(){
			return{
				index:null,
			}
		},
		created(){
			draft:this.images

		},
		computed:{
			...mapState(['Image']),
			disabledButtonImage(){
				return this.images == ''
			},
			image_urls(){
	            var result = [];
	            for (var i = 0; i < this.images.length; i++) {
	                result.push(this.images[i].Base64Img);
	            }
	            return result;
        	}
		},
		methods:{
			saveImage(){
				this.$store.dispatch('createImage', { id:this.draft.id, image:this.images})
				this.$refs.fileinput.reset(); 
				this.images = []
			},
			getImages(){
				let id = this.draft.id
				this.$store.dispatch('getImages', { id:id }) 
			},
			removeImage(image){
				this.$store.dispatch('removeImage', image.id) 
			},
 			processFile(e) {
				let files = e.target.files || e.dataTransfer.files;
				for (var i = 0; i < files.length; i++) {
					var file = files[i];
	                var reader = new FileReader();
					reader.readAsDataURL(file); 
					reader.onload = (function(f, images){
	                    return function(e) {
	                        images.push({
	                            url: f.name.replace(' ', ''),
	                            Base64Img: e.target.result,
	                        });
	                    };
	                })(file, this.images);
				}
	        },
	        remove(index){
	            if (index > this.images.length) {
	                this.draft.splice(index-this.images.length, 1);
	            }
	            else{
	                this.images.splice(index, 1);
	            }            
       	 	},
		}
	}
</script>