<template>
  <ProductZoomer v-if="ready"
    :base-images="images"
    :base-zoomer-options="zoomerOptions"
  />
</template>
<script>
export default {
  props: ['anouncement'],
  created(){
      this.loadImages()
  },
  methods: {
    loadImages(){
        for (var i = 0; i < this.anouncement.images.length; i++) {
            this.images.normal_size.push({
              id: i + 1,
              url: this.anouncement.images[i].urlphoto
            })
        }
        this.ready = true;
    }
  },
  data () {
    return {
        ready: false,
        images: {
            normal_size: [],
        },
        zoomerOptions: {
            zoomFactor: 4,
            pane: 'container-round',
            hoverDelay: 300,
            namespace: 'container-zoomer',
            move_by_click: true,
            scroll_items: 4,
            move_button_style: 'angle-double',
            choosed_thumb_border_color: "#ff3d00",
        }
    }
  }
}
</script>
<style>
  .responsive-image{
    height: 100%;
  }
</style>