<template>
    <form>
        <div class="panel panel-default">
            <div class="panel-heading"><h3>Personal</h3></div>
            <div class="panel-body">
                <div class="col-md-8 col-md-offset-2">
                    <div class="form-group">
                        <label :class="validValue(draft.first_name) ? 'label-valid' : 'label-required'">First Name</label>
                        <input class="form-control input-lg" type="text" v-model="draft.first_name">
                    </div>
                    <div class="form-group">
                        <label :class="validValue(draft.last_name) ? 'label-valid' : 'label-required'">Last Name</label>
                        <input class="form-control input-lg" type="text" v-model="draft.last_name">
                    </div>
                    <div class="form-group">
                        <label :class="validValue(draft.address) ? 'label-valid' : 'label-required'">Address</label>
                        <input-address v-model="draft.address" id="address" reference="address"></input-address>
                    </div>
                    <div class="form-group">
                        <label :class="validValue(draft.day_phone) ? 'label-valid' : 'label-required'">Daytime Phone</label>
                        <input class="form-control input-lg" type="text" v-model="draft.day_phone">
                    </div>
                    <div class="form-group">
                        <label :class="validValue(draft.evening_phone) ? 'label-valid' : 'label-required'">Evening Phone</label>
                        <input class="form-control input-lg" type="text" v-model="draft.evening_phone">
                    </div>
                    <div class="form-group">
                        <label :class="validEmail(draft.email) ? 'label-valid' : 'label-required'">Email</label>
                        <input class="form-control input-lg" type="text" v-model="draft.email">
                    </div>
                    <div class="form-group">
                        <label :class="validValue(draft.birthday) ? 'label-valid' : 'label-required'">Birthday</label><br>
                        <input-date v-model="draft.birthday"></input-date>
                    </div>
                    <div class="form-group">
                        <label :class="validValue(draft.residence) ? 'label-valid' : 'label-required'">Time at Residence (Months)</label>
                        <input class="form-control input-lg" type="text" v-model="draft.residence">
                    </div>
                    <div class="form-group">
                        <label :class="validValue(draft.mortgage) ? 'label-valid' : 'label-required'">Mortgage/Rent Payment (per months)</label>
                        <input class="form-control input-lg" type="text" v-model="draft.mortgage">
                    </div>
                    <div class="form-group">
                        <label :class="validValue(draft.license) ? 'label-valid' : 'label-required'">Drivers Lic. #</label>
                        <input class="form-control input-lg" type="text" v-model="draft.license">
                    </div>
                    <div class="form-group">
                        <label :class="validValue(draft.social_security) ? 'label-valid' : 'label-required'">Social Security Number</label>
                        <input class="form-control input-lg" type="text" v-model="draft.social_security">
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading"><h3>Employment</h3></div>
            <div class="panel-body">
                <div class="col-md-8 col-md-offset-2">
                    <div class="form-group">
                        <label :class="validValue(draft.employer_name) ? 'label-valid' : 'label-required'">Employer Name</label>
                        <input class="form-control input-lg" type="text" v-model="draft.employer_name">
                    </div>
                    <div class="form-group">
                        <label :class="validValue(draft.employer_address) ? 'label-valid' : 'label-required'">Employer Address</label>
                        <input-address v-model="draft.employer_address" id="employer_address" reference="employer_address"></input-address>
                    </div>
                    <div class="form-group">
                        <label :class="validValue(draft.business_phone) ? 'label-valid' : 'label-required'">Business Phone</label>
                        <input class="form-control input-lg" type="text" v-model="draft.business_phone">
                    </div>
                    <div class="form-group">
                        <label :class="validValue(draft.employment_status) ? 'label-valid' : 'label-required'">Employment Status</label>
                        <select class="form-control input-lg" v-model="draft.employment_status">
                            <option value="-1">--Select--</option>
                            <option value="Full Time"> Full Time</option>
                            <option value="Part Time"> Part Time</option>
                            <option value="Retired"> Retired</option>
                            <option value="Military"> Military</option>
                            <option value="Self-Employed"> Self-Employed</option>
                            <option value="Contract"> Contract</option>
                            <option value="Seasonal"> Seasonal</option>
                            <option value="Temporary"> Temporary</option>
                            <option value="Unemployed"> Unemployed</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label :class="validValue(draft.occupation) ? 'label-valid' : 'label-required'">Occupation</label>
                        <input class="form-control input-lg" type="text" v-model="draft.occupation">
                    </div>
                    <div class="form-group">
                        <label :class="validValue(draft.job_time) ? 'label-valid' : 'label-required'">Time on Job (Years)</label>
                        <input class="form-control input-lg" type="text" v-model="draft.job_time">
                    </div>
                    <div class="form-group">
                        <label :class="validValue(draft.income) ? 'label-valid' : 'label-required'">Monthly Income (net)</label>
                        <input class="form-control input-lg" type="text" v-model="draft.income">
                    </div>
                    <div class="form-group">
                        <label :class="validValue(draft.consent) ? 'label-valid' : 'label-required'">Consent</label>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" v-model="draft.consent"> I agree that by submitting this application, I authorize and give this dealership, as well as any potential financing source this dealership presents this application to, my consent to obtain my credit report from any credit reporting agency used to complete an investigation of my credit.
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading"><h3>Trade-In Details</h3></div>
            <div class="panel-body">
                    <div class="col-md-8 col-md-offset-2">
                    <div class="form-group">
                        <label>Trade-in Make</label>
                        <input class="form-control input-lg" type="text" v-model="draft.trade_make">
                    </div>
                    <div class="form-group">
                        <label>Trade-in Model</label>
                        <input class="form-control input-lg" type="text" v-model="draft.trade_model">
                    </div>
                    <div class="form-group">
                        <label>Trade-in Year</label>
                        <input class="form-control input-lg" type="text" v-model="draft.trade_year">
                    </div>
                    <div class="form-group">
                        <label>Trade-in Mileage</label>
                        <input class="form-control input-lg" type="text" v-model="draft.trade_mileage">
                    </div>
                    <div class="form-group">
                        <label>Trade-In Amount</label>
                        <input class="form-control input-lg" type="text" v-model="draft.trade_amount">
                    </div>
                    <div class="form-group">
                        <label>Additional Comments</label>
                        <input class="form-control input-lg" type="text" v-model="draft.trade_comments">
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading"><h3>Loan Information</h3></div>
            <div class="panel-body">
                    <div class="col-md-8 col-md-offset-2">
                    <div class="form-group">
                        <label :class="validValue(draft.desired_monthly_payment) ? 'label-valid' : 'label-required'">Desired Monthly Payment</label>
                        <input class="form-control input-lg" type="text" v-model="draft.desired_monthly_payment">
                    </div>
                    <div class="form-group">
                        <label :class="validValue(draft.desired_term_length) ? 'label-valid' : 'label-required'">Desired Term Length</label>
                        <input class="form-control input-lg" type="text" v-model="draft.desired_term_length">
                    </div>
                    <div class="form-group">
                        <label :class="validValue(draft.desired_down_payment) ? 'label-valid' : 'label-required'">Desired Down Payment</label>
                        <input class="form-control input-lg" type="text" v-model="draft.desired_down_payment">
                    </div>
                    <div class="form-group">
                        <label :class="validValue(draft.desired_loan_amount) ? 'label-valid' : 'label-required'">Desired Loan Amount</label>
                        <input class="form-control input-lg" type="text" v-model="draft.desired_loan_amount">
                    </div>
                </div>
            </div>
        </div>
        <p class="text-justify">By submitting this application, I certify that all information herein is true and complete. I agree I am providing this information to the dealer identified in this application and acknowledge that my information may be shared pursuant to the dealer’s privacy policy, if applicable. I hereby authorize this dealer, and any financial institution engaged as a service provider by this dealer, to retain this application and to check and verify my credit, employment and salary history. By submitting this application, I acknowledge I am authorizing this dealer to check my credit.</p>
        <button :disabled="! validForm" @click.prevent="send" class="btn btn-primary">Submit Application
            <atom-spinner
                :animation-duration="1000"
                :size="25"
                :color="'white'"
                class="pull-right"
                v-if="loading"
            />
        </button>
    </form>
</template>
<script>
    import {AtomSpinner} from 'epic-spinners'
    export default {
        components: {
            AtomSpinner
        },
        props:['ads_id'],
        data(){
            return {
                loading: false,
                draft: {
                    ads_id: this.ads_id,
                },
            }
        },
        methods: {
            send(){
                this.loading = true
                axios.post('/api/credit-application', this.draft)
                    .then(response => {
                        Vue.toasted.show(response.data.message, {icon: 'check', type: 'success'})
                        this.loading = false
                    })
                    .catch(error => {
                        Vue.toasted.show(error.message, {icon: 'exclamation-triangle', type: 'error'})
                        this.loading = false
                    })
            },
            validValue(val){
                return typeof val != 'undefined' && val != ''
            },
            validEmail(value){
                var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(String(value).toLowerCase());
            },
        },
        computed: {
            validForm(){
                return this.validValue(this.draft.first_name) &&
                    this.validValue(this.draft.last_name) &&
                    this.validValue(this.draft.address) &&
                    this.validValue(this.draft.day_phone) &&
                    this.validValue(this.draft.evening_phone) &&
                    this.validEmail(this.draft.email) &&
                    this.validValue(this.draft.birthday) &&
                    this.validValue(this.draft.residence) &&
                    this.validValue(this.draft.mortgage) &&
                    this.validValue(this.draft.license) &&
                    this.validValue(this.draft.social_security) &&
                    this.validValue(this.draft.employer_name) &&
                    this.validValue(this.draft.employer_address) &&
                    this.validValue(this.draft.business_phone) &&
                    this.validValue(this.draft.employment_status) &&
                    this.validValue(this.draft.occupation) &&
                    this.validValue(this.draft.job_time) &&
                    this.validValue(this.draft.income) &&
                    this.draft.consent &&
                    this.validValue(this.draft.desired_monthly_payment) &&
                    this.validValue(this.draft.desired_term_length) &&
                    this.validValue(this.draft.desired_down_payment) &&
                    this.validValue(this.draft.desired_loan_amount)
            }
        }
    }
</script>
<style>
.label-valid{
    color: green !important;
}
.label-required{
    color: red !important;
}
</style>