<template>
    <div>
        <div class="loan-calculations">
            <input v-model="loan.amount" type="number" class="form-control" placeholder="Loan amount">
            <div class="form-group">
                <label>Loan term in months</label>
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-info active"  @click="loan.period = 24">
                        <input type="radio" name="Loan Tenure" id="option1" autocomplete="off" checked> 24
                    </label>
                    <label class="btn btn-info" @click="loan.period = 36">
                        <input type="radio" name="Loan Tenure" id="option2" autocomplete="off"> 36
                    </label>
                    <label class="btn btn-info" @click="loan.period = 48">
                        <input type="radio" name="Loan Tenure" id="option3" autocomplete="off"> 48
                    </label>
                    <label class="btn btn-info" @click="loan.period = 60">
                        <input type="radio" name="Loan Tenure" id="option3" autocomplete="off"> 60
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input v-model="loan.rate" type="number" class="form-control" placeholder="Rate of Interest eg.10">
            </div>
        </div>
        <div class="calculations-result">
            <span class="meta-data">This is the payment you need to make per month</span>
            <span class="loan-amount">${{  payment | money}}<small>/month</small></span>
        </div>
    </div>
</template>
<script>
    export default {
        data(){
            return {
                loan: {
                    amount: null,
                    period: 24,
                    rate: null,
                },
            }
        },
        computed: {
            payment(){
                if (!(this.loan.amount && this.loan.rate)) {
                    return 0
                }
                var rate = this.loan.rate / 100
                return (this.loan.amount * rate) / (1 - Math.pow(1 + rate, -this.loan.period))
            }
        },
    }
</script>