<template>
    <div>
        <div class="single-listing-images" >
            <div class="featured-image format-image">
                <a href="#"  @click="activeGallery"  class="media-box"><img :src="anouncement.main_image" alt=""></a>
            </div>
            <!-- swiper -->
            <swiper :options="swiperOption">
              <div v-for="image in anouncement.images">
                <swiper-slide>
                  <a href="#"  @click="activeGallery" class="media-box">
                      <img :src="image.urlphoto" alt="datailImage">
                  </a>
                </swiper-slide>
              </div>
              <div class="swiper-pagination" slot="pagination"></div>
              <div class="swiper-button-prev" slot="button-prev"></div>
              <div class="swiper-button-next" slot="button-next"></div>
            </swiper>
            <gallery :images="images" :index="index" @close="index = null"></gallery>
            <template v-if="index!=null">
                <div
                  class="image"
                  v-for="(image, imageIndex) in images"
                  :key="imageIndex"
                  @click="index = imageIndex"
                  :style="{ backgroundImage: 'url(' + image.urlphoto + ')', width: '300px', height: '200px' }"
                ></div>
            </template>
        </div>
    </div>
</template>

<script>
    import VueGallery from 'vue-gallery';
      export default {
        props:['anouncement'],
        data(){
            return{
                index: null,
                imagesLis:[],
                swiperOption: {
                  slidesPerView: 7,
                  spaceBetween: 620,
                  slidesPerGroup: 3,
                  loop: true,
                  loopFillGroupWithBlank: true,
                  pagination: {
                    el: '.swiper-pagination',
                    clickable: true
                  },
                  navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev'
                  }
                }
            }
        },
        components: {
          'gallery': VueGallery
        },
        methods:{
            activeGallery(){
                this.index=1
            },
        },
        created(){
        },
        computed:{
            images(){
               
               let arr = this.$store.state.AdManager.anouncement.images
                  for (var i = arr.length - 1; i >= 0; i--) {
                    arr[i]
                    var obj={};
                   obj = arr[i].urlphoto;
                      this.imagesLis.push(obj);
                  }
               return this.imagesLis;
            },
            
        }
    }
</script>
<style>
    .vote-icon {
        font-size: 20px !important;
        cursor: pointer;
    }
    .vote-font {
        font-size: 15px !important;
    }
    .fa-heart-o:hover {
        color: red;
    }
    .fa-heart {
        color: red;
    }
    .fa-heart:hover {
        color: gray;
    }
</style>