	<template>
	<div :class="loading ? 'box-loading' : ''">
		<gallery-navbar/>
		<!-- Start Body Content -->
		<div class="main" role="main">
		<div id="content" class="content full">
			<div class="container">
				<div class="row">
					<!-- Search Filters -->
					<anouncement-search></anouncement-search>
					<!-- Listing Results -->
					<div class="col-md-9 results-container">
						<div class="results-container-in">
							<div class="waiting" style="display:none;">
							</div>
							<div id="results-holder" class="results-grid-view">
								<!-- Result Item -->
								<template v-if="anouncements.length == 0">
									<div class="alert alert-warning fade in"> <a class="close" data-dismiss="alert" href="#">&times;</a> <strong>Empty search!</strong> Your search it's empty. Please try again</div>
								</template>
								<template v-else>
                      <div class="row">
                          <!-- <ul class="owl-carousel carousel-fw" id="vehicle-slider" data-columns="4" data-autoplay="" data-pagination="yes" data-arrows="no" data-single-item="no" data-items-desktop="4" data-items-desktop-small="3" data-items-tablet="2" data-items-mobile="1"> -->
                          <div v-for="anouncement in anouncements" class="col-md-3 col-sm-12">
                            <div class="scroll-latests" style="height: 350px; overflow: auto;">
                              <router-link :to="'/gallery/anouncement/' + anouncement.id" class="media-box">
                              <img :src="anouncement.main_image" alt=""></router-link>
                              <div class="vehicle-block-content">
                                <h5 class="vehicle-title"><router-link :to="'/gallery/anouncement/' + anouncement.id">
                                {{anouncement.year}} {{anouncement.make_name}}  {{anouncement.model_name}} {{anouncement.specific_model}} </router-link></h5>
                                <span class="vehicle-meta">by {{anouncement.dealer.full_name}} <a :href="'tel:+' + anouncement.dealer.original_phone" style="color:blue;">{{ anouncement.dealer.original_phone }}</a> </span>
                                <span class="vehicle-cost">${{ anouncement.price | money}}</span>
                              </div>
                            </div>
                          </div>
                          <!-- </ul> -->
                      </div>
	</template>
								<div class="clearfix"></div>
							</div>
						</div>
					</div>
				</div>
			<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>
			<center v-if="totalRows > perPage">
				<b-pagination
					:total-rows="totalRows"
					:per-page="perPage"
					align="center"
					v-model="currentPage"
					class="my-0"
					@input="getAnouncements"
					/>
			</center>
		</div>
	</div>
		<!-- End Body Content -->

	 <atom-spinner
		  :animation-duration="1000"
		  :size="200"
		  :color="'#F23827'"
		  class="atom-spinner"
		  v-if="loading"
	 />
	</div>
</template>

<script>
	import {AtomSpinner} from 'epic-spinners'
	export default {
		components: {
			AtomSpinner
		},
		props: ['user'],
		provide: {user: this.user},
		data(){
			return {
				currentPage: 1,
				sortBy: 'id',
				sortDesc: true,
				target: '',
				draft:{},
			}
		},
		created(){
			if (this.filter != 0) {
				this.draft = this.filter
			 }
			this.getAnouncements()
			this.listModels()
			this.listBodyTypes()
			this.listColors()
			this.listFuels()
		},
		methods: {
			listModels(){
				this.$store.dispatch('listModels')
			},
			listFuels(){
				this.$store.dispatch('listFuels')
			},
			listBodyTypes(){
				this.$store.dispatch('listBodyTypes')
			},
			selectTransmission(index){
				let arreglo = this.$store.state.Transmission.list
				for (var i = arreglo.length - 1; i >= 0; i--) {
				   if (index == arreglo[i].id ) {
					  return arreglo[i].name;
				   }
				}
			},
			selectColor(index){
				let arreglo = this.$store.state.Color.list
				for (var i = arreglo.length - 1; i >= 0; i--) {
				   if (index == arreglo[i].id ) {
					  return arreglo[i].name;
				   }
				}
			},
			listColors(){
					this.$store.dispatch('listColors')
			},
			getAnouncements(){

				let params = {page: this.currentPage, target: this.target, orderBy: this.sortBy, desc: this.sortDesc, rows: 8, draft: this.draft, state: this.state}
				this.$store.dispatch('getAnouncements', params)
			},
			search(target){
				this.target = target
			},
		},
		computed:{
			filter(){
				return this.$parent.filter
			},
			anouncements(){
				return this.$store.state.AdManager.adManagers
			},

			current_page(){
				return this.$store.state.AdManager.currentPage
			},
			totalRows(){
				return this.$store.state.AdManager.totalRows
			},
			perPage(){
				return this.$store.state.AdManager.perPage
			},
			loading(){
			   return this.$store.state.AdManager.loading
			},
			current_category_id(){
			   return this.$store.state.Post.currentCategoryId
			},
			current_tag(){
				if (this.posts.length > 0) {
					for (var i = 0; i < this.posts[0].tags.length; i++) {
						if(this.posts[0].tags[i].id == this.tag_id){
							return this.posts[0].tags[i].name
						}
					}
				}
			},
			state(){
				return this.$route.params.state
			},
			address(){
				return this.$store.state.AdManager.address
			}
		},
		watch:{
			draft(value){
				this.getAnouncements()
			},
			target(value){
				this.getAnouncements()
			},
		},
	}
</script>
<style>
	.fade-enter-active, .fade-leave-active {
	  transition: opacity .5s
	}
	.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
	  opacity: 0
	}
	ul.ul-scroll {
	    width: 100%;
	    height: 150px;
	    overflow: auto;
	}
	.ads-img{
		height: 180px !important;
		width: auto;
	}
	.article-scroll{
		height: 400px !important;
		width: auto;
		overflow: auto;
	}
</style>