<template>
    <sweet-modal ref="modal"
      @close="$emit('close')"
    >
      <div class="modal-header">
          <h4>{{ trans('app.offer.front_title') }}</h4>
      </div>
      <div class="modal-body">
          <p>{{ trans('app.offer.intro') }}</p>
          <br>
          <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-user"></i></span>
              <input v-model="offer.name" type="text" class="form-control" :class="! validValue(offer.name) ? 'has-error' : ''" :placeholder="trans('app.offer.name')">
          </div>
          <br>
          <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
              <input v-model="offer.email" type="text" class="form-control" :class="! validEmail ? 'has-error' : ''" :placeholder="trans('app.offer.email')">
          </div>
          <br>
          <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-phone"></i></span>
              <input v-model="offer.phone" type="text" class="form-control" :class="! validValue(offer.phone) ? 'has-error' : ''" :placeholder="trans('app.offer.phone')">
          </div>
          <br>
          <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
              <input v-model="offer.amount" type="number" class="form-control" :class="! validAmount ? 'has-error' : ''" :placeholder="trans('app.offer.amount')">
          </div>
          <br>
          <button @click="store" class="btn btn-primary btn-lg" :disabled="! validForm">
            Submit
          </button>
              <atom-spinner
                :animation-duration="1000"
                :size="50"
                color="#f06e61"
                class="pull-right"
                v-if="loading"
              ></atom-spinner>

      </div>
    </sweet-modal>
</template>

<script>
    import {AtomSpinner} from 'epic-spinners'

    export default {
      components: {
        AtomSpinner
      },
      props: ['adManagerId', 'show'],
      data(){
        return {
          offer: {
            name: '',
            phone: '',
            email: '',
            amount: null,
            ads_manager_id: this.adManagerId,
          },
          loading: false
        }
      },
      methods: {
        store(){
          this.loading = true
          this.$store.dispatch('storeOffer', {offer: this.offer})
            .then((response) => {
              this.offer.name = ''
              this.offer.email = ''
              this.offer.phone = ''
              this.offer.amount = null
              this.$refs.modal.close()
              this.loading = false
            })
        },
        validValue(value){
          return value != ''
        },
      },
      watch: {
        show(val){
          if (val) {
            this.$refs.modal.open()
          }
        }
      },
      computed: {
        validForm(){
          return this.validValue(this.offer.name) &&
            this.validValue(this.offer.phone) &&
            this.validAmount &&
            this.validEmail &&
            ! this.loading
        },
        validEmail(){
            var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(String(this.offer.email).toLowerCase());
        },
        validAmount(){
          return this.offer.amount > 0
        },
      }
    }
</script>
<style>
  .atom-spinner{
    top: 489px;
    left: 361px;
  }
</style>