<template>
<div>
  <h3>{{ trans('app.common.related') }}</h3>
  <carousel :per-page="1" :navigate-to="someLocalProperty" mouse-drag="false">
    <template v-for="(n, tab_index) in tabs_count">
      <slide>
        <div :title="index" v-for="(vehicle, index) in relatedVehicles" v-if="index >= min(tab_index) && index < max(tab_index)" class="vehicle-block format-standard" :class="'col-md-' + (Math.trunc(12 / columns))">
            <a :href="'/gallery/anouncement/' + vehicle.id" class="media-box">
              <img :src="vehicle.main_image" alt="" class="car-thumbnail" ></a>
            <h5 class="vehicle-title text-center"><a :href="'/gallery/anouncement/' + vehicle.id">{{ vehicle.year }} {{ vehicle.make_name }} {{ vehicle.model_name }} {{ vehicle.make_name }}</a></h5>
            <span class="vehicle-meta">by <abbr class="user-type" title="Listed by an individual user">{{ vehicle.dealer_name }}</abbr> <a :href="'tel:+' + vehicle.dealer.original_phone" style="color:blue;"> {{ vehicle.dealer.original_phone }}</a> </span>
            <a :href="'/gallery/anouncement/' + vehicle.id" title="View all Sedans" class="vehicle-body-type">
              <img src="/images/body-types/sedan.png" class="ads-img" alt="">
            </a>
            <span class="vehicle-cost">${{ vehicle.price | money}}</span>
        </div>
      </slide>
    </template>
  </carousel>
</div>
</template>
<script>
    export default {
        props:['relatedVehicles'],
        data(){
          return {
            columns: trans('settings.related.columns')
          }
        },
        methods: {
          min(tab_index){
            return tab_index * this.columns
          },
          max(tab_index){
            return parseInt(this.columns)+(tab_index * this.columns)
          }
        },
        computed: {
          tabs_count(){
            return Math.ceil(this.relatedVehicles.length / this.columns)
          }
        }
    }
</script>
<style>
    .li-active{
        background-color: blue;
        color: white !important;
    }
    .vote-icon {
        font-size: 20px !important;
        cursor: pointer;
    }
    .vote-font {
        font-size: 15px !important;
    }
    .fa-heart-o:hover {
        color: red;
    }
    .fa-heart {
        color: red;
    }
    .fa-heart:hover {
        color: gray;
    }
</style>