<template>
    <div class="widget sidebar-widget widget_recent_reviews">
        <h4 class="widgettitle">Reviews Average</h4>
        <div class="review-status text-center">
            <strong>{{ realAverage  | review }} <i class="fa fa-star" style="color: #efc20f;" aria-hidden="true"></i></strong>
            <span>Out of 5</span>
        </div>
        <h4 class="widgettitle">Latest reviews</h4>

        <div v-if="value.id != review.id && index < 3" v-for="(review, index) in reviews" :key="index" class="post-block post-review-block">
            <div class="review-status">
                <strong>{{ review.value}}</strong>
            </div>
            <h3 class="post-title">{{ review.comment }}</h3>
        </div>
        <template v-if="user">
            <h4 class="widgettitle">Your review</h4>
            <hr>
            <template v-if="value">
                <rate :length="5" v-model="value.value"/>
                <textarea class="form-control" v-model="value.comment"></textarea>
            </template>
            <button @click="save" class="btn btn-primary btn-lg orange" :disabled="! validForm">
                Send
                <atom-spinner
                  :animation-duration="1000"
                  :size="25"
                  :color="'white'"
                  class="pull-right"
                  v-if="loading"
                    ></atom-spinner>
            </button>
        </template>
    </div>
</template>
<script>
    import {AtomSpinner} from 'epic-spinners'

    export default {
        components: {
            AtomSpinner
        },
        props: ['value', 'reviews', 'average', 'user'],
        data(){
            return {
                new_average: null
            }
        },
        methods: {
            save(){
                this.$store.dispatch('storeReview', this.value)
                    .then(response => {
                        this.new_average = response.data.new_average
                    })
                this.$emit('input', this.value)
            },
        },
        computed: {
            validForm(){
                return this.value && this.value.value > 0 && this.value.comment != ''
            },
            loading(){
                return this.$store.state.Review.loading
            },
            realAverage(){
                return this.new_average ? this.new_average : this.average
            }
        },
    }
</script>