<template>
    <!-- Search Filters -->
    <div class="col-md-3 search-filters" id="Search-Filters">
        <div class="filters-sidebar">
            <h3>Refine Search</h3>
            <div class="accordion" id="toggleArea">
                <!-- Filter by Year -->
                <div class="accordion-group panel">
                    <div v-on:click="showYear = !showYear" class="accordion-heading togglize"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#" href="#collapseOne">Year<i class="fa fa-angle-down"></i> </a> </div>
                    <transition name="fade">
                        <div v-if="showYear" >
                            <div class="accordion-inner">
                                <div class="form-inline">
                                    <div class="form-group">
                                        <label>Min Year</label>
                                        <select v-model="min_year" name="min_year" class="form-control selectpicker">
                                            <option selected>Any</option>
                                            <option v-for="(year, index) in years" :value="year" >{{year}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group last-child">
                                        <label>Max Year</label>
                                        <select v-model="max_year" name="min_year" class="form-control selectpicker">
                                            <option selected>Any</option>
                                            <option v-for="(year, index) in years" :value="year" >{{year}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </transition>
                </div>
                <!-- Filter by Make -->
                <div class="accordion-group panel">
                    <div v-on:click="showMake = !showMake" class="accordion-heading togglize"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#" href="#collapseOne">Make<i class="fa fa-angle-down"></i> </a> </div>
                    <transition name="fade">
                        <div v-if="showMake" >
                            <div class="accordion-inner">
                                <select v-model="make_id" name="make_id" class="form-control selectpicker">
                                    <option selected value="">Any</option>
                                    <option v-for="make in makes" :value="make.id" >{{make.name}} <!-- ({{ make.anouncement_count }}) --></option>
                                </select>
                            </div>
                        </div>
                    </transition>
                </div>
                <!-- Filter by Model -->
                <div class="accordion-group panel">
                    <div v-on:click="showModel = !showModel" class="accordion-heading togglize"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#" href="#collapseOne">Model<i class="fa fa-angle-down"></i> </a> </div>
                    <transition name="fade">
                        <div v-if="showModel" >
                            <div class="accordion-inner">
                                <select v-model="model_id" name="model_id" class="form-control selectpicker">
                                    <option selected value="">Any</option>
                                    <option v-for="model in models" :value="model.id" >{{model.name}} <!-- ({{ model.anouncement_count }}) --></option>
                                </select>
                            </div>
                        </div>
                    </transition>
                </div>
                <!-- Filter by Body Type -->
                <div class="accordion-group panel">
                    <div v-on:click="showBodyType = !showBodyType" class="accordion-heading togglize"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#" href="#collapseOne">Body Type<i class="fa fa-angle-down"></i> </a> </div>
                    <transition name="fade">
                         <!-- id="collapseOne" class="accordion-body collapse" -->
                        <div v-if="showBodyType" >
                            <div class="accordion-inner">
                                    <ul class="filter-options-list list-group">
                                        <li  @click="bodytype_id = ''" class="list-group-item"><a href="#"><input type="radio" name="bodytype" :checked="bodytype_id == ''"> Any</a></li>
                                        <li v-for="bodytype in bodytypes" class="list-group-item" @click="selectBodytype(bodytype.id)"><span class="badge">{{bodytype.anouncement_count}}</span><a><input type="radio" name="bodytype"> {{bodytype.name}}</a></li>
                                    </ul>
                                </div>
                        </div>
                    </transition>
                </div>
                <!-- Filter by Mileage -->
                <div class="accordion-group panel">
                    <div v-on:click="showMileage = !showMileage" class="accordion-heading togglize"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#" href="#collapseOne">Mileage<i class="fa fa-angle-down"></i> </a> </div>
                    <transition name="fade">
                        <div v-if="showMileage" >
                            <div class="accordion-inner">
                                <div class="form-inline">
                                    <div class="form-group">
                                        <label>Min Mileage</label>
                                        <select v-model="min_mileage" name="min_mileage" class="form-control selectpicker">
                                            <option selected>Any</option>
                                            <option :value="mileage" v-for="(mileage, index) in mileages" >{{mileage | money}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group last-child">
                                        <label>Max mileage</label>
                                        <select v-model="max_mileage" name="min_mileage" class="form-control selectpicker">
                                            <option selected>Any</option>
                                            <option :value="mileage" v-for="(mileage, index) in mileages" >{{mileage | money}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </transition>
                </div>
                <!-- Filter by Fuel Economy -->
                <div class="accordion-group panel">
                    <div v-on:click="showFuel = !showFuel" class="accordion-heading togglize"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#" href="#collapseOne">Fuel<i class="fa fa-angle-down"></i> </a> </div>
                    <transition name="fade">
                        <div v-if="showFuel" >
                            <div class="accordion-inner">
                                <ul class="filter-options-list list-group">
                                    <li  @click="fuel_id = ''" class="list-group-item"><a href="#"><input type="radio" name="fuel" :checked="fuel_id == ''"> Any</a></li>
                                    <li v-for="fuel in fuels" @click="selectFuel(fuel.id)" class="list-group-item"><span class="badge">{{fuel.anouncement_count}}</span><a href="#"><input type="radio" name="fuel"> {{fuel.name}}</a></li>
                                </ul>
                            </div>
                        </div>
                    </transition>
                </div>
                <!-- Filter by Price -->
                <div class="accordion-group panel">
                    <div v-on:click="showPrice = !showPrice" class="accordion-heading togglize"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#" href="#collapseOne">Price<i class="fa fa-angle-down"></i> </a> </div>
                    <transition name="fade">
                        <div v-if="showPrice" >
                            <div class="accordion-inner">
                                <div class="form-inline">
                                    <div class="form-group">
                                        <label>Min Price</label>
                                        <select v-model="min_price" name="min_year" class="form-control selectpicker">
                                            <option selected>Any</option>
                                            <option :value="price" v-for="(price, index) in prices" >{{price | money}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group last-child">
                                        <label>Max Price</label>
                                        <select v-model="max_price" name="max_year" class="form-control selectpicker">
                                            <option selected>Any</option>
                                            <option :value="price" v-for="(price, index) in prices" >{{price | money}}</option>
                                        </select>
                                    </div>
                                   </div>
                            </div>
                        </div>
                    </transition>
                </div>
            </div>
            <!-- End Toggle -->
            <a href="#" @click="goAnouncement()" class="btn-default btn-sm btn"><i class="fa fa-refresh"></i>   Search </a>
            <a href="#" @click="goReset()" class="btn-default btn-sm btn"><i class="fa fa-refresh"></i>   Reset </a>
        </div>
        <div class="clearfix"></div>
    </div>
</template>
<script>
    export default {
        data(){
            return{
                showYear: false,
                showModel: false,
                showBodyType: false,
                showPrice: false,
                showFuel: false,
                showMake: false,
                showMileage: false,
                showTransmission:false,
                checkedFuel:false,
                min_year:'',
                max_year:'',
                min_price:'',
                max_price:'',
                min_mileage:'',
                max_mileage:'',
                fuel_id:'',
                bodytype_id:'',
                model_id:'',
                category:'',
                make_id:'',
                transmission_id:'',
                ModelList: [
                    { value: '', text: '', count:0},
                ],
                MakeList: [
                    { value: '', text: '', count:0},
                ],
                BodyTypeList: [
                    { value: '', text: '', count:0},
                ],
                TransmissionList: [
                    { value: '', text: '', count:0},
                ],
                FuelList: [
                    { value: '', text: '', count:0},
                ],
                years:[],
                prices:[],
                mileages:[],
            }
        },

        created(){
            this.listMakes()
            this.listBodyTypes()
            this.listTransmissions()
            this.listFuels()
            this.loadYears()
            this.loadMilleages()
            this.loadPrices()
        },
        methods: {
            listModels(){
                this.$store.dispatch('listModels', this.make_id)
            },
            listMakes(){
                this.$store.dispatch('listMakes', this.category)
            },
            listFuels(){
                this.$store.dispatch('listFuels')
            },
            listBodyTypes(){
                this.$store.dispatch('listBodyTypes')
            },
            listTransmissions(){
                this.$store.dispatch('listTransmissions')
            },
            selectFuel(value){
                this.fuel_id = value
            },
            selectMake(value){
                this.make_id = value
                this.ModelList= [
                    { value: '', text: '', count:0}
                ],
                this.listModels()

            },
            selectBodytype(value){
                this.bodytype_id = value
            },
            selectTransmission(value){
                this.transmission_id = value
            },
            selectModel(value){
                this.model_id = value
            },
            goAnouncement(){
                this.$parent.draft ={min_year:this.min_year, max_year:this.max_year,model_id:this.model_id,make_id:this.make_id,bodytype_id:this.bodytype_id, min_mileage:this.min_mileage,max_mileage:this.max_mileage,min_price:this.min_price,max_price:this.max_price,fuel_id:this.fuel_id,transmission_id:this.transmission_id}
            },
            goReset(){
                this.ModelList= [{ value: '', text: '', count:0}]
                this.min_year = ''
                this.max_year = ''
                this.make_id = ''
                this.model_id = ''
                this.bodytype_id = ''
                this.min_mileage = ''
                this.max_mileage = ''
                this.fuel_id = ''
                this.min_price = ''
                this.max_price = ''
                this.$parent.draft ={}
            },
            loadYears(){
                this.$store.dispatch('getSetting', 'cars_years')
                    .then(response => {
                        this.years = this.$store.state.Setting.solo.options.split(', ')
                    })
            },
            loadMilleages(){
                this.$store.dispatch('getSetting', 'cars_mileage')
                    .then(response => {
                        this.mileages = this.$store.state.Setting.solo.options.split(', ')
                    })
            },
            loadPrices(){
                this.$store.dispatch('getSetting', 'cars_prices')
                    .then(response => {
                        this.prices = this.$store.state.Setting.solo.options.split(', ')
                    })
            },
        },
        computed:{
            models(){
                return this.$store.state.Model.list
            },
            makes(){
                return this.$store.state.Make.list
            },
            fuels(){
                return this.$store.state.Fuel.list
            },
            bodytypes(){
                return this.$store.state.BodyType.list
            },
            transmissions(){
                let arr = this.$store.state.Transmission.list
                for (var i = arr.length - 1; i >= 0; i--) {
                   var obj={};
                   obj.value = arr[i].id;
                   obj.text= arr[i].name;
                   obj.count= arr[i].anouncement_count;
                   this.TransmissionList.push(obj);
                }
                return this.TransmissionList;
            },
        },
        watch: {
            make_id(val){
                if (val) {
                    this.listModels();
                }
            }
        }
    }
</script>
<style>
    .li-active{
        background-color: blue;
        color: white !important;
    }
</style>