<template>
    <div>
    <vehicle-navbar/>
    <!-- Start Body Content -->
    <div class="main" role="main">
        <div id="content" class="content full">
            <div  class="container">
                <!-- Vehicle Details -->
                <article class="single-vehicle-details">
                    <div class="single-vehicle-title">
                        <span class="badge-premium-listing hidden-xs">{{anouncement.bodytype_name}}</span>
                        <h2 class="post-title">
                            {{ anouncement.year }}
                            {{ anouncement.make_name }},
                            {{ anouncement.model_name }}
                            {{ anouncement.specific_model }}
                        </h2>
                    </div>
                    <div class="single-listing-actions">
                        <div class="btn-group pull-right" role="group">
                            <toggle-wish-list
                                v-if="anouncement.is_wish_list != null"
                                v-model="anouncement.is_wish_list"
                                :ads_manager_id="anouncement.id"
                                :is-wish-list="anouncement.is_wish_list"
                            ></toggle-wish-list>
                            <a :href="'/credit-application?ads_id=' + anouncement.id" class="btn btn-default" title="Request more info"><i class="fa fa-info"></i> <span>Credit application</span></a>
                            <a href="/appointment" class="btn btn-default" title="Book a test drive"><i class="fa fa-calendar"></i> <span>Book a test drive</span></a>
                            <a href="#" @click="showOffer = true" class="btn btn-default" title="Make an offer"><i class="fa fa-dollar"></i> <span>{{ trans('app.offer.front_title') }}</span></a>
                            <a href="javascript:void(0)" onclick="window.print();" class="btn btn-default" title="Print"><i class="fa fa-print"></i> <span>Print</span></a>
                        </div>
                        <div class="btn btn-info price" style="background-color: black !important;">${{ anouncement.price | money }} {{ anouncement.frequency != 'None' ? anouncement.frequency : ''  }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <ads-carousel v-if="anouncement.images && anouncement.images.length > 0" :anouncement="anouncement"></ads-carousel>
                        </div>
                        <div class="col-md-4">
                            <anouncement-widget :anouncement="anouncement"/>
                            <!-- Vehicle Enquiry -->
                            <div class="sidebar-widget widget seller-contact-widget">
                                <div v-if="anouncement.dealer" class="vehicle-enquiry-foot">
                                    <span class="vehicle-enquiry-foot-ico"><i class="fa fa-phone"></i></span>
                                    <strong>Call Us: <a :href="'tel:+' + anouncement.dealer.original_phone" style="color:blue;"> {{ anouncement.dealer.original_phone }}</a></strong> Seller: {{ anouncement.dealer.full_name }}
                                    <br>
                                    <br>
                                    <template v-if="anouncement.latitude && anouncement.longitude">
                                        <a :href="'http://maps.google.com/?ll=' + anouncement.latitude + ',' + anouncement.longitude" target="_blank"><i class="fa fa-map-marker"></i>{{ anouncement.street_number }} {{ anouncement.address }}, {{ anouncement.city }} {{ anouncement.state }}</a>
                                    </template>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="spacer-50"></div>
                    <div class="row">
                        <div class="col-md-8">
                            <anouncement-tabs :anouncement="anouncement"/>
                            <div class="spacer-50"></div>
                            <!-- Recently Listed Vehicles -->
                            <related-vehicles v-if="anouncement && relatedVehicles.length > 0" :relatedVehicles="relatedVehicles"/>
                        </div>
                        <!-- Vehicle Details Sidebar -->
                        <div class="col-md-4 vehicle-details-sidebar sidebar">
                            <review v-model="anouncement.own_review"
                                :reviews="anouncement.review"
                                :average="anouncement.review_average"
                                :user="user"
                            ></review>
                            <!-- Vehicle Enquiry -->
                            <div class="sidebar-widget widget seller-contact-widget">
                                <h4 class="widgettitle">Send enquiry</h4>
                                <div class="vehicle-enquiry-in">
                                    <contact-form subject="Enquiry" input-size="input-sm"></contact-form>
                                </div>
                            </div>

                            <!-- Financing Calculator -->
                            <div class="sidebar-widget widget calculator-widget">
                                <h4>Loan Estimator</h4>
                                <estimator></estimator>
                            </div>
                        </div>
                    </div>

                </article>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
        <make-offer
            :ad-manager-id="id"
            :show="showOffer"
            @close="showOffer = false"
        ></make-offer>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                id: this.$route.params.id,
                currentTab:'vehicle-overview',
                showEngine:false,
                showExterior:false,
                showInterior:false,
                showOffer: false,
                myRate: 3,
            }
        },
        created(){
            this.getAnouncement()
        },
        methods: {
            handleSlideClick (dataset) {
              console.log(dataset.index, dataset.name)
            },
            getAnouncement(){
                this.$store.dispatch('getAnouncement', {id: this.id})
                    .then(response => {
                        if (!this.anouncement.own_review) {
                            this.anouncement.own_review = {
                                ads_manager_id: this.anouncement.id,
                                value: 0,
                                comment: ''}
                        }
                    })
            },
        },
        computed:{
            anouncement(){
                return this.$store.state.AdManager.anouncement
            },
            relatedVehicles(){
                return this.$store.state.AdManager.relatedVehicles
            },
            ownReview(){
                if (this.anouncement.own_review) {
                    return this.anouncement.own_review
                } else {
                    return {value: 0, comment: ''}
                }
            },
            user(){
                return this.$parent.user
            } ,
        }
    }
</script>
<style>
    .li-active{
        background-color: blue;
        color: white !important;
    }
    .vote-icon {
        font-size: 20px !important;
        cursor: pointer;
    }
    .vote-font {
        font-size: 15px !important;
    }
    .fa-heart-o:hover {
        color: red;
    }
    .fa-heart {
        color: red;
    }
    .fa-heart:hover {
        color: gray;
    }
    .badge {
        color: #FFFFFF !important;
        background: #252525;
    }
</style>