<template>
    <div>
        <div class="tabs vehicle-details-tabs">
            <ul class="nav nav-tabs">
                <li :class="currentTab == 'vehicle-overview' ? 'active' : ''"> <a @click="changeTab('vehicle-overview')">Overview</a></li>
                <li :class="currentTab == 'vehicle-specs' ? 'active' : ''"> <a @click="changeTab('vehicle-specs')">Specifications</a></li>
                <li :class="currentTab == 'vehicle-add-features' ? 'active' : ''"> <a @click="changeTab('vehicle-add-features')">Additional Features</a></li>
                <!-- <li> <a data-toggle="tab" href="#vehicle-location">Location</a> </li> -->
            </ul>
            <div class="tab-content">
                <div id="vehicle-overview" v-if="currentTab == 'vehicle-overview'" class="tab-pane fade active in">
                    <div class="row">
                        <div class="col-md-10 col-lg-10 col-md-offset-1" style="margin-left:20px; " >
                            <p><strong>Address: </strong>{{anouncement.address}}.</p>
                            <p><strong>Disclaimer: </strong>{{anouncement.disclaimer}}.</p>
                            <p><strong>Equipment detail: </strong>{{anouncement.equipment_detail}}.</p>
                            <p><strong>Other info: </strong>{{anouncement.otherinfo}}.</p>
                        </div>
                    </div>
                </div>
                <div id="vehicle-specs" v-if="currentTab == 'vehicle-specs'" class="tab-pane fade active in">
                    <div class="accordion" id="toggleArea">
                        <div class="accordion-group panel">
                            <div v-on:click="showEngine = !showEngine" class="accordion-heading togglize"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#" href="#collapseOne"> Engine <i class="fa fa-plus-circle"></i> <i class="fa fa-minus-circle"></i> </a> </div>
                            <transition name="fade">
                                <div v-if="showEngine" id="collapseOne" class="">
                                    <div class="accordion-inner">
                                        <table class="table-specifications table table-striped table-hover">
                                            <tbody>
                                                <tr v-if="anouncement.engine">
                                                    <td>Engine type</td>
                                                    <td>{{anouncement.engine}}</td>
                                                </tr>
                                                <tr v-if="anouncement.C02">
                                                    <td>C02</td>
                                                    <td>{{anouncement.C02}}</td>
                                                </tr>
                                                <tr v-if="anouncement.acceleration">
                                                    <td>Acceleration</td>
                                                    <td>{{anouncement.acceleration}}</td>
                                                </tr>
                                                <tr v-if="anouncement.fuel.name">
                                                    <td>Recommended fuel</td>
                                                    <td>{{anouncement.fuel.name}}</td>
                                                </tr>
                                                <tr v-if="anouncement.fuel_consum_city">
                                                    <td>Fuel economy city*</td>
                                                    <td>{{anouncement.fuel_consum_city}}</td>
                                                </tr>
                                                <tr v-if="anouncement.fuel_consum_freeway">
                                                    <td>Fuel comsum freeway*</td>
                                                    <td>{{anouncement.fuel_consum_freeway}}</td>
                                                </tr>
                                                <tr v-if="anouncement.fuel_consum_combined">
                                                    <td>Fuel consum combined</td>
                                                    <td>{{anouncement.fuel_consum_combined}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </transition>
                        </div>
                        <div class="accordion-group panel">
                            <div v-on:click="showExterior = !showExterior" class="accordion-heading togglize"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#" href="#collapseTwo"> Exterior <i class="fa fa-plus-circle"></i> <i class="fa fa-minus-circle"></i> </a> </div>
                            <transition name="fade">
                                <div v-if="showExterior" id="collapseOne">

                                <div class="accordion-inner">
                                    <table class="table-specifications table table-striped table-hover">
                                        <tbody>
                                            <tr v-if="anouncement.ext_color.name">
                                                <td> Exterior color</td>
                                                <td>{{anouncement.ext_color.name}}</td>
                                            </tr>
                                            <tr v-if="anouncement.length">
                                                <td> Overall length (mm)</td>
                                                <td>{{anouncement.length}}</td>
                                            </tr>
                                            <tr v-if="anouncement.width">
                                                <td>Overall width (mm)</td>
                                                <td>{{anouncement.width}}</td>
                                            </tr>
                                            <tr v-if="anouncement.height">
                                                <td>Overall height (mm)</td>
                                                <td>{{anouncement.height}}</td>
                                            </tr>
                                            <tr v-if="anouncement.unfaden_weight">
                                                <td>Unfaden weight</td>
                                                <td>{{anouncement.unfaden_weight}}</td>
                                            </tr>
                                            <tr v-if="anouncement.gross_weight">
                                                <td>Gross weight</td>
                                                <td>{{anouncement.gross_weight}}</td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                                </div>
                            </transition>

                        </div>
                        <div class="accordion-group panel">
                            <div v-on:click="showInterior = !showInterior" class="accordion-heading togglize"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#" href="#collapseThird"> Interior <i class="fa fa-plus-circle"></i> <i class="fa fa-minus-circle"></i> </a> </div>
                            <transition name="fade">
                                <div v-if="showInterior" id="collapseOne" class="">
                                    <div class="accordion-inner">
                                    <table class="table-specifications table table-striped table-hover">
                                        <tbody>
                                            <tr v-if="anouncement.seats">
                                                <td>Seats</td>
                                                <td>{{anouncement.seats}}</td>
                                            </tr>
                                            <tr v-if="anouncement.driver.name">
                                                <td>driver</td>
                                                <td>{{anouncement.driver.name}}</td>
                                            </tr>
                                            <tr v-if="anouncement.ext_color.name">
                                                <td>Exterior color</td>
                                                <td>{{anouncement.ext_color.name}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    </div>
                                </div>
                            </transition>
                        </div>
                    </div>
                    <!-- End Toggle -->
                </div>
                <div id="vehicle-add-features" v-if="currentTab == 'vehicle-add-features'" class="tab-pane fade active in">
                    <ul class="add-features-list">
                        <li>Is commercial

                            <template v-if=" anouncement.is_commercial == 1">
                             <label class="label label-info" >  Yes  </label>
                            </template>
                            <template v-else><label class="label label-danger" >  No  </label></template>
                        </li>
                        <li>Is featured
                            <template v-if=" anouncement.is_featured == 1"><label class="label label-info" >  Yes  </label>
                            </template>
                            <template v-else><label class="label label-danger" >  No  </label></template>
                        </li>
                        <li>Is reserved
                            <template v-if=" anouncement.is_reserved == 1"><label class="label label-info" >  Yes  </label>
                            </template>
                            <template v-else><label class="label label-danger" >  No  </label></template>
                        </li>
                        <li>Is stop
                            <template v-if=" anouncement.is_stop == 1"><label class="label label-info" >  Yes  </label>
                            </template>
                            <template v-else><label class="label label-danger" >  No  </label></template>
                        </li>
                        <li>Is special
                            <template v-if=" anouncement.is_special == 1"><label class="label label-info" >  Yes  </label>
                            </template>
                            <template v-else><label class="label label-danger" >  No  </label></template>
                        </li>
                        <li>Is metalic color
                            <template v-if=" anouncement.is_metalic_color == 1"><label class="label label-info" >  Yes  </label>
                            </template>
                            <template v-else><label class="label label-danger" >  No  </label></template>
                        </li>
                        <li>Hits {{anouncement.hits}} </li>
                    </ul>
                </div>
                <!-- <div id="vehicle-location" class="tab-pane fade">
                    <iframe width="100%" height="300px" frameBorder="0" src="http://a.tiles.mapbox.com/v3/imicreation.map-zkcdvthf.html?secure"></iframe>
                </div> -->
            </div>
        </div>
    </div>



</template>

<script>
    export default {
        props:['anouncement'],
        data(){
            return {
                id: this.$route.params.id,
                currentTab:'vehicle-overview',
                showEngine:true,
                showExterior:true,
                showInterior:true,
            }
        },
        methods:{
            changeTab(tab){
               this.currentTab = tab
            },
        }
    }
</script>
<style>
    .li-active{
        background-color: blue;
        color: white !important;
    }
    .vote-icon {
        font-size: 20px !important;
        cursor: pointer;
    }
    .vote-font {
        font-size: 15px !important;
    }
    .fa-heart-o:hover {
        color: red;
    }
    .fa-heart {
        color: red;
    }
    .fa-heart:hover {
        color: gray;
    }
</style>