<template>
    <div>
        <div class="sidebar-widget widget">
            <ul class="list-group">
                <template  v-if="anouncement.year">
                    <li class="list-group-item"> <span class="badge">Year</span> {{anouncement.year}}</li>
                </template>
                <template v-if="anouncement.make_name">
                    <li class="list-group-item"> <span class="badge">Make</span> {{anouncement.make_name}}</li>
                </template>
                <template v-if="anouncement.model_name">
                    <li class="list-group-item"> <span class="badge">Model</span> {{anouncement.model_name}}</li>
                </template>
                <template v-if="anouncement.bodytype_name">
                    <li class="list-group-item"> <span class="badge">Body style</span> {{anouncement.bodytype_name}}</li>
                </template>
                <template v-if="anouncement.mileage">
                    <li class="list-group-item"> <span class="badge">Mileage</span> {{anouncement.mileage | money}}</li>
                </template>
                <template v-if="anouncement.transmission_name">
                    <li class="list-group-item"> <span class="badge">Transmission</span> {{anouncement.transmission_name}}</li>
                </template>
                <template v-if="anouncement.condition">
                    <li class="list-group-item"> <span class="badge">Condition</span> {{anouncement.condition.name}}</li>
                </template>
                <template v-if="anouncement.engine">
                    <li class="list-group-item"> <span class="badge">Engine Size</span> {{anouncement.engine}}</li>
                </template>
                <template v-if="anouncement.fuel">
                    <li class="list-group-item"> <span class="badge">Fuel type</span> {{anouncement.fuel.name}}</li>
                </template>
                <template v-if="anouncement.specific_trans">
                    <li class="list-group-item"> <span class="badge">Specific trans</span> {{anouncement.specific_trans}}</li>
                </template>
                <div v-show="anouncement.specific_model">
                    <li class="list-group-item"> <span class="badge">Specific model</span>{{ anouncement.specific_model }}</li>
                </div>
            </ul>
        </div>
    </div>
</template>

<script>
    export default {
        props:['anouncement'],
    }
</script>
<style>
    .vote-icon {
        font-size: 20px !important;
        cursor: pointer;
    }
    .vote-font {
        font-size: 15px !important;
    }
    .fa-heart-o:hover {
        color: red;
    }
    .fa-heart {
        color: red;
    }
    .fa-heart:hover {
        color: gray;
    }
</style>