<template>
    <div v-if="setting">
        <template v-if="setting.type == 'text' || setting.type == 'number' || setting.type == 'password'">
            <input :type="setting.type" v-model="setting.value" class="form-control" @change="change">
        </template>
        <template v-if="setting.type == 'longText'">
            <textarea v-model="setting.value" class="form-control" @change="change"></textarea>
        </template>
        <template v-if="setting.type == 'boolean'">
            <select v-model="setting.value" class="form-control" @change="change">
                <option :value="null">Select an option</option>
                <option value="0">No</option>
                <option value="1">Yes</option>
            </select>
        </template>
        <template v-if="setting.type == 'html'">
            <wysiwyg v-model="setting.value" @change="change"/>
        </template>
        <template v-if="setting.type == 'list'">
            <select v-model="setting.value" class="form-control" @change="change">
                <option :value="null"></option>
                <option v-for="option in listOptions(setting.options)" :value="option">{{option}}</option>
            </select>
        </template>
    </div>
</template>
<script>
    export default {
        props: ['setting'],
        methods:{
            listOptions(options){
                let result = options.split(', ')
                return result
            },
            change(){
                this.$emit('change')
            }
        }
    }
</script>