<template>
    <vue-google-autocomplete
        :ref="reference"
        :id="id"
        :placeholder="trans('app.address.type')"
        v-on:placechanged="getAddressData"
        country="us"
        class="form-control input-lg"
    >
    </vue-google-autocomplete>
</template>
<script>
    import VueGoogleAutocomplete from 'vue-google-autocomplete'
    export default {
        components: { VueGoogleAutocomplete },
        props: ['value', 'reference', 'id'],
        methods: {
            getAddressData(addressData, placeResultData, id) {
                this.$forceUpdate()
                this.$parent.validAddress = true
                this.$emit('input', addressData)
            },
        }
    }
</script>