<template>
    <div>
         <vue-google-autocomplete
            ref="address"
            id="map"
            classname="form-control"
            placeholder=""
            v-on:placechanged="getAddressData"
            country="us"
            types="(regions)"
        >
        </vue-google-autocomplete>
    </div>
</template>
<script>
    import VueGoogleAutocomplete from 'vue-google-autocomplete'
    export default {
        components: { VueGoogleAutocomplete },
        methods: {
            getAddressData: function (addressData, placeResultData, id) {
                this.$store.dispatch('setAddress', addressData)
            }
        },
        created(){
            this.$store.dispatch('removeAddress')
        }

    }
</script>