<template>
    <div>
        <vue-dropzone
            ref="imagesContainer"
            id="imagesContainer"
            :options="dropzoneOptions"
            @vdropzone-file-added="change"
            @vdropzone-removed-file="change"
            @vdropzone-canceled="cancel"
        ></vue-dropzone>
    </div>
</template>
<script>
    import vue2Dropzone from 'vue2-dropzone'
    import 'vue2-dropzone/dist/vue2Dropzone.min.css'
    export default {
        props:{
            value:{
                required: true
            },
            limit: {
                default: null
            },
            images: {
                default: null
            },
            thumbnailWidth: {
                default: 200
            },
            fromModal:{
                default: false,
            }
        },
        components: {
          vueDropzone: vue2Dropzone
        },
        created(){
            console.log('created')
            this.$nextTick(() => {
                if (this.images) {
                    this.loadImages(this.images)
                }
            });
        },
        data() {
            return {
                dropzoneOptions: {
                    url: 'http://localhost',
                    thumbnailMethod: 'contain',
                    maxFilesize: 2,
                    headers: { "My-Awesome-Header": "header value" },
                    autoProcessQueue: false,
                    maxFiles: this.limit,
                    addRemoveLinks: true,
                    thumbnailWidth: this.thumbnailWidth,
                },
            }
        },
        methods: {
            loadImages(images){
                this.drop.removeAllFiles()

                images.map((image) => {
                    if (image.name) {

                      var file = { id: image.id, size: this.thumbnailWidth, name: image.name }
                      this.$refs.imagesContainer.manuallyAddFile(file, image.url)
                    }
                })
            },
            change(){
                if(this.limit != null && this.drop.files.length > this.limit){
                    this.drop.removeFile(this.drop.files[this.limit])
                }
                this.$emit('input', this.drop.files)
            },
            cancel(){
                this.$parent.temp = this.drop.files
            },
        },
        computed: {
            drop(){
                return this.$refs.imagesContainer.dropzone
            }
        },
        watch: {
           images: {
                handler(val){
                    if (this.fromModal && val) {
                        this.loadImages(val)
                    }
                },
                deep: true,
            }
        }
    }
</script>
<style>
.dz-progress {
  display: none !important;
}
.dz-details {
    opacity: 0.3 !important;
}
</style>