<template>
    <div class="widget sidebar-widget widget_categories">
        <h3 class="widgettitle">Post Categories</h3>
        <div class="users-sidebar tbssticky">
        <ul class="list-group">
            <li class="list-group-item" :class="!current ? 'active' : ''"><a href="#" @click="goAllPosts">All Posts</a>({{ postCount }})</li>
            <li v-for="category in postCategories" class="list-group-item" :class="current == category.id ? 'active' : ''"><a href="#" @click="goPostByCategory(category.id)">{{ category.name }}</a> ({{ category.post_count }})</li>
        </ul>
        </div>
    </div>
</template>
<script>
    export default {
        data(){
            return{
                //
            }
        },

        created(){
            this.getPostCategories()
        },
        methods: {
            getPostCategories(){
                this.$store.dispatch('getPostCategories')
            },
            goPostByCategory(blog_category_id){
                this.$router.push('/blog/by-category/' + blog_category_id)
            },
            goAllPosts(){
                this.$router.push('/blog/posts/')
            }
        },
        computed:{
            postCategories(){
                return this.$store.state.BlogCategory.data.post_categories
            },
            current(){
                return this.$store.state.Post.currentCategoryId
            },
            postCount(){
                return this.$store.state.BlogCategory.data.post_count

            }
        }
    }
</script>