<template>
    <div :class="loading ? 'box-loading' : ''">
        <blog-navbar></blog-navbar>
        <!-- Start Body Content -->
        <div class="main" role="main">
            <div id="content" class="content full">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 posts-archive">
                            <h3 v-if="tag_id">Posts filtered by tag: <b class="text-capitalize">{{ current_tag }}</b></h3>
                            <h3 v-if="blog_category_id && posts.length > 0">Posts filtered by category: <b class="text-capitalize">{{ posts[0].category.name}}</b></h3>
                            <template v-if="posts.length == 0">
                                <div class="alert alert-warning fade in"> <a class="close" data-dismiss="alert" href="#">&times;</a> <strong>Empty search!</strong> Your search it's empty. Please try again</div>
                            </template>
                            <template v-else>
                                <article v-for="post in posts" class="post format-standard">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-4"> <a :href="'/blog/post/' + post.slug"><img :src="post.image" :alt="post.image_alt" class="img-thumbnail"></a> </div>
                                        <div class="col-md-8 col-sm-8">
                                            <div class="post-actions">
                                                <div class="post-date">{{ post.created_at | moment("MMMM Do YYYY")}}</div>
                                                <div class="comment-count">
                                                    <a :href="'/blog/post/' + post.slug">
                                                        <i class="icon-dialogue-text"></i> {{ post.comments.length }}
                                                        <i class="fa fa-heart"></i> {{ post.votes.length }}
                                                </a>
                                            </div>
                                            </div>
                                            <h3 class="post-title"><a :href="'/blog/post/' + post.slug">{{post.title}}</a></h3>
                                            <p v-html="getIntro(post.intro)"></p><a :href="'/blog/post/' + post.slug" class="continue-reading">Continue reading <i class="fa fa-long-arrow-right"></i></a>
                                            <div class="post-meta">Postehref in: <a href="#" @click="goPostByCategory(post.blog_category_id)">{{ post.category.name }}</a></div>
                                        </div>
                                    </div>
                                </article>
                            </template>
                              <b-pagination
                                :total-rows="totalRows"
                                :per-page="perPage"
                                align="center"
                                v-model="currentPage"
                                class="my-0"
                                @input="getPosts"
                                v-if="totalRows > perPage"
                                />
                        </div>
                        <div class="col-md-3 sidebar">
                            <search-post @search="search"></search-post>
                            <post-categories></post-categories>
                        </div>
                    </div>
                </div>
            </div>
        </div>

     <atom-spinner
          :animation-duration="1000"
          :size="200"
          :color="'#F23827'"
          class="atom-spinner"
          v-if="loading"
     />
    </div>
</template>
<script>
    import {AtomSpinner} from 'epic-spinners'
    export default {
        components: {
            AtomSpinner
        },
        data(){
            return {
                currentPage: 1,
                sortBy: 'id',
                sortDesc: true,
                target: '',
            }
        },
        created(){
            this.getPosts()
        },
        methods: {
            getPosts(){
                let params = {page: this.currentPage, target: this.target, orderBy: this.sortBy, desc: this.sortDesc, rows: 3, blog_category_id: this.blog_category_id, tag_id: this.tag_id}
                this.$store.dispatch('getPosts', params)
            },
            goPostByCategory(blog_category_id){
                this.current = blog_category_id
                this.$router.push('/blog/by-category/' + blog_category_id)
            },
            goPostByTag(tag_id){
                this.currentTag = tag_id
                this.$router.push('/post-by-tag/' + tag_id)
            },
            search(target){
                this.target = target
            },
            getIntro(intro){
                return intro.substr(0, 500) + '...'
            }
        },
        computed:{
            posts(){
                return this.$store.state.Post.data
            },
            current_page(){
                return this.$store.state.Post.currentPage
            },
            totalRows(){
                return this.$store.state.Post.totalRows
            },
            perPage(){
                return this.$store.state.Post.perPage
            },
            loading(){
               return this.$store.state.Post.loading
            },
            blog_category_id(){
                return this.$route.params.blog_category_id ? this.$route.params.blog_category_id : ''
            },
            tag_id(){
                return this.$route.params.tag_id ? this.$route.params.tag_id : ''
            },
            current_category_id(){
               return this.$store.state.Post.currentCategoryId

            },
            current_tag(){
                if (this.posts.length > 0) {
                    for (var i = 0; i < this.posts[0].tags.length; i++) {
                        if(this.posts[0].tags[i].id == this.tag_id){
                            return this.posts[0].tags[i].name
                        }
                    }
                }
            },
        },
        watch:{
            tag_id(value){
                this.getPosts()
            },
            blog_category_id(value){
                this.getPosts()
            },
            target(value){
                this.getPosts()
            },
        },
    }
</script>