<template>
    <div class="widget sidebar-widget widget_recent_posts">
        <h3 class="widgettitle">{{ trans('app.post.recent') }}</h3>
        <ul>
            <li v-for="post in posts">
                <a :href="'/blog/post/' + post.slug"><img :src="post.image" alt="" class="img-thumbnail"></a>
                <h5><a :href="'/blog/post/' + post.slug">{{post.title}}</a></h5>
                <div class="post-actions"><div class="post-date">{{ post.created_at | moment("MMMM Do YYYY")}}</div></div>
            </li>
        </ul>
    </div>
</template>
<script>
    export default {
        created(){
            this.$store.dispatch('getRecentPosts')
        },
        computed: {
            posts(){
                return this.$store.state.Post.recents
            },
        },
    }
</script>