<template>
    <div class="main" role="main">
        <div id="content" class="content full">
            <div class="container">
                <div class="row" v-if="post">
                    <div class="col-md-9 single-post">
                        <header class="single-post-header clearfix">
                            <div class="post-actions">
                                <div class="post-date">{{ post.created_at | moment("MMMM Do YYYY")}}</div>
                                <div class="comment-count"><a href="#"><i class="icon-dialogue-text"></i> {{post.comments.length}}</a></div>
                            </div>
                            <h2 class="post-title">{{ post.title }}</h2>
                        </header>
                        <article class="post-content">
                            <div class="featured-image"> <img :src="post.image" :alt="post.image_alt"> </div>
                            <p v-html=post.intro></p>
                            <div v-html="post.content"></div>
                            <div class="post-meta"> <i class="fa fa-tags"></i> <template v-for="(tag, index) in post.tags"> <router-link :to="'/blog/by-tag/' + tag.id">{{ tag.name}}<template v-if="index < post.tags.length-1">, </template> </router-link></template></div>
                            <!-- Pagination -->
                            <ul class="pager">
                                <li class="pull-left"><router-link to="/blog">&larr; Back</router-link></li>
                                <li class="pull-right" v-if="user">
                                    <b class="vote-font" v-if="votes.count > 0">{{ votes.count }} likes</b>
                                    <i class="fa fa-heart-o vote-icon" @click="vote" aria-hidden="true" v-if="votes.own == 0"></i>
                                    <i class="fa fa-heart vote-icon" @click="vote" aria-hidden="true" v-else></i>
                                </li>
                            </ul>
                            <!-- About Author -->
                            <section class="about-author">
                                    <h3>{{post.user.first_name}} {{post.user.last_name}} <span class="label label-success">Author</span></h3>
                            </section>
                        </article>

                        <post-comments :post_id="post.id"></post-comments>
                    </div>
                    <div class="col-md-3 sidebar">
                        <post-categories></post-categories>
                        <post-recent></post-recent>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Body Content -->
</template>

<script>
    export default {
        data(){
            return {
                slug: this.$route.params.slug,
            }
        },
        beforeRouteUpdate(to) {
            this.slug = to.params.slug
            this.getPost()
        },
        created(){
            this.getPost()
        },
        methods: {
            getPost(){
                this.$store.dispatch('getPost', {slug: this.slug})
            }   ,
            vote(){
                this.$store.dispatch('storeVote', {post_id: this.post.id})
            },
            change(slug){
                alert(slug)
            }
        },
        computed: {
            post(){
                return this.$store.state.Post.post
            },
            votes(){
                return this.$store.state.Vote
            },
            user(){
                return this.$store.state.User.authUser
            }
        },
        watch:{
            post(value){
                if (value && this.user) {
                    this.$store.dispatch('getVotes', {post_id: this.post.id})
                }
            },
        },
    }
</script>

<style>
    .vote-icon {
        font-size: 20px !important;
        cursor: pointer;
    }
    .vote-font {
        font-size: 15px !important;
    }
    .fa-heart-o:hover {
        color: red;
    }
    .fa-heart {
        color: red;
    }
    .fa-heart:hover {
        color: gray;
    }
</style>