<template>
<div>
  <b-modal v-model="show" :title="draft.id ? trans('app.user.edit') : trans('app.user.add')"  @hide="close">
    <b-container fluid>
        <!-- <template v-if="draft.id"> -->
         <b-row class="mb-1">
           <b-col><label :class="">{{trans('app.user.first_name')}}</label></b-col>
         </b-row>
         <b-row class="mb-1">
           <b-col><input type="text" v-model="draft.first_name" class="form-control" ></b-col>
         </b-row>

         <b-row class="mb-1">
           <b-col><label :class="">{{trans('app.user.last_name')}}</label></b-col>
         </b-row>
         <b-row class="mb-1">
           <b-col><input type="text" v-model="draft.last_name" class="form-control" ></b-col>
         </b-row>
        <!-- </template> -->

        <b-row class="mb-1">
           <b-col><label :class="">{{trans('app.user.address_1')}}</label></b-col>
         </b-row>
         <b-row class="mb-1">
           <b-col><input type="text" v-model="draft.address_1" class="form-control" ></b-col>
         </b-row>

         <b-row class="mb-1">
           <b-col><label :class="">{{trans('app.user.address_2')}}</label></b-col>
         </b-row>
         <b-row class="mb-1">
           <b-col>
                <input type="text" v-model="draft.address_2" class="form-control">
           </b-col>
         </b-row>

         <b-row class="mb-1">
           <b-col><label :class="">{{trans('app.user.zipcode')}}</label></b-col>
         </b-row>
         <b-row class="mb-1">
           <b-col><input type="text" v-model="draft.zipcode" class="form-control" ></b-col>
         </b-row>

         <b-row class="mb-1">
           <b-col><label :class="">{{trans('app.user.phone')}}</label></b-col>
         </b-row>
         <b-row class="mb-1">
           <b-col><input type="text" v-model="draft.phone" class="form-control" ></b-col>
         </b-row>

         <b-row class="mb-1">
           <b-col><label :class="">{{trans('app.user.bio')}}</label></b-col>
         </b-row>
         <b-row class="mb-1">
           <b-col><input type="text" v-model="draft.bio" class="form-control" ></b-col>
         </b-row>

         <b-row class="mb-1">
              <b-col><label :class="">{{trans('app.user.user_group')}}</label></b-col>
         </b-row>
         <b-row class="mb-1">
            <b-col>
                <b-form-select v-model="draft.user_group_id" :options="userGroups" class="mb-3"/>
            </b-col>
        </b-row>

         <b-row class="mb-1">
           <b-col><label :class="validLogin ? 'label-valid' : 'label-required'">{{trans('app.user.login')}}</label></b-col>
         </b-row>
         <b-row class="mb-1">
           <b-col><input type="text" v-model="draft.login" class="form-control" ></b-col>
         </b-row>

         <b-row class="mb-1">
           <b-col><label :class="validEmail ? 'label-valid' : 'label-required'">{{trans('app.user.email')}}</label></b-col>
         </b-row>
         <b-row class="mb-1">
           <b-col><input type="text" v-model="draft.email" class="form-control" ></b-col>
         </b-row>

         <b-row class="mb-1">
           <b-col><label :class="">{{trans('app.user.registration_ip')}}</label></b-col>
         </b-row>
         <b-row class="mb-1">
           <b-col><input type="text" required v-model="draft.registration_ip" class="form-control" ></b-col>
         </b-row>

         <b-row class="mb-1">
              <b-col><label :class="">{{trans('app.user.blocked')}}</label></b-col>
         </b-row>
         <b-row class="mb-1">
            <b-col>
                <b-form-select v-model="draft.blocked_user" :options="blocked" class="mb-3"/>
            </b-col>
        </b-row>

        </b-row>
    </b-container>
    <div slot="modal-footer" class="pull-right">
        <b-btn class="btn btn-outline-danger" @click="close"> {{trans('app.buttons.close')}}</b-btn>
        <b-btn class="btn btn-outline-primary" @click="save"> {{draft.id ? trans('app.buttons.update') : trans('app.buttons.create')}}</b-btn>
    </div>
  </b-modal>
</div>
</template>

<script>
    export default {
        props: ['show', 'draft'],
        data(){
            return{
                userGrupsList:[],
                statuses: [
                    { value: null, text: trans('app.common.select') },
                    { value: '1', text: trans('app.common.active') },
                    { value: '0', text: trans('app.common.inactive') },
                ],
                blocked: [
                    { value: '1', text: trans('app.common.1') },
                    { value: '0', text: trans('app.common.0') },
                ],
                categories: [
                    { value: null, text: trans('app.common.select') },
                    { value: '0', text: 'Category 1' },
                    { value: '1', text: 'Category 2' },
                    { value: '2', text: 'Category 3' },
                    { value: '4', text: 'Category 4' },
                ],
            }
        },
        created(){
            this.listUserGroups()
        },
        methods:{
            listUserGroups(){
                this.$store.dispatch('listUserGroups')
            },
            close(){
                this.$emit('close')
            },
            save(){
                if (this.draft.id) {
                    this.update()
                } else{
                    this.store()
                }
                this.close()
            },
            update(){
                var draft = this.draft
                var id = this.draft.id
                this.$store.dispatch('updateUser', { id: id, draft })
            },
            store(){
                this.$store.dispatch('storeUser', this.draft)
            },
        },
        computed:{

            userGroups(){

                let arr = this.$store.state.User.userGroups
                for (var i = arr.length - 1; i >= 0; i--) {
                   var obj={};
                   obj.value = arr[i].id;
                   obj.text= arr[i].title;
                   this.userGrupsList.push(obj);
                }
                return this.userGrupsList;
            },

            validForm(){
              return this.validFirstName && this.validImage && this.validCsscode  && this.validCategory  && this.validStatus
            },
            validName(){
              return this.draft.name ? this.draft.name.length > 3 : false
            },

            validFirstName(){
              return this.draft.first_name ? this.draft.first_name.length > 3 : false
            },

            validLastName(){
              return this.draft.last_name ? this.draft.last_name.length > 3 : false
            },

            validLogin(){
              return this.draft.login ? this.draft.login.length > 3 : false
            },

            validAddress2(){
              return this.draft.address_2 ? this.draft.address_2.length > 3 : false
            },

            validEmail(){
              return this.draft.email
            },
            validCsscode(){
                return this.draft.csscode
            },
            validCategory(){
                return this.draft.category
            },
            validStatus(){
                return this.draft.status
            },
        }
    }
</script>