<template>
	<div class="box box-solid box-danger" :class="loading ? 'box-loading' : ''">
		<div class="box-header with-border">
      		<h3 class="box-title">{{ trans('app.user.title') }}</h3>
      	</div>
        <spinner v-if="loading" :size="200" color="#dd4b39"/>
      	<div class="box-body">
      		<form class="form-inline pull-right">
        		<div class="form-group mx-sm-6 mb-2">
          			<label class="sr-only">Search</label>
          			  <input v-model="target"  class="form-control" placeholder="Type to Search" />
        		</div>
      		</form>
      		<div class="clearfix"></div>
			<b-table ref="table" striped hover show-empty
					responsive
					:items="user"
            		@sort-changed="sortingChanged"
					:fields="fields"
					stacked="md"
	                :filter="filter"
	                :sort-by.sync="sortBy"
	                :sort-desc.sync="sortDesc"
	                empty-text="Cargando..."
	                >
                <template slot="blocked_user" slot-scope="row">
                    {{ trans('app.common.' + row.item.blocked_user) }}
                </template>
				<template slot="Actions" slot-scope="row">
					<button class="btn btn-success" @click="edit(row.item, row.index)" :title="trans('app.common.edit')">
                        <i class="fa fa-edit"></i>
                    </button>
                    <button class="btn btn-warning" @click="remove(row.item, row.index)" :title="trans('app.user.block')">
                        <i class="fa fa-ban"></i>
                    </button>
	      		</template>
			</b-table>
			<div class="box-footer text-center">
              <b-pagination
                :total-rows="totalRows"
                :per-page="perPage"
                align="center"
                v-model="currentPage"
                class="my-0"
                @input="getUsers"
                />
            </div>
            <user-edit :show="showEdit" :draft="draft" @close="close"></user-edit>
		</div>
	</div>
</template>

<script>

    export default {
		watch:{
			target(){
            	this.getUsers()
            }
		},
		data(){
			return{
				showModal: false,
                showEdit: false,
				currentPage: 1,
				currentIndex: null,
                currentId: null,
			    filter: null,
                target: '',
                draft: {},
				sortBy: null,
      			sortDesc: false,
                items: null,
                fields: [
                    {
                     key: 'id', label: '#', sortable: true,
                    },
        			{
        			 key: 'first_name', label: trans('app.user.first_name'), sortable: true,
        			},
        			{
        			 key: 'last_name', label: trans('app.user.last_name'), sortable: true,
        			},
        			{
        			 key: 'phone', label: trans('app.user.phone'), sortable: true,
        			},
        			{
        			 key: 'email', label: trans('app.user.email'), sortable: true,
        			},
        			{
        			 key: 'blocked_user', label: trans('app.user.blocked_user'),
        			},
        			{
        			 key: 'Actions', label: trans('app.common.actions'), 'class': 'pull-right'
        			}
      			],
			}
		},
		created(){
            this.getUsers()
        },
		methods:{
            edit(user, index){
                this.draft = clone(user)
                this.currentIndex = index
                this.showEdit = true
            },
            create(){
                this.draft = {
                    id: null,
                    first_name:'',
                    last_name:'',
                    address_1:'',
                    address_2:'',
                    zipcode:'',
                    phone:'',
                    bio:'',
                    city_id:'',
                    user_group_id:'',
                    login:'',
                    email:'',
                    registration_ip:'',
                    blocked_user:'',
                }
                this.showEdit = true
            },
			search(){
                this.current = 1;
                this.getUsers(this.current);
            },
			onFiltered (filteredItems) {
		      // Trigger pagination to update the number of buttons/pages due to filtering
		      this.totalRows = filteredItems.length
		      this.currentPage = 1
		    },
            getUsers(){
                let params = {page: this.currentPage, target: this.target, orderBy: this.sortBy, desc: this.sortDesc}
                this.$store.dispatch('getUsers', params)
            },
            close(){
              this.showEdit = false
            },
            remove(item, index){
                this.$swal({
                  title: trans('app.common.delete_title'),
                  text: trans('app.user.block_text') + item.id +'?',
                  type: 'warning',
                  showCancelButton: true,
                  confirmButtonColor: '#3085d6',
                  cancelButtonColor: '#d33',
                  confirmButtonText: trans('app.user.block_confirm'),
                  cancelButtonText: trans('app.common.0')
                }).then((result) => {
                  if (result.value) {
                    this.$store.dispatch('removeUser', item.id)
                  }
                })
            },

            sortingChanged (ctx) {
  				if (ctx.sortBy) {
                    this.sortBy = ctx.sortBy
                    this.sortDesc = ctx.sortDesc
                    this.currentPage = null
                    this.getUser()
                }
		    }
		},
        computed:{
            user(){
                return this.$store.state.User.users
            },
            current_page(){
                return this.$store.state.User.currentPage
            },
            totalRows(){
                return this.$store.state.User.totalRows
            },
            perPage(){
                return this.$store.state.User.perPage
            },
            loading(){
               return this.$store.state.User.loading
            }
        }
	}
</script>