<template>
<div>
  <b-modal v-model="show" :title="draft.id ? trans('app.billingService.edit') : trans('app.billingService.add')"  @hide="close">
    <b-container fluid>
      <b-row class="mb-1">
       <b-col><label :class="validName ? 'label-valid' : 'label-required'">{{trans('app.billingService.name')}}</label></b-col>
      </b-row>
      <b-row class="mb-1">
       <b-col><input type="text" v-model="draft.name" class="form-control" ></b-col>
      </b-row>
      <b-row class="mb-1">
       <b-col><label :class="validName ? 'label-valid' : 'label-required'">{{trans('app.billingService.frequency')}}</label></b-col>
      </b-row>
      <b-row class="mb-1">
       <b-col>
        <b-form-select
        v-model="draft.billing_term_id"
        :options="billingTerms"
        value-field="id"
        text-field="name"
        class="mb-3"/>
       </b-col>
      </b-row>
      <b-row class="mb-1">
       <b-col><label :class="validCode ? 'label-valid' : 'label-required'">{{trans('app.billingService.code')}}</label></b-col>
      </b-row>
      <b-row class="mb-1">
       <b-col><input type="text" v-model="draft.code" class="form-control" ></b-col>
      </b-row>

      <b-row class="mb-1">
       <b-col><label :class="validPrice ? 'label-valid' : 'label-required'">{{trans('app.billingService.price')}}</label></b-col>
      </b-row>
      <b-row class="mb-1">
       <b-col><input type="number" v-model="draft.price" class="form-control" ></b-col>
      </b-row>

      <b-row class="mb-1">
        <b-col>
            <div enctype="multipart/form-data" @click="processFile($event)">
                <a href="#" >
                  <b-row>
                    <b-col>
                        <template v-if="draft.flag==false">
                            <b-img thumbnail fluid width="455" height="275" :src="draft.icon ? draft.icon :trans('settings.default_image')" alt="Thumbnail"/>
                        </template>
                        <template v-else>
                          <b-img thumbnail fluid width="455" height="275"
                          :src="draft.icon"
                          />
                        </template>
                    </b-col>
                  </b-row>
                </a>
            </div>
        </b-col>
      </b-row>

      <b-row class="mb-1">
        <b-col>
            <b-form-file @change="processFile($event)" placeholder="Choose a file..." ref="fileinput"></b-form-file>
        </b-col>
      </b-row>

      <b-row class="mb-1">
       <b-col><label :class="validDescription ? 'label-valid' : 'label-required'">{{trans('app.billingTerm.description')}}</label></b-col>
      </b-row>
      <b-row class="mb-1">
       <b-col><textarea rows="4" v-model="draft.description" class="form-control"></textarea>
       </b-col>
      </b-row>

    </b-container>
    <div slot="modal-footer" class="pull-right">
        <b-btn class="btn btn-outline-danger" @click="close"> {{trans('app.buttons.close')}}</b-btn>

        <b-btn @click="save"  class="btn btn-outline-primary" :disabled="! validForm"> {{draft.id ? trans('app.buttons.update') : trans('app.buttons.create')}}</b-btn>

    </div>
    <!-- </b-form>     -->
  </b-modal>
</div>
</template>

<script>
    export default {
        props: ['show', 'draft', 'billingTerms'],
        data(){
            return{
              images:[],
                categoriesList: [
                    { value: '', text: ''},
                ],
            }
        },
        created(){
            this.listCategories()
        },
        methods:{
            listCategories(){
                this.$store.dispatch('listCategories')
            },
            close(){
                this.$emit('close')
                this.images = []

            },
            save(){
                this.imageName();
                if (this.draft.id) {
                    this.update()
                } else{
                    this.store()
                }
                this.close()
            },
            imageName(){
                if (this.images.length > 0) {
                    this.draft.image=this.images[0].url
                }
            },
            update(){

                this.$store.dispatch('updateBillingService', {id:this.draft.id, draft:this.draft, Base64Img:this.base64, images:this.images})
            },
            store(){
                this.$store.dispatch('storeBillingService',
                {draft:this.draft, Base64Img:this.base64, images:this.images,})

            },
            processFile(e) {
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                    this.createImage(files[0]);
                    this.viewImage(files[0]);
            },

            createImage(file) {
                var reader = new FileReader();
                reader.readAsDataURL(file);
                reader.onload = (function(f, images){
                    return function(e) {
                        images.push({
                            url: f.name.replace(' ', ''),
                            Base64Img: e.target.result,
                        });
                    };
                })(file, this.images);
                this.draft.flag=true;
            },
            viewImage(file){

                var image = new Image();

                var reader = new FileReader();
                var vm = this;
                reader.onload = (e) => {
                    vm.draft.icon = e.target.result;

                };

                reader.readAsDataURL(file);

            },
            removeImage: function (e) {
                this.draft.icon = '';
            },
        },
        computed:{
            categories(){

                let arr = this.$store.state.Category.list
                for (var i = arr.length - 1; i >= 0; i--) {
                   var obj={};
                   obj.value = arr[i].id;
                   obj.text= arr[i].name;
                   this.categoriesList.push(obj);
                }
                return this.categoriesList;
            },
            validForm(){
              return this.validName && this.validCode && this.validDescription  && this.validPrice && this.validImage
            },
            validName(){
              return this.draft.name ? this.draft.name.length > 3 : false
            },
            validCode(){
              return this.draft.code != ''
            },
            validDescription(){
                return this.draft.description != ''
            },
            validPrice(){
                return this.draft.price > 0
            },
            validImage(){
                return this.draft.image != ''
            },

        }
    }
</script>