<template>
    <div>
        <div class="form-group">
            <input type="text" v-model="contact.first_name" class="form-control" :class="! validFirstName ? 'has-error ' + inputSize : 'inputSize'" placeholder="First name*">
        </div>
        <div class="form-group">
            <input type="text" v-model="contact.last_name" :class="inputSize" class="form-control" placeholder="Last name">
        </div>
        <div class="form-group">
            <input type="email" v-model="contact.email" class="form-control" :class="! validEmail ? 'has-error ' + inputSize : 'inputSize'" placeholder="Email*">
        </div>
        <div class="form-group">
            <input type="text" v-model="contact.phone" :class="inputSize" class="form-control" placeholder="Phone">
        </div>

        <div class="form-group">
            <textarea cols="6" rows="3" v-model="contact.message" class="form-control" :class="! validMessage ? 'has-error ' + inputSize : 'inputSize'" placeholder="Message"></textarea>
        </div>
        <button @click="contactUs()" class="btn btn-primary btn-lg orange" :disabled="! validForm">
         Submit now!
         <atom-spinner
              :animation-duration="1000"
              :size="25"
              :color="'white'"
              class="pull-right"
              v-if="showSpinner"
         ></atom-spinner>
        </button>
    </div>
</template>

<script>

    import {AtomSpinner} from 'epic-spinners'

    export default {
        components: {
            AtomSpinner
        },
        props: {
            subject: {default: 'Contact'},
            inputSize: {default: ''},
        },
        data(){
            return {
                contact: {
                    subject: this.subject,
                    first_name: '',
                    last_name: '',
                    email: '',
                    phone: '',
                    message: '',
                },
                showSpinner: false,
            }
        },
        methods: {
            contactUs(){
                this.showSpinner = true
                axios.post('/api/contact', this.contact)
                    .then( response => {
                        Vue.toasted.show(response.data.message, {icon: 'plus', type: 'success'})
                        this.showSpinner = false
                        this.clear()
                    })
                    .catch( error => {
                        Vue.toasted.show(error.message, {icon: 'exclamation-triangle', type: 'error'})
                    })
            },
            clear(){
                    this.contact.first_name = '';
                    this.contact.last_name = '';
                    this.contact.email = '';
                    this.contact.phone = '';
                    this.contact.message = '';
            }
        },
        computed: {
            validForm(){
                return this.validFirstName && this.validEmail && this.validMessage
            },
            validFirstName(){
                return this.contact.first_name.length > 3
            },
            validEmail(){
                var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(String(this.contact.email).toLowerCase());
            },
            validMessage(){
                return this.contact.message.length > 5
            },
        }


    }
</script>


<style>
    .orange{
        background-color: #e96c4c !important;
    }
    input {
        display: inline-block;
        width: 100% !important;
        height: 50px !important;
        padding: 6px 12px !important;
        font-size: 14px !important;
        line-height: 1.42857 !important;
        color: #555 !important;
        background-color: #ffffff !important;
        background-image: none !important;
        border: 1px solid #ddd !important;
        border-radius: 0px !important;
        box-shadow !important:
    }
</style>