<template>
    <div>
        <contact-navbar/>
        <!-- Start Body Content -->
        <div class="main" role="main">
            <div id="content" class="content full">
                <div class="container">
                    <div class="listing-header margin-40">
                        <h2>Contact Us</h2>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-sm-4">
                            <i class="fa fa-home"></i></span> <b><a href="/">Carsyagoo.com</a></b><br>
                                P.O. BOX 279355<br>
                                Miramar, FL 33027<br><br>
                                <i class="fa fa-phone"></i> <b>800-398-6320</b><br>
                                <i class="fa fa-envelope"></i> <a href="mailto:info@carsyagoo.com">Info@Carsyagoo.com</a><br><br>
                                <i class="fa fa-home"></i> <b>OPEN</b>
                        </div>
                        <div class="col-md-6 col-md-offset-2 col-sm-8">
                            <contact-form input-size="input-lg"></contact-form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Body Content -->
    </div>
</template>
