<template>
    <div>
        <div class="page-header parallax" :style="'background-image:url(' + trans('settings.blog.image') + ');'">
            <div class="container">
                <h1 class="page-title">Contact</h1>
            </div>
        </div>
        <!-- Utiity Bar -->
        <div class="utility-bar">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-6 col-xs-8">
                        <ol class="breadcrumb">
                            <a :href="'/home'">Home / </a>
                        </ol>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-4">
                        <!-- <ul class="utility-icons social-icons social-icons-colored">
                            <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li class="googleplus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li class="pinterest"><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        </ul> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        
    }
</script>