<template>
<div>
  <b-modal v-model="show" :title="draft.id ? trans('app.model.edit') : trans('app.model.add')"  @hide="close">
        <b-container fluid>
             <b-row class="mb-1">
               <b-col><label :class="validName ? 'label-valid' : 'label-required'">{{trans('app.model.name')}}</label></b-col>
             </b-row>
             <b-row class="mb-1">
               <b-col><input type="text" v-model="draft.name" class="form-control" ></b-col>
             </b-row>

             <b-row class="mb-1">
               <b-col><label :class="validAlias ? 'label-valid' : 'label-required'">{{trans('app.model.alias')}}</label></b-col>
             </b-row>
             <b-row class="mb-1">
               <b-col><input type="text" v-model="draft.alias" class="form-control" ></b-col>
             </b-row>

             <b-row class="mb-1">
               <b-col><label :class="validMetaKey ? 'label-valid' : 'label-required'">
               {{trans('app.model.metakey')}}
                </label></b-col>
             </b-row>
             <b-row class="mb-1">
               <b-col>
                    <input type="text" v-model="draft.metakey" class="form-control">
               </b-col>
             </b-row>
             <b-row class="mb-1">
               <b-col><label :class="validMetaDesc ? 'label-valid' : 'label-required'">{{trans('app.model.metadesc')}}
                </label></b-col>
             </b-row>
             <b-row class="mb-1">
               <b-col>
                    <input type="text" v-model="draft.metadesc" class="form-control">
               </b-col>
             </b-row>

             <b-row class="mb-1">
                  <b-col><label :class="validMake ? 'label-valid' : 'label-required'">{{trans('app.model.make')}}</label></b-col>
             </b-row>
             <b-row class="mb-1">
                <b-col>
                    <b-form-select v-model="draft.make_id" :options="makes" value-field="id" text-field="name" class="mb-3"/>
                </b-col>
            </b-row>

            <b-row class="mb-1">
                  <b-col><label :class="validStatus ? 'label-valid' : 'label-required'">{{trans('app.model.status')}}</label></b-col>
             </b-row>
             <b-row class="mb-1">
                <b-col>
                    <b-form-select v-model="draft.status" :options="statuses" class="mb-3"/>
                </b-col>
            </b-row>


             <b-row class="mb-1">
                  <b-col><label :class="validDescription ? 'label-valid' : 'label-required'">{{trans('app.model.description')}}</label></b-col>
             </b-row>
             <b-row class="mb-1">
                <b-col>
                    <textarea v-model="draft.description" maxlength="800" class="form-control" rows="3" ></textarea>
                </b-col>
            </b-row>

            <b-row class="mb-1">
                <b-col>
                    <div enctype="multipart/form-data" @click="processFile($event)">
                        <a href="#" >
                          <b-row>
                            <b-col>
                                <template v-if="draft.flag==false">
                                    <b-img thumbnail fluid width="455" height="275" :src="draft.image ? draft.image : trans('settings.default_image')" alt="Thumbnail"/>
                                </template>
                                <template v-else>
                                  <b-img thumbnail fluid width="455" height="275"
                                  :src="draft.image"
                                  />
                                </template>
                            </b-col>
                          </b-row>
                        </a>
                    </div>
                </b-col>
            </b-row>

            <b-row class="mb-1">
                <b-col>
                    <b-form-file @change="processFile($event)" placeholder="Choose a file..." ref="fileinput"></b-form-file>
                </b-col>
             </b-row>

        </b-container>
    <div slot="modal-footer" class="pull-right">
        <b-btn class="btn btn-outline-danger" @click="close"> {{trans('app.buttons.close')}}</b-btn>

        <b-btn @click="save"  class="btn btn-outline-primary" > {{draft.id ? trans('app.buttons.update') : trans('app.buttons.create')}}</b-btn>

    </div>
    <!-- </b-form>     -->
  </b-modal>
</div>
</template>

<script>
    export default {
        props: ['show', 'draft'],
        data(){
            return{
                images:[],
                statuses: [
                    { value: '1', text: trans('app.common.active') },
                    { value: '0', text: trans('app.common.inactive') },
                ],
                makesList: [
                    { value: '', text: ''},
                ],
            }
        },
        created(){
            this.listMakes()
        },
        methods:{
            listMakes(){

                this.$store.dispatch('listMakes')
            },
            close(){
                this.$emit('close')
                this.images = []

            },
            save(){
                this.imageName();
                if (this.draft.id) {
                    this.update()
                } else{
                    this.store()
                }
                this.close()
            },
            imageName(){
                if (this.images.length > 0) {
                    this.draft.image=this.images[0].url
                }
            },
            update(){

                this.$store.dispatch('updateModel', {id:this.draft.id, draft:this.draft, Base64Img:this.base64, images:this.images})
            },
            store(){
                this.$store.dispatch('storeModel',
                {draft:this.draft, Base64Img:this.base64, images:this.images,})

            },
            processFile(e) {
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                    this.createImage(files[0]);
                    this.viewImage(files[0]);
            },

            createImage(file) {
                var reader = new FileReader();
                reader.readAsDataURL(file);
                reader.onload = (function(f, images){
                    return function(e) {
                        images.push({
                            url: f.name.replace(' ', ''),
                            Base64Img: e.target.result,
                        });
                    };
                })(file, this.images);
                this.draft.flag=true;
            },
            viewImage(file){

                var image = new Image();

                var reader = new FileReader();
                var vm = this;
                reader.onload = (e) => {
                    vm.draft.image = e.target.result;

                };

                reader.readAsDataURL(file);

            },
        },
        computed:{
            makes(){
                return this.$store.state.Make.list
            },
            validForm(){
              return this.validName  && this.validMake  && this.validAlias && this.validDescription && this.validMetaKey && this.validMetaDesc && this.validStatus
            },
            validName(){
              return this.draft.name ? this.draft.name.length > 3 : false
            },
            validAlias(){
              return this.draft.alias ? this.draft.alias.length > 3 : false
            },
            validMake(){
                return this.draft.make_id
            },
            validDescription(){
                return this.draft.description
            },
            validMetaDesc(){
                return this.draft.metadesc
            },
            validMetaKey(){
                return this.draft.metakey
            },
            validStatus(){
                return this.draft.status
            },

        }
    }
</script>