<template>
<div>
  <b-modal v-model="show" :title="draft.id ? trans('app.bodyType.edit') : trans('app.bodyType.add')"  @hide="close">
        <b-container fluid>
             <b-row class="mb-1">
               <b-col><label :class="validString(draft.name) ? 'label-valid' : 'label-required'">{{trans('app.bodyType.name')}}</label></b-col>
             </b-row>
             <b-row class="mb-1">
               <b-col><input type="text" v-model="draft.name" class="form-control" ></b-col>
             </b-row>

             <b-row class="mb-1">
                  <b-col><label :class="validValue(draft.category_id) ? 'label-valid' : 'label-required'">{{trans('app.bodyType.category')}}</label></b-col>
             </b-row>
             <b-row class="mb-1">
                <b-col>
                    <b-form-select
                      v-model="draft.category_id"
                      :options="categories"
                      value-field="id"
                      text-field="name"
                      class="mb-3"/>
                </b-col>
            </b-row>

            <b-row class="mb-1">
               <b-col><label :class="validString(draft.metakey) ? 'label-valid' : 'label-required'">
               {{trans('app.bodyType.metakey')}}
                </label></b-col>
             </b-row>
             <b-row class="mb-1">
               <b-col>
                    <input type="text" v-model="draft.metakey" class="form-control">
               </b-col>
             </b-row>
             <b-row class="mb-1">
               <b-col><label :class="validString(draft.metadesc) ? 'label-valid' : 'label-required'">{{trans('app.bodyType.metadesc')}}
                </label></b-col>
             </b-row>
             <b-row class="mb-1">
               <b-col>
                    <input type="text" v-model="draft.metadesc" class="form-control">
               </b-col>
             </b-row>

             <b-row class="mb-1">
                  <b-col><label :class="validValue(draft.status) ? 'label-valid' : 'label-required'">{{trans('app.bodyType.status')}}</label></b-col>
             </b-row>
             <b-row class="mb-1">
                <b-col>
                    <b-form-select v-model="draft.status" :options="statuses" class="mb-3"/>
                </b-col>
            </b-row>

             <b-row class="mb-1">
                <b-col>
                    <div enctype="multipart/form-data" @click="processFile($event)">
                        <a href="#" >
                          <b-row>
                            <b-col>
                                <template v-if="draft.flag==false">
                                    <b-img thumbnail fluid width="455" height="275" :src="draft.image ? draft.image : trans('settings.default_image')" alt="Thumbnail"/>
                                </template>
                                <template v-else>
                                  <b-img thumbnail fluid width="455" height="275"
                                  :src="draft.image"
                                  />
                                </template>
                            </b-col>
                          </b-row>
                        </a>
                    </div>
                </b-col>
            </b-row>

            <b-row class="mb-1">
                <b-col>
                    <b-form-file @change="processFile($event)" placeholder="Choose a file..." ref="fileinput"></b-form-file>
                </b-col>
             </b-row>

             </b-row>
        </b-container>
    <div slot="modal-footer" class="pull-right">
        <b-btn class="btn btn-outline-danger" @click="close"> {{trans('app.buttons.close')}}</b-btn>
        <b-btn @click="save"  class="btn btn-outline-primary" :disabled="! validForm"> {{draft.id ? trans('app.buttons.update') : trans('app.buttons.create')}}</b-btn>
    </div>
  </b-modal>
</div>
</template>

<script>
    export default {
        props: ['show', 'draft'],
        data(){
            return{
                images:[],
                statuses: [
                    { value: '1', text: trans('app.common.active') },
                    { value: '0', text: trans('app.common.inactive') },
                ],
            }
        },
        created(){
            this.listCategories()
        },
        methods:{
            listCategories(){
                this.$store.dispatch('listCategories')
            },
            close(){
                this.$emit('close')
                this.images = []
            },
            save(){
                this.imageName();
                if (this.draft.id) {
                    this.update()
                } else{
                    this.store()
                }
                this.close()
            },
            clear(){
              this.draft = {
                    id: null,
                    name: '',
                    image: '',
                    metakey: '',
                    metadesc: '',
                    category_id: null,
                    status: 1,
                    flag:true,
                }
              },
            imageName(){
                if (this.images.length > 0) {
                    this.draft.image=this.images[0].url
                }
            },
            update(){
                var draft = this.draft
                var id = this.draft.id
                this.$store.dispatch('updateBodyType', {id:this.draft.id, draft:this.draft, Base64Img:this.base64, images:this.images})
            },
            store(){
              this.$store.dispatch('storeBodyType', {draft:this.draft, Base64Img:this.base64, images:this.images,})

            },
            processFile(e) {
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                    this.createImage(files[0]);
                    this.viewImage(files[0]);
            },
            createImage(file) {
                var reader = new FileReader();
                reader.readAsDataURL(file);
                reader.onload = (function(f, images){
                    return function(e) {
                        images.push({
                            url: f.name.replace(' ', ''),
                            Base64Img: e.target.result,
                        });
                    };
                })(file, this.images);
                this.draft.flag=true;
            },
            viewImage(file){

                var image = new Image();

                var reader = new FileReader();
                var vm = this;
                reader.onload = (e) => {
                    vm.draft.image = e.target.result;

                };

                reader.readAsDataURL(file);

            },
            removeImage: function (e) {
                this.draft.image = '';
            },
            validString(value){
                return value != ''
            },
            validValue(value){
                return value != null
            },
        },
        computed:{
            // categories(){

            //     let arr = this.$store.state.Category.list

            //     for (var i = arr.length - 1 ; i >= 0; i--) {
            //       var obj={};

            //       obj.value = arr[i].id;
            //       obj.text= arr[i].name;
            //       this.categoriesList.push(obj);
            //     }
            //     return this.categoriesList
            // },
            categories(){
             let valor =this.$store.state.Category.list
             return valor;
            },
            validForm(){
              return this.validString(this.draft.name)  &&
                this.validString(this.draft.metakey) &&
                this.validString(this.draft.metadesc) &&
                this.validValue(this.draft.category_id) &&
                this.validValue(this.draft.status)
            },

        }
    }
</script>