<template>
    <a href="#"
        @click.prevent="toggle"
        class="btn btn-default"
        title="Save this car">
            <template v-if="value">
                <i class="fa fa-star"></i>
                <span>{{ trans('app.wishList.drop') }}</span>
            </template>
            <template v-else>
                <i class="fa fa-star-o"></i>
                <span>{{ trans('app.wishList.save') }}</span>
            </template>
    </a>
</template>
<script>
    export default {
        props: ['value', 'ads_manager_id'],
        methods: {
            toggle(){
                if (this.value) {
                    this.$store.dispatch('removeWishList', {ads_manager_id: this.ads_manager_id})
                } else {
                    this.$store.dispatch('storeWishList', {ads_manager_id: this.ads_manager_id})
                }
                this.$emit('input', ! this.value)
            }
        }
    }
</script>