<template>
<div>
  <b-modal v-model="show" :title="draft.id ? trans('app.category.edit') : trans('app.category.add')"  @hide="close">
    <b-container fluid>
         <b-row class="mb-1">
          <b-col>
            <label :class="validName ? 'label-valid' : 'label-required'">{{trans('app.category.name')}}</label>
          </b-col>
         </b-row>
         <b-row class="mb-1">
           <b-col>
            <input type="text" v-model="draft.name" class="form-control">
           </b-col>
         </b-row>
          <b-row class="mb-1">
           <b-col>
            <label :class="validTitle ? 'label-valid' : 'label-required'">{{trans('app.category.title')}}</label>
         </b-col>
         </b-row>
         <b-row class="mb-1">
           <b-col>
                <input type="text" v-model="draft.title" class="form-control">
           </b-col>
         </b-row>
         <b-row class="mb-1">
           <b-col>
            <label :class="validAlias ? 'label-valid' : 'label-required'">{{trans('app.category.alias')}}</label>
           </b-col>
         </b-row>
         <b-row class="mb-1">
           <b-col>
                <input type="text" v-model="draft.alias" class="form-control">
           </b-col>
         </b-row>
         <b-row class="mb-1">
           <b-col>
            <label :class="validMetaData ? 'label-valid' : 'label-required'">{{trans('app.category.metadata')}}</label>
           </b-col>
         </b-row>
         <b-row class="mb-1">
           <b-col>
                <textarea class="form-control" v-model="draft.metadata"></textarea>
           </b-col>
         </b-row>
         <b-row class="mb-1">
           <b-col>
            <label :class="validMetaKey ? 'label-valid' : 'label-required'">{{trans('app.category.metakey')}}</label>
           </b-col>
         </b-row>
         <b-row class="mb-1">
           <b-col>
                <textarea class="form-control" v-model="draft.metakey"></textarea>
           </b-col>
         </b-row>
         <b-row class="mb-1">
           <b-col>
            <label :class="validMetaDesc ? 'label-valid' : 'label-required'">{{trans('app.category.metadesc')}}</label>
           </b-col>
         </b-row>
         <b-row class="mb-1">
           <b-col>
                <textarea class="form-control" v-model="draft.metadesc"></textarea>
           </b-col>
         </b-row>
         <b-row class="mb-1">
              <b-col>
                <label :class="validStatus ? 'label-valid' : 'label-required'">{{trans('app.category.status')}}</label>
              </b-col>
         </b-row>
         <b-row class="mb-1">
            <b-col>
                <b-form-select v-model="draft.status" :options="statuses" class="mb-3"/>
            </b-col>
        </b-row>
    </b-container>
    <div slot="modal-footer" class="pull-right">
        <b-btn class="btn btn-outline-danger" @click="close"> {{trans('app.buttons.close')}}</b-btn>
        <b-btn class="btn btn-outline-primary" @click="save" :disabled="!validForm"> {{draft.id ? trans('app.buttons.update') : trans('app.buttons.create')}}</b-btn>
    </div>
  </b-modal>
</div>
</template>

<script>
    export default {
        props: ['show', 'draft'],
        data(){
            return{
                statuses: [
                    { value: '1', text: 'Active' },
                    { value: '0', text: 'Inactive' },
                ],
                categories: [
                    { value: null, text: trans('app.common.select') },
                    { value: '0', text: 'Category 1' },
                    { value: '1', text: 'Category 2' },
                    { value: '2', text: 'Category 3' },
                    { value: '3', text: 'Category 4' },
                ],
            }
        },
        methods:{
            close(){
                this.$emit('close')
            },
            save(){
                if (this.draft.id) {
                    this.update()
                } else{
                    this.store()
                }
                this.close()
            },
            update(){
                var draft = this.draft
                var id = this.draft.id
                this.$store.dispatch('updateCategory', { id: id, draft })
            },
            store(){
                this.$store.dispatch('storeCategory', this.draft)
            },
        },
        computed:{
            validForm(){
              return this.validName && this.validStatus && this.validTitle
                && this.validAlias && this.validMetaData && this.validMetaKey
                && this.validMetaDesc
            },
            validName(){
              return this.draft.name != ''
            },
            validTitle(){
              return this.draft.title != ''
            },
            validAlias(){
              return this.draft.alias != ''
            },
            validMetaData(){
              return this.draft.metadata != ''
            },
            validMetaKey(){
              return this.draft.metakey != ''
            },
            validMetaDesc(){
              return this.draft.metadesc != ''
            },
            validStatus(){
                return this.draft.status != ''
            },
        }
    }
</script>