<template>
	<div class="box box-solid box-danger" :class="loading ? 'box-loading' : ''">
      <div class="box-header with-border">
      	<h3 class="box-title">{{ trans('app.category.top_title') }}</h3>
      </div>
    <spinner v-if="loading" :size="200" color="#dd4b39"/>
    <div class="box-body">
      <div class="form-inline pull-left ">
        <div class="form-inline pull-left">
          <button type="button" class="btn btn-danger" @click="create">
            <i class="fa fa-plus"> </i>
          </button>
        </div>
      </div>
      <form class="form-inline pull-right">
      	<div class="form-group mx-sm-6 mb-2">
      			<label class="sr-only">Search</label>
      			  <input v-model="target" :placeholder="trans('app.common.search')"  class="form-control" @keyup.enter="getCategories"/>
      	</div>
      </form>
      <div class="clearfix"></div>
      <b-table ref="table" striped hover show-empty
      		responsive
      		:items="category"
          @sort-changed="sortingChanged"
      		:fields="fields"
      		stacked="md"
          :filter="filter"
          :sort-by.sync="sortBy"
          :sort-desc.sync="sortDesc"
          empty-text="Cargando..."
           >
          <template slot="Actions" slot-scope="row">
              <button class="btn btn-success" @click="edit(row.item, row.index)" :title="trans('app.common.edit')">
                <i class="fa fa-edit"></i>
              </button>

              <button class="btn btn-warning" @click="remove(row.item, row.index)" :title="trans('app.common.delete')">
                  <i class="fa fa-trash-o"></i>
              </button>
        	</template>
      </b-table>
      <div class="box-footer text-center">
        <b-pagination align="center" :total-rows="totalRows" :per-page="perPage" v-model="currentPage" class="my-0" @input="getCategories" />
      </div>
      <category-edit :show="showEdit" :draft="draft" @close="close"></category-edit>
    </div>
	</div>
</template>

<style>
  .msj-alert{
    font-size: 15px;
  }
</style>

<script>

    export default {
		watch:{
			target(){
            	this.getCategories()
            }
		},
		data(){
			return{
          currentPage: null,
          target: '',
          draft: {},
          currentIndex: null,
          sortBy: 'id',
          sortDesc: true,
				  showEdit: false,
				  currentId: null,
			    filter: null,
				  items: null,
          fields: [
              {
              key: 'id', label: '#', sortable: true,
              },
        			{
        			key: 'name', label: trans('app.category.name'), sortable: true,
        			},
        			{
        			key: 'title', label: trans('app.category.title'), sortable: true,
        			},
        			{
        			key: 'alias', label: trans('app.category.alias'), sortable: true,
        			},
        			{
        			key: 'Actions', label: trans('app.common.actions'), 'class': 'pull-right'
        			}
      			],
            alert: {
              msg: ''
            }
			}
		},
		created(){
            this.getCategories()
        },
		methods:{

              getCategories(){
                let params = {page: this.currentPage, target: this.target, orderBy: this.sortBy, desc: this.sortDesc}
                this.$store.dispatch('getCategories', params)
            },
            create(){
                this.draft = {
                    id: null,
                    name:'',
                    title:'',
                    alias:'',
                    metadata:'',
                    metakey:'',
                    metadesc:'',
                    status:1,
                }
                this.showEdit = true
            },
	          edit(category, index){
                this.draft = clone(category)
                this.currentIndex = index
                this.showEdit = true
            },
            close(){
              this.showEdit = false
            },
            remove(item, index){
                this.$swal({
                  title: trans('app.common.delete_title'),
                  text: trans('app.common.delete_text') + item.name +'?',
                  type: 'warning',
                  showCancelButton: true,
                  confirmButtonColor: '#3085d6',
                  cancelButtonColor: '#d33',
                  confirmButtonText: trans('app.common.delete_confirm'),
                  cancelButtonText: trans('app.common.0')
                }).then((result) => {
                  if (result.value) {
                    this.$store.dispatch('removeCategory', item.id)
                  }
                })
            },
            sortingChanged (ctx) {
      				if (ctx.sortBy) {
                  this.sortBy = ctx.sortBy
                  this.sortDesc = ctx.sortDesc
                  this.currentPage = null
                  this.getCategories()
              }
    		    }
    		},
        computed:{
            category(){
                return this.$store.state.Category.list
            },
            category(){
                return this.$store.state.Category.categories
            },
            current_page(){
                return this.$store.state.Category.currentPage
            },
            totalRows(){
                return this.$store.state.Category.totalRows
            },
            perPage(){
                return this.$store.state.Category.perPage
            },
            loading(){
               return this.$store.state.Category.loading
            }
        }
	}
</script>