<template>
    <div class="box box-solid box-danger" :class="loading ? 'box-loading' : ''">
        <div class="box-header with-border">
            <h3 class="box-title">{{trans('app.contact.title')}}</h3>
        </div>
        <div class="box-body">
            <spinner v-if="loading" :size="200"/>
            <form class="form-inline pull-right">
                <div class="form-group mx-sm-6 mb-2 hidden-print">
                  <label class="sr-only">{{trans('app.common.search')}}</label>
                  <input type="text" class="form-control" :placeholder="trans('app.common.search')" v-model="target" @keyup.enter="getColors">
                </div>
            </form>
            <div class="clearfix"></div>
            <b-table striped hover responsive
            :items="contacts"
            :fields="fields"
            :no-local-sorting="true"
            @sort-changed="sortingChanged"
            >
            </b-table>
        </div>
        <div class="box-footer text-center">
            <b-pagination
                :total-rows="totalRows"
                :per-page="perPage"
                align="center"
                v-model="currentPage"
                class="my-0"
                @input="getContacts"
            />
        </div>
    </div>


</template>
<script>
    export default {
        watch:{
            target(){
                this.getContacts()
            }
        },
        data(){
            return{
                fields: [
                    { key: 'id', label: '#', sortable: true },
                    { key: 'subject', label: trans('app.contact.subject'), sortable: true },
                    { key: 'first_name', label: trans('app.contact.first_name'), sortable: true},
                    { key: 'last_name', label: trans('app.contact.last_name'), sortable: true},
                    { key: 'email', label: trans('app.contact.email'), sortable: true},
                    { key: 'phone', label: trans('app.contact.phone'), sortable: true},
                    { key: 'message', label: trans('app.contact.message'), sortable: true},
                ],
                currentPage: null,
                target: '',
                sortBy: 'id',
                sortDesc: true,
            }
        },
        created(){
            this.getContacts()
        },
        methods: {
            getContacts(){
                let params = {page: this.currentPage, target: this.target, orderBy: this.sortBy, desc: this.sortDesc, rows: 5}
                this.$store.dispatch('getContacts', params)
            },
            sortingChanged (ctx) {
                if (ctx.sortBy) {
                    this.sortBy = ctx.sortBy
                    this.sortDesc = ctx.sortDesc
                    this.currentPage = 1
                    this.getContacts()
                }
            },
        },
        computed: {
            loading(){
                return this.$store.state.Contact.loading
            },
            contacts(){
                return this.$store.state.Contact.data
            },
            current_page(){
                return this.$store.state.Contact.currentPage
            },
            totalRows(){
                return this.$store.state.Contact.totalRows
            },
            perPage(){
                return parseInt(this.$store.state.Contact.perPage)
            },
        }
    }
</script>