<template>
<div>
  <b-modal v-model="show" :title="draft.id ? trans('app.tag.edit') : trans('app.tag.add')"  @hide="close">
    <b-container fluid>
      <b-row class="mb-1">
        <b-col><label :class="validName ? 'label-valid' : 'label-required'">{{trans('app.tag.name')}}</label></b-col>
      </b-row>
      <b-row class="mb-1">
        <b-col><input type="text" v-model="draft.name" class="form-control" ></b-col>
      </b-row>

    </b-container>
    <div slot="modal-footer" class="pull-right">
        <b-btn class="btn btn-outline-danger" @click="close"> {{trans('app.buttons.close')}}</b-btn>
        <b-btn class="btn btn-outline-primary" @click="save" :disabled="!validForm"> {{draft.id ? trans('app.buttons.update') : trans('app.buttons.create')}}</b-btn>
    </div>
  </b-modal>
</div>
</template>

<script>
    export default {
        props: ['show', 'draft'],
        data(){
            return{
              //
            }
        },
        methods:{
            close(){
                this.$emit('close')
            },
            save(){
                if (this.draft.id) {
                    this.update()
                } else{
                    this.store()
                }
                this.close()
            },
            update(){
                var draft = this.draft
                var id = this.draft.id
                this.$store.dispatch('updateTag', {id:this.draft.id, draft:this.draft})
            },
            store(){
                this.$store.dispatch('storeTag', this.draft)
            },
        },
        computed:{
            validForm(){
              return this.validName
            },
            validName(){
              return this.draft.name ? this.draft.name.length > 3 : false
            },
        }
    }
</script>