<template>
  <div class="col-md-8">
    <div class="box box-solid box-danger" :class="loading ? 'box-loading' : ''">
        <div class="box-header with-border">
          <h3 class="box-title">{{ trans('app.tag.title') }}</h3>
        </div>
        <div class="box-body">
            <div class="form-inline pull-left ">
                <div class="form-inline pull-left">
                    <button type="button" class="btn btn-danger" @click="create">
                      <i class="fa fa-plus"> </i>
                    </button>
                </div>
            </div>
            <spinner v-if="loading" :size="200"/>
            <form class="form-inline pull-right">
                <div class="form-group mx-sm-6 mb-2">
                    <label class="sr-only">{{ trans('app.common.seacrh') }}</label>
                      <input v-model="target" :placeholder="trans('app.common.search')"  class="form-control" @keyup.enter="getTags"/>
                </div>
            </form>
            <div class="clearfix"></div>
            <b-table ref="table" striped hover show-empty
                responsive
                :items="tags"
                @sort-changed="sortingChanged"
                :fields="fields"
                stacked="md"
                :filter="filter"
                :sort-by.sync="sortBy"
                :sort-desc.sync="sortDesc"
                :empty-text="trans('app.common.loading')"
           >
          <template slot="Actions" slot-scope="row" class="">
              <button class="btn btn-success" @click="edit(row.item, row.index)" :title="trans('app.common.edit')">
                <i class="fa fa-edit"></i>
              </button>

              <button class="btn btn-warning" @click="remove(row.item, row.index)" :title="trans('app.common.delete')">
                  <i class="fa fa-trash-o"></i>
              </button>
            </template>
            </b-table>
            <b-row>
                <b-col class="my-1">
                  <b-pagination align="center" :total-rows="totalRows" :per-page="perPage" v-model="currentPage" class="my-0" @input="getTags" />
                </b-col>
            </b-row>
            <tag-edit :show="showEdit" :draft="draft" @close="close"></tag-edit>
        </div>
    </div>
  </div>
</template>

<style>
  .msj-alert{
    font-size: 15px;
  }
</style>

<script>
    export default {
        watch:{
            target(){
                this.getTags()
            }
        },
        data(){
            return{
                currentPage: null,
                target: '',
                draft: {},
                currentIndex: null,
                sortBy: 'id',
                sortDesc: true,
                showEdit: false,
                currentId: null,
                filter: null,
                items: null,
                fields: [
                    {
                        key: 'id',
                        label: 'ID',
                        sortable: true,
                    },
                    {
                        key: 'name',
                        label: trans('app.tag.name'),
                        sortable: true,
                    },
                    {
                        key: 'Actions',
                        label: trans('app.common.actions'),
                        'class': 'pull-right',
                    }
                ],
                alert: {
                    msg: ''
                }
            }
        },
        created(){
            this.getTags()
        },
        methods:{
              getTags(){
                let params = {page: this.currentPage, target: this.target, orderBy: this.sortBy, desc: this.sortDesc}
                this.$store.dispatch('getTags', params)
            },
            create(){
                this.draft = {
                    id: null,
                    name:'',
                }
                this.showEdit = true
            },
              edit(tag, index){
                this.draft = clone(tag)
                this.currentIndex = index
                this.showEdit = true
            },
            close(){
              this.showEdit = false
            },
            remove(item, index){
                this.$swal({
                  title: trans('app.common.delete_title'),
                  text: trans('app.common.delete_text') + item.name +'?',
                  type: 'warning',
                  showCancelButton: true,
                  confirmButtonColor: '#3085d6',
                  cancelButtonColor: '#d33',
                  confirmButtonText: trans('app.common.delete_confirm'),
                  cancelButtonText: trans('app.common.0')
                }).then((result) => {
                  if (result.value) {
                    this.$store.dispatch('removeTag', item.id)
                  }
                })
            },
            sortingChanged (ctx) {
                if (ctx.sortBy) {
                  this.sortBy = ctx.sortBy
                  this.sortDesc = ctx.sortDesc
                  this.currentPage = null
                  this.getTags()
                }
            },
        },
        computed:{
            tagList(){
                return this.$store.state.Tag.list
            },
            tags(){
                return this.$store.state.Tag.data
            },
            current_page(){
                return this.$store.state.Tag.currentPage
            },
            totalRows(){
                return this.$store.state.Tag.totalRows
            },
            perPage(){
                return this.$store.state.Tag.perPage
            },
            loading(){
               return this.$store.state.Tag.loading
            }
        }
    }
</script>