<template>
<div>
  <b-modal v-model="show" :title="draft.id ? trans('app.transmission.edit') : trans('app.transmission.add')"  @hide="close">
        <b-container fluid>
             <b-row class="mb-1">
               <b-col><label :class="validName ? 'label-valid' : 'label-required'">{{trans('app.transmission.name')}}</label></b-col>
             </b-row>
             <b-row class="mb-1">
               <b-col><input type="text" v-model="draft.name" class="form-control" ></b-col>
             </b-row>

             <b-row class="mb-1">
               <b-col><label :class="validCode ? 'label-valid' : 'label-required'">{{trans('app.transmission.code')}}</label></b-col>
             </b-row>
             <b-row class="mb-1">
               <b-col><input type="text" v-model="draft.code" class="form-control" ></b-col>
             </b-row>

             <b-row class="mb-1">
                  <b-col><label :class="validCategory ? 'label-valid' : 'label-required'">{{trans('app.transmission.category')}}</label></b-col>
             </b-row>
             <b-row class="mb-1">
                <b-col>
                    <b-form-select v-model="draft.category_id" :options="categories" value-field="id" text-field="name" class="mb-3"/>
                </b-col>
            </b-row>

             <b-row class="mb-1">
                  <b-col><label :class="validStatus ? 'label-valid' : 'label-required'">{{trans('app.transmission.status')}}</label></b-col>
             </b-row>
             <b-row class="mb-1">
                <b-col>
                    <b-form-select v-model="draft.status" :options="statuses" class="mb-3"/>
                </b-col>
            </b-row>

            <b-row class="mb-1">
                <b-col>
                    <div enctype="multipart/form-data" @click="processFile($event)">
                        <a href="#" >
                          <b-row>
                            <b-col>
                                <template v-if="draft.flag==false">
                                    <b-img thumbnail fluid width="455" height="275" :src="draft.iconimage ? draft.iconimage : trans('settings.default_image')" alt="Thumbnail"/>
                                </template>
                                <template v-else>
                                  <b-img thumbnail fluid width="455" height="275"
                                  :src="draft.iconimage"
                                  />
                                </template>
                            </b-col>
                          </b-row>
                        </a>
                    </div>
                </b-col>
            </b-row>

            <b-row class="mb-1">
                <b-col>
                    <b-form-file @change="processFile($event)" placeholder="Choose a file..." ref="fileinput"></b-form-file>
                </b-col>
             </b-row>

        </b-container>
    <div slot="modal-footer" class="pull-right">
        <b-btn class="btn btn-outline-danger" @click="close"> {{trans('app.buttons.close')}}</b-btn>

        <b-btn @click="save"  class="btn btn-outline-primary" > {{draft.id ? trans('app.buttons.update') : trans('app.buttons.create')}}</b-btn>

    </div>
  </b-modal>
</div>
</template>

<script>
    export default {
        props: ['show', 'draft', 'categories'],
        data(){
            return{
                images:[],
                statuses: [
                    { value: null, text: trans('app.common.select') },
                    { value: '1', text: trans('app.common.active') },
                    { value: '0', text: trans('app.common.inactive') },
                ],
            }
        },
        methods:{
            close(){
                this.$emit('close')
                this.images = []

            },
            save(){
                this.imageName();
                if (this.draft.id) {
                    this.update()
                } else{
                    this.store()
                }
                this.close()
            },
            imageName(){
                if (this.images.length > 0) {
                    this.draft.iconimage=this.images[0].url
                }
            },
            update(){

                this.$store.dispatch('updateTransmission', {id:this.draft.id, draft:this.draft, Base64Img:this.base64, images:this.images})
            },
            store(){
                this.$store.dispatch('storeTransmission',
                {draft:this.draft, Base64Img:this.base64, images:this.images,})

            },
            processFile(e) {
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                    this.createImage(files[0]);
                    this.viewImage(files[0]);
            },

            createImage(file) {
                var reader = new FileReader();
                reader.readAsDataURL(file);
                reader.onload = (function(f, images){
                    return function(e) {
                        images.push({
                            url: f.name.replace(' ', ''),
                            Base64Img: e.target.result,
                        });
                    };
                })(file, this.images);
                this.draft.flag=true;
            },
            viewImage(file){

                var image = new Image();

                var reader = new FileReader();
                var vm = this;
                reader.onload = (e) => {
                    vm.draft.iconimage = e.target.result;

                };

                reader.readAsDataURL(file);

            },
        },
        computed:{
            validForm(){
              return this.validName && this.validImage  && this.validCategory  && this.validStatus && this.validCode
            },
            validName(){
              return this.draft.name ? this.draft.name.length > 3 : false
            },
            validImage(){
              return this.draft.iconimage
            },
            validCategory(){
                return this.draft.category_id
            },
            validStatus(){
                return this.draft.status
            },
            validCode(){
                return this.draft.code
            },

        }
    }
</script>