<template>
	<div class="row">
       <div class="col-md-12 col-lg-12 col-xs-12">
            <div class="form-group col-md-3 col-lg-3 col-xs-3">
                <label :class="$parent.validMileage ? 'label-valid' : 'label-required'">{{trans('app.adManager.mileage')}}</label>
                <input type="number" class="form-control" placeholder="Mileage" required v-model="draft.mileage">
            </div>
            <div class="form-group col-md-3 col-lg-3" >
                <label for="">{{trans('app.adManager.is_commercial')}}</label>
                <select required class="form-control" v-model="draft.is_commercial">
                    <option v-for="(status, index) in statuses" :value="status.value" >{{status.text}}</option>
                </select>
            </div>
            <div class="form-group col-md-3 col-lg-3" >
                <label for="">{{trans('app.adManager.is_featured')}}</label>
                <select required class="form-control" v-model="draft.is_featured">
                    <option v-for="(status, index) in statuses" :value="status.value" >{{status.text}}</option>
                </select>
            </div>
            <div class="form-group col-md-3 col-lg-3" >
                <label for="">{{trans('app.adManager.is_top')}}</label>
                <select required class="form-control" v-model="draft.is_top">
                    <option v-for="(status, index) in statuses" :value="status.value" >{{status.text}}</option>
                </select>
            </div>
            <div class="form-group col-md-3 col-lg-3" >
                <label for="">{{trans('app.adManager.is_reserved')}}</label>
                <select required class="form-control" v-model="draft.is_reserved">
                    <option v-for="(status, index) in statuses" :value="status.value" >{{status.text}}</option>
                </select>
            </div>
            <div class="form-group col-md-3 col-lg-3" >
                <label for="">{{trans('app.adManager.is_special')}}</label>
                <select required class="form-control" v-model="draft.is_special">
                    <option v-for="(status, index) in statuses" :value="status.value" >{{status.text}}</option>
                </select>
            </div>
            <div  class="form-group col-md-3 col-lg-3" >
                <label for="">{{trans('app.adManager.is_metalic_color')}}</label>
                <select required class="form-control" v-model="draft.is_metalic_color">
                    <option v-for="(status, index) in statuses" :value="status.value" >{{status.text}}</option>
                </select>
            </div>
            <div class="form-group col-md-3 col-lg-3 col-xs-3">
                <label>{{trans('app.adManager.fuel_consum_city')}}</label>
                <input type="number" class="form-control" placeholder="Fuel consum city" required v-model="draft.fuel_consum_city">
            </div>
            <div class="form-group col-md-3 col-lg-3 col-xs-3">
                <label>{{trans('app.adManager.fuel_consum_freeway')}}</label>
                <input type="number" class="form-control" placeholder="Fuel consum freeway" required v-model="draft.fuel_consum_freeway">
            </div>
            <div class="form-group col-md-3 col-lg-3 col-xs-3">
                <label>{{trans('app.adManager.fuel_consum_combined')}}</label>
                <input type="number" class="form-control" placeholder="Fuel consum combined" required v-model="draft.fuel_consum_combined">
            </div>
            <div class="form-group col-md-3 col-lg-3 col-xs-3" >
                <label>{{trans('app.adManager.embedcode')}}</label>
                <input type="text" class="form-control" placeholder="Embed code" required v-model="draft.embedcode">
            </div>
            <div class="form-group col-md-3 col-lg-3 col-xs-3">
                <label>{{trans('app.adManager.expire')}}</label>
                <select required class="form-control" v-model="draft.expire">
                    <option :value="null" >Never</option>
                    <option :value="trans('settings.days_expires')" >{{ trans('settings.days_expires') }} days</option>
                </select>
            </div>
            <div class="clearfix"></div>
            <div class="form-group col-md-4 col-lg-4 col-xs-3">
                <label>{{trans('app.adManager.equipments')}}</label>
                <multiselect
                  v-model="draft.equipments"
                  :options="equipments"
                  :multiple="true"
                  :clear-on-select="false"
                  :hide-selected="true"
                  :preserve-search="true"
                  :placeholder="''"
                  label="name"
                  track-by="name"
                  :preselect-first="true"
                  :taggable="true"
                ></multiselect>
            </div>
          <div class="form-group col-md-4 col-lg-4 col-xs-3">
              <label>{{trans('app.adManager.video_link')}}</label>
              <input type="text" class="form-control" placeholder="Video Link" required v-model="draft.video_link">
          </div>
        </div>
   </div>
</template>
<script type="text/javascript">
    import myDatepicker from 'vue-datepicker2'
	export default{
		props:['draft' ],
        data(){
            return{
                statuses: [
                    { value: '1', text: trans('app.common.1') },
                    { value: '0', text: trans('app.common.0') },
                ],
                startTime: '',
                option: {
                    type: 'day',
                    week: ['Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa', 'Su'],
                    month: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                    format: 'YYYY-MM-DD',
                    placeholder: 'when?',
                    inputStyle: {
                      'display': 'inline-block',
                      'padding': '2px',
                      'margin-botton':'10px',
                      'line-height': '22px',
                      'font-size': '16px',
                      'border': '4px solid #fff',
                      'box-shadow': '0 1px 3px 0 rgba(0, 0, 0, 0.2)',
                      'border-radius': '4px',
                      'color': '#5F5F5F'
                    },
                    color: {
                      header: '#4186bc',
                      headerText: '#f00'
                    },
                    buttons: {
                      ok: 'Ok',
                      cancel: 'Cancel'
                    },
                    overlayOpacity: 0.5, // 0.5 as default
                    dismissible: true // as true as default
                },
                timeoption: {
                  type: 'min',
                  week: ['Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa', 'Su'],
                  month: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                  format: 'YYYY-MM-DD HH:mm'
                },
                multiOption: {
                  type: 'multi-day',
                  week: ['Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa', 'Su'],
                  month: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                  format:"YYYY-MM-DD HH:mm"
                },
                limit: [
                    {
                      type: 'weekday',
                      available: [1, 2, 3, 4, 5]
                    },
                    {
                      type: 'fromto',
                      from: '2016-02-01',
                      to: '2016-02-20'
                    }
                ],
                dateBodyClass: 'date-body',
            }
        },
        components: {
           'date-picker': myDatepicker
        },
        created(){
          this.$store.dispatch('listEquipments')
        },
        computed: {
          equipments(){
            return this.$store.state.Equipment.list
          }
        }

	}
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

<style>
.multiselect__spinner:before{position:absolute;
  border-color:#F23827;
}
.multiselect__tag{position:relative;
  background:#F23827;
}
.multiselect__option--highlight{
  background:#F23827;
}
.multiselect__option--highlight:after{content:attr(data-select);
  background:#F23827;
}
.multiselect__tag-icon:hover{
  background:#bd2130;
}
</style>