<template>
	<div class="row">
       <div class="col-md-12 col-lg-12 col-xs-12">
            <div class="form-group col-md-3 col-lg-3 col-xs-3">
                <label :class="$parent.validDoors ? 'label-valid' : 'label-required'">{{trans('app.adManager.doors')}}</label>
                <input type="number" class="form-control" placeholder="Door" required v-model="draft.doors">
            </div>
            <div class="form-group col-md-3 col-lg-3 col-xs-3">
                <label :class="$parent.validSeats ? 'label-valid' : 'label-required'">{{trans('app.adManager.seats')}}</label>
                <input type="number" class="form-control" placeholder="Seats" required v-model="draft.seats">
            </div>
            <div class="form-group col-md-3 col-lg-3 col-xs-3">
                <label>{{trans('app.adManager.specific_trans')}}</label>
                <input type="text" class="form-control" placeholder="Specific trans" required v-model="draft.specific_trans">
            </div>
            <div class="form-group col-md-3 col-lg-3 col-xs-3">
                <label>{{trans('app.adManager.acceleration')}}</label>
                <input type="number" class="form-control" placeholder="Acceleration" required v-model="draft.acceleration">
            </div>
            <div class="form-group col-md-3 col-lg-3 col-xs-3">
                <label>{{trans('app.adManager.max_speed')}}</label>
                <input type="number" class="form-control" placeholder="Max speed" required v-model="draft.max_speed">
            </div>
            <div class="form-group col-md-3 col-lg-3 col-xs-3">
                <label>{{trans('app.adManager.C02')}}</label>
                <input type="number" class="form-control" placeholder="C02" required v-model="draft.C02">
            </div>
            <div class="form-group col-md-3 col-lg-3 col-xs-3">
                <label>{{trans('app.adManager.hits')}}</label>
                <input type="number" class="form-control" placeholder="hits" required v-model="draft.hits">
            </div>
            <div class="form-group col-md-3 col-lg-3 col-xs-3">
                <label :class="$parent.validEngine ? 'label-valid' : 'label-required'">{{trans('app.adManager.engine')}}</label>
                <input type="text" class="form-control" placeholder="Engine" required v-model="draft.engine">
            </div>
            <div class="form-group col-md-3 col-lg-3 col-xs-3">
                <label>{{trans('app.adManager.length')}}</label>
                <input type="number" class="form-control" placeholder="Length" required v-model="draft.length">
            </div>
            <div class="form-group col-md-3 col-lg-3 col-xs-3">
                <label>{{trans('app.adManager.width')}}</label>
                <input type="number" class="form-control" placeholder="Width" required v-model="draft.width">
            </div>
        </div>
   </div>
</template>
<script type="text/javascript">
	export default{
		props:['draft' ],
        data(){
            return{
                startTime: '',
                option2: {
                    type: 'day',
                    week: ['Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa', 'Su'],
                    month: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                    format: 'YYYY',
                    placeholder: 'when?',
                    inputStyle: {
                      'display': 'inline-block',
                      'padding': '2px',
                      'margin-botton':'10px',
                      'line-height': '22px',
                      'font-size': '16px',
                      'border': '4px solid #fff',
                      'box-shadow': '0 1px 3px 0 rgba(0, 0, 0, 0.2)',
                      'border-radius': '4px',
                      'color': '#5F5F5F'
                    },
                    color: {
                      header: '#4186bc',
                      headerText: '#f00'
                    },
                    buttons: {
                      ok: 'Ok',
                      cancel: 'Cancel'
                    },
                    overlayOpacity: 0.5, // 0.5 as default
                    dismissible: true // as true as default
                },
                timeoption: {
                  type: 'min',
                  week: ['Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa', 'Su'],
                  month: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                  format: 'YYYY-MM-DD HH:mm'
                },
                multiOption: {
                  type: 'multi-day',
                  week: ['Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa', 'Su'],
                  month: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                  format:"YYYY-MM-DD HH:mm"
                },
                limit: [
                    {
                      type: 'weekday',
                      available: [1, 2, 3, 4, 5]
                    },
                    {
                      type: 'fromto',
                      from: '2016-02-01',
                      to: '2016-02-20'
                    }
                ],
                dateBodyClass: 'date-body',
            }

    	},
}
</script>