<template>
    <div :class="loading ? 'box-loading' : ''">
        <dealer-bar v-if="draft && draft.id == null"></dealer-bar>
        <div :class="draft && draft.id == null ? 'col-md-9' : 'col-md-12'">
        <div class="pull-left">
        <h2>{{ draft && draft.id == null ? trans('app.adManager.add') : trans('app.adManager.edit') }}</h2>
        </div>
        <div class="pull-right">
            <router-link to="/dealer" class="btn btn-info">Back</router-link>
        </div>
        <div class="clearfix"></div>
        <div class="dashboard-block">
            <div class="tabs profile-tabs">

                <ul class="nav nav-tabs">
                    <li :class="currentTab == 'personal' ? 'active' : ''"> <a @click="changeTab('personal')">{{ trans('app.adManager.tab_general') }}</a></li>
                    <li :class="currentTab == 'characteristics' ? 'active' : ''"><a @click="changeTab('characteristics')">{{ trans('app.adManager.tab_characteristics') }}</a></li>
                    <li :class="currentTab == 'aditional' ? 'active' : ''"><a @click="changeTab('aditional')"role="tab">{{ trans('app.adManager.tab_aditional') }}</a></li>
                    <!-- <li :class="currentTab == 'location' ? 'active' : ''"><a @click="changeTab('location')">{{ trans('app.adManager.tab_location') }}</a></li> -->
                    <li :class="currentTab == 'images' ? 'active' : ''"><a @click="changeTab('images')">{{ trans('app.adManager.tab_images') }}</a></li>
                </ul>
                    <div class="tab-content">


                        <div v-show="currentTab == 'personal'" class="tab-pane fade active in">
                            <div class="row">
                                <div class="col-md-12" v-if="draft">
                                   <ads-personal-info :draft="draft"/>
                                </div>
                            </div>
                        </div>
                        <div v-show="currentTab == 'characteristics'" class="tab-pane fade active in">
                            <div class="row">
                                <div class="col-md-12">
                                    <ads-characteristics :draft="draft"  />
                                </div>
                            </div>
                        </div>

                        <div v-show="currentTab == 'aditional'" class="tab-pane fade active in">
                            <div class="row">
                                <div class="col-md-12">
                                   <ads-additional-information :draft="draft"/>
                                </div>
                            </div>
                        </div>

                        <div v-show="currentTab == 'location'" class="tab-pane fade active in">
                            <div class="row">
                                <div class="col-md-12">
                                   <ads-location :draft="draft"/>
                                </div>
                            </div>
                        </div>

                        <div v-show="currentTab == 'images'" class="hover-disabled tab-pane fade active in">
                            <div class="row">
                                <div class="col-md-12">
                                    <ads-gallery
                                        v-model="files"
                                        :draft="draft"
                                    >
                                    </ads-gallery>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pull-right">

                    <button
                        @click="save"
                        class="btn btn-danger"
                        :disabled="!validForm"
                        >
                        {{draft && draft.id ? trans('app.buttons.update') : trans('app.buttons.create')}}
                        <atom-spinner
                            :animation-duration="1000"
                            :size="25"
                            :color="'white'"
                            class="pull-right"
                            v-if="loading"
                        />
                    </button>
                    <p class="text-danger" v-if="! validForm">* {{ trans('app.common.invalid_data') }}</p>
                    </div>

            </div>
        </div>
    </div>
    </div>
</template>
<script>
    import {AtomSpinner} from 'epic-spinners'
    export default {
        components: {
            AtomSpinner
        },
        data(){
            return{
                draft: null,
                editing: null,
                editLabel: false,
                title:'Dealers',
                changed: false,
                statuses: [
                    { value: '1', text: trans('app.common.active') },
                    { value: '0', text: trans('app.common.inactive') },
                ],
                currentTab: 1,
                activeIndex: 0,
                currentTab: 'personal',
                files: {
                    main: [],
                    images: [],
                },
            }
        },
        created(){
            if (this.dealer.address == null) {
                this.$swal({
                  title: trans('app.dealer.address_check_title'),
                  text: trans('app.dealer.address_check'),
                  type: 'error',
                  confirmButtonColor: '#3085d6',
                })
                this.$router.push({name: 'profile'})
            }
            if (! this.dealer.active) {
                this.$router.push({name: 'subscribe'})
                return
            }
            if(this.$route.params.id){
                if (this.$store.getters.finAdManager(this.$route.params.id)) {
                    this.draft = clone(this.$store.getters.finAdManager(this.$route.params.id))
                    this.setImages()
                } else {
                    this.$store.dispatch('getAdManager', this.$route.params.id)
                        .then(response => {
                            this.draft = clone(this.$store.state.AdManager.solo)
                            this.setImages()
                        })
                }
            } else {
                this.newAds()
            }
        },
        methods:{
            changeTab(tab){
                this.currentTab = tab
            },
            setImages(){
                console.log('setImages')
                if (this.draft.id != null) {
                    this.files.main.push({
                        url: this.draft.main_image,
                        name: this.draft.main_image,
                    })
                    for (var i = 0; i < this.draft.images.length; i++) {
                        this.files.images.push({
                            url: this.draft.images[i]['urlphoto'],
                            name: this.draft.images[i]['urlphoto'],
                        });
                    }
                }
            },
            save(){
                if (this.draft.id) {
                    this.update()
                } else{
                    this.store()
                }
            },
            remove(index){
                if (index > this.images.length) {
                    this.draft.splice(index-this.images.length, 1);
                }
                else{
                    this.images.splice(index, 1);
                }
            },
            update(){
                this.$store.dispatch('updateAdManager', {id:this.draft.id, draft:this.draft, images: this.files})
                    .then(response => {
                        if (response.data.status != 0) {
                            scroll(0,0)
                            this.$router.push('/dealer')
                        }
                    })
            },
            store(){
                this.$store.dispatch('storeAdManager', {draft:this.draft, images: this.files})
                    .then(response => {
                        if (response.data.id) {
                            scroll(0,0)
                            this.$router.push('/dealer')
                        }
                    })
            },
             close(){
              this.showEdit = false
            },

            newAds(){
                this.draft = {
                    id: null,
                    category_id:null,
                    model_id:null,
                    condition_id:null,
                    dealer_id:this.$parent.dealer.id,
                    bodytype_id:null,
                    drive_id:null,
                    fuel_id:null,
                    transmission_id:null,
                    ext_color_id:null,
                    int_color_id:null,
                    specific_color:null,
                    state:this.dealer.state,
                    city:this.dealer.city,
                    address:this.dealer.address,
                    zipcode: this.dealer.zipcode,
                    latitude:this.dealer.latitude,
                    longitude:this.dealer.longitude,
                    equipment_detail:'',
                    year:'',
                    vincode:'',
                    mileage:'',
                    price:null,
                    frequency:null,
                    bargain_price:null,
                    doors:null,
                    seats:null,
                    engine:'',
                    expire:null,
                    embedcode:null,
                    is_commercial:0,
                    is_top:0,
                    is_reserved:0,
                    is_special:0,
                    is_featured:0,
                    hits:null,
                    status:false,
                    otherinfo:'',
                    unfaden_weight:'',
                    gross_weight:'',
                    length:null,
                    width:null,
                    disclaimer:'',
                    is_metalic_color:0,
                    specific_model:'',
                    specific_trans:'',
                    export_price:null,
                    fuel_consum_city:null,
                    fuel_consum_freeway:'',
                    fuel_consum_combined:'',
                    acceleration:null,
                    max_speed:null,
                    C02:null,
                    video_link:'',
                    main_image:'',
                    /*
                    id: null,
                    category_id:1,
                    make_id: 1,
                    model_id:1,
                    condition_id:1,
                    city_id:1,
                    dealer_id: this.$parent.dealer.id,
                    bodytype_id:1,
                    driver_id: 1,
                    fuel_id:2,
                    transmission_id:1,
                    ext_color_id:1,
                    int_color_id:1,
                    specific_color:1,
                    address:'TALFI',
                    zip_code:1,
                    latitude:1212,
                    longitude:121212,
                    equipment_detail:'ASDASDASDA ',
                    year:2018,
                    vincode:'asdasdas',
                    mileage:1,
                    price:2323,
                    bargain_price:2323,
                    doors:2,
                    seats:2,
                    engine:'asdasdasd',
                    expire: null,
                    embedcode:1233,
                    is_commercial:1,
                    is_top:1,
                    is_reserved:1,
                    is_special:1,
                    is_featured:1,
                    hits:1,
                    status:1,
                    otherinfo:'qeqweqwe',
                    unfaden_weight:1,
                    gross_weight:1,
                    length:1,
                    width:1,
                    disclaimer:'asdasdas',
                    is_metalic_color:1,
                    specific_model:'asdasdasdas',
                    specific_trans:'asdasdasdas',
                    export_price:1,
                    fuel_consum_city:1,
                    fuel_consum_freeway:1,
                    fuel_consum_combined:1,
                    acceleration:1,
                    max_speed:2,
                    C02:1,
                    video_link:'asdasdasdas',
                    main_image:'',
*/

                }
            }

        },
        computed: {
            dealer(){
                return this.$parent.dealer
            },
            loading(){
                return this.$store.state.AdManager.loading
            },
            validForm(){
                return this.validCategoryId && this.validBodyTypeId
                && this.validMakeId
                && this.validModelId
                && this.validConditionId
                && this.validDriverId
                && this.validTransmissionId
                && this.validFuelId
                && this.validIntColorId
                && this.validExtColorId
                && this.validSpecificColor
                && this.validPrice
                && this.validVincode
                && this.validDoors
                && this.validSeats
                && this.validEngine
                && this.validYear
                && this.validMileage
                && this.validMainImage
                && this.validImages
                && this.validDealerId
                && this.validDisclaimer
            },
            validCategoryId(){
                return this.draft && this.draft.category_id != null
            },
            validMakeId(){
                return this.draft.make_id != null
            },
            validModelId(){
                return this.draft.model_id > 0
            },
            validConditionId(){
                return this.draft.condition_id != null
            },
            validDealerId(){
                return this.draft.dealer_id != null
            },
            validBodyTypeId(){
                return this.draft.bodytype_id != null
            },
            validDriverId(){
                return this.draft.driver_id != null
            },
            validFuelId(){
                return this.draft.fuel_id != null
            },
            validTransmissionId(){
                return this.draft.transmission_id != null
            },
            validExtColorId(){
                return this.draft.ext_color_id != null
            },
            validIntColorId(){
                return this.draft.int_color_id != null
            },
            validSpecificColor(){
                return this.draft.specific_color != null
            },
            validYear(){
                return this.draft.year != ''
            },
            validVincode(){
                return this.draft.vincode != ''
            },
            validMileage(){
                return this.draft.mileage != ''
            },
            validPrice(){
                return this.draft.price != null
            },
            validDoors(){
                return this.draft.doors != null
            },
            validSeats(){
                return this.draft.seats != null
            },
            validEngine(){
                return this.draft.engine != ''
            },
            validMainImage(){
                return this.files.main ? this.files.main.length > 0 : false
            },
            validImages(){
                return this.files.images ? this.files.images.length > 0 : false
            },
            validDisclaimer(){
                return this.draft.frequency == null
                    ? true
                    : this.draft.disclaimer != ''
            },
        }
    }
</script>
<style type="text/css">

.btn-file {
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
  }
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: black;
    cursor: inherit;
    display: block;

}

.box-loading {
    background:#ffff;
    opacity: 0.5;
    filter: alpha(opacity=10);
}
.label-valid{
    color: green !important;
}
.label-required{
    color: red !important;
}
</style>