<template>
  <div class="container">
      <div id="main_area">
          <!-- Slider -->
          <div class="row">
              <div class="col-md-8 col-md-offset-2">
                  <label :class="$parent.validImages ? 'label-valid' : 'label-required'">
                    {{trans('app.adManager.main_image')}}
                  </label>
                <upload-images v-model="files.main" :images="value.main" limit="1" thumbnail-width="630"></upload-images>
              </div>
              <div class="col-md-12">
                  <label :class="$parent.validImages ? 'label-valid' : 'label-required'">
                    {{trans('app.adManager.images')}}
                  </label>
                <upload-images v-model="files.images" :images="value.images"></upload-images>
              </div>
          </div>
      </div>
  </div>
 </template>
<script>
	export default{
		props:['draft', 'value'],
    data(){
      return{
        files: {
            main: null,
            images: null,
        },
        temp: null,
      }
    },
    watch: {
      files: {
        handler(val){
          if (val) {
            this.$emit('input', val)
          }
        },
        deep: true,
      },
      mainFile(val){
        if (val) {
          this.$parent.mainFile = val
        }
      },
    },
  }
</script>