<template>
    <div class="row">
        <div class="form-group col-md-3 col-lg-3" >
            <label :class="$parent.validCategoryId ? 'label-valid' : 'label-required'">{{trans('app.adManager.category_id')}}</label>
            <select required class="form-control" v-model="draft.category_id">
                <option v-for="(category, index) in categories" :value="category.id" >{{category.name}}</option>
            </select>
        </div>
        <div class="form-group col-md-3 col-lg-3 col-xs-3">
          <label :class="$parent.validYear ? 'label-valid' : 'label-required'">{{trans('app.adManager.year')}}</label>
          <select required class="form-control" v-model="draft.year">
            <option v-for="(year, index) in years" :value="year" >{{year}}</option>
          </select>
        </div>
        <div class="form-group col-md-3 col-lg-3" >
            <label :class="$parent.validMakeId ? 'label-valid' : 'label-required'">{{trans('app.adManager.make_id')}}</label>
            <select required class="form-control" v-model="draft.make_id">
                <option v-for="(make, index) in makes" :value="make.id" >{{make.name}}</option>
            </select>
        </div>
        <div class="form-group col-md-3 col-lg-3" >
            <label :class="$parent.validModelId ? 'label-valid' : 'label-required'">{{trans('app.adManager.model_id')}}</label>
            <select required class="form-control" v-model="draft.model_id">
                <option v-for="(model, index) in models" :value="model.id" >{{model.name}}</option>
            </select>
        </div>
        <div class="form-group col-md-3 col-lg-3 col-xs-3">
            <label>{{trans('app.adManager.specific_model')}}</label>
            <input type="text" class="form-control" placeholder="Specific model" required v-model="draft.specific_model">
        </div>
        <div class="form-group col-md-3 col-lg-3" >
            <label :class="$parent.validBodyTypeId ? 'label-valid' : 'label-required'">{{trans('app.adManager.bodytype_id')}}</label>
            <select required class="form-control" v-model="draft.bodytype_id">
                <option v-for="(bodyType, index) in bodyTypes" :value="bodyType.id" >{{bodyType.name}}</option>
            </select>
        </div>
        <div class="form-group col-md-3 col-lg-3" >
            <label :class="$parent.validConditionId ? 'label-valid' : 'label-required'">{{trans('app.adManager.condition_id')}}</label>
            <select required class="form-control" v-model="draft.condition_id">
               option>
                <option v-for="(condition, index) in conditions" :value="condition.id" >{{condition.name}}</option>
            </select>
        </div>
        <div class="form-group col-md-3 col-lg-3" >
            <label :class="$parent.validDriverId ? 'label-valid' : 'label-required'">{{trans('app.adManager.driver_id')}}</label>
            <select required class="form-control" v-model="draft.driver_id">
                <option v-for="(driver, index) in drivers" :value="driver.id" >{{driver.name}}</option>
            </select>
        </div>
        <div class="form-group col-md-3 col-lg-3" >
            <label :class="$parent.validTransmissionId ? 'label-valid' : 'label-required'">{{trans('app.adManager.transmission_id')}}</label>
            <select required class="form-control" v-model="draft.transmission_id">
                option>
                <option v-for="(transmission, index) in transmissions" :value="transmission.id" >{{transmission.name}}</option>
            </select>
        </div>
        <div class="form-group col-md-3 col-lg-3 col-xs-3" >
            <label :class="$parent.validFuelId ? 'label-valid' : 'label-required'">{{trans('app.adManager.fuel_id')}}</label>
            <select required class="form-control" v-model="draft.fuel_id">
                <option v-for="(fuel, index) in fuels" :value="fuel.id" >{{fuel.name}}</option>
            </select>
        </div>
        <div class="form-group col-md-3 col-lg-3 col-xs-3" >
            <label :class="$parent.validIntColorId ? 'label-valid' : 'label-required'">{{trans('app.adManager.int_color_id')}}</label>
            <select required class="form-control" v-model="draft.int_color_id">
                <option v-for="(color, index) in colors" :value="color.id" >{{color.name}}</option>
            </select>
        </div>
        <div class="form-group col-md-3 col-lg-3 col-xs-3" >
            <label :class="$parent.validExtColorId ? 'label-valid' : 'label-required'">{{trans('app.adManager.ext_color_id')}}</label>
            <select required class="form-control" v-model="draft.ext_color_id">
                <option v-for="(color, index) in colors" :value="color.id" >{{color.name}}</option>
            </select>
        </div>
        <div class="form-group col-md-3 col-lg-3 col-xs-3" >
            <label :class="$parent.validSpecificColor ? 'label-valid' : 'label-required'">{{trans('app.adManager.specific_color')}}</label>
            <select required class="form-control" v-model="draft.specific_color">
                <option v-for="(color, index) in colors" :value="color.id" >{{color.name}}</option>
            </select>
        </div>
        <div class="form-group col-md-3 col-lg-3 col-xs-3">
            <label :class="$parent.validPrice ? 'label-valid' : 'label-required'">{{trans('app.adManager.price')}}</label>
            <input type="number" class="form-control" placeholder="Price" required v-model="draft.price">
        </div>
        <div class="form-group col-md-3 col-lg-3 col-xs-3">
          <label>{{trans('app.adManager.frequency')}}</label>
          <select required class="form-control" v-model="draft.frequency">
            <option :value="null">None</option>
            <option v-for="(frequency, index) in frequencies" :value="frequency" >{{frequency}}</option>
          </select>
        </div>
          <div v-if="draft.frequency" class="form-group col-md-3">
              <label :class="$parent.validDisclaimer ? 'label-valid' : 'label-required'">{{trans('app.adManager.disclaimer')}}</label>
              <textarea required class="form-control" name="Disclaimer"  rows="2" v-model="draft.disclaimer"></textarea>
          </div>
        <div class="form-group col-md-3 col-lg-3 col-xs-3">
            <div class="">
                <label :class="$parent.validVincode ? 'label-valid' : 'label-required'">{{trans('app.adManager.vincode')}}</label>
                <input required type="text" class="form-control" placeholder="Vincode" v-model="draft.vincode">
            </div>
        </div>
        <div class="form-group col-md-3 col-lg-3 col-xs-3">
            <label>{{trans('app.adManager.bargain_price')}}</label>
            <input type="number" class="form-control" placeholder="Bargain Price" required v-model="draft.bargain_price">
        </div>
        <div class="form-group col-md-3 col-lg-3 col-xs-3">
            <label>{{trans('app.adManager.export_price')}}</label>
            <input type="number" class="form-control" placeholder="Export Price" required v-model="draft.export_price">
        </div>
        <div class="form-group col-md-3 col-lg-3 col-xs-3">
            <label>{{trans('app.adManager.unfaden_weight')}}</label>
            <input type="number" class="form-control" placeholder="Unfaden weight" required v-model="draft.unfaden_weight">
        </div>
        <div class="form-group col-md-3 col-lg-3 col-xs-3">
            <label>{{trans('app.adManager.gross_weight')}}</label>
            <input type="number" class="form-control" placeholder="Gross weight" required v-model="draft.gross_weight">
        </div>
        <div class="form-group col-md-3 col-lg-3" >
            <label>{{trans('app.adManager.status')}}</label>
            <select required class="form-control" v-model="draft.status">
                <option v-for="(status, index) in statuses" :value="status.value" >{{status.text}}</option>
            </select>
        </div>
    </div>
</template>
<script type="text/javascript">
	export default{
		props:['draft'],
		data(){
            return{
                statuses: [
                    { value: '1', text: trans('app.common.active') },
                    { value: '0', text: trans('app.common.inactive') },
                ],
                fuelsList: [
                    { value: null, text: ''},
                ],
                driversList: [
                    { value: null, text: ''},
                ],
                conditionsList: [
                    { value: null, text: ''},
                ],
                transmissionsList: [
                    { value: null, text: ''},
                ],
                colorsList: [
                    { value: null, text: ''},
                ],
                years: [],
                frequencies: [],
            }
        },
        watch: {
            draft: {
                handler(val){
                    if(val.make_id){
                        this.listModels(val.make_id)
                    }
                    if(val.category_id){
                        this.listMakes(val.category_id)
                    }
                },
                deep: true
            }
        },
        created(){
            this.listConditions()
            this.listColors()
            this.listCategories()
            this.listDealers()
            this.listDrivers()
            this.listBodyTypes()
            this.listFuels()
            this.listTransmissions()
            this.listModels(this.draft.make_id)
            this.listMakes(this.draft.category_id)
            this.loadYears()
            this.loadFrequencies()
        },
        methods:{
            listConditions(){
                this.$store.dispatch('listConditions')
            },
            listColors(){
                this.$store.dispatch('listColors')
            },
            listDealers(){
                this.$store.dispatch('listDealers')
            },
            listBodyTypes(){
                this.$store.dispatch('listBodyTypes')
            },
            listDrivers(){
                this.$store.dispatch('listDrivers')
            },
            listFuels(){
                this.$store.dispatch('listFuels')
            },
            listMakes(category_id){
                this.$store.dispatch('listMakes', category_id)
            },
            listModels(make_id){
                this.$store.dispatch('listModels', make_id)
            },
            listTransmissions(){
                this.$store.dispatch('listTransmissions')
            },

            listCategories(){
                this.$store.dispatch('listCategories')
            },
            setYear(){
                this.draft.year = this.setting.value
            },
            loadYears(){
                this.$store.dispatch('getSetting', 'cars_years')
                    .then(response => {
                        this.years = this.$store.state.Setting.solo.options.split(', ')
                    })
            },
            loadFrequencies(){
                this.$store.dispatch('getSetting', 'cars_frequency')
                    .then(response => {
                        this.frequencies = this.$store.state.Setting.solo.options.split(', ')
                    })
            },

        },
        computed:{
            categories(){
                return this.$store.state.Category.list
            },
            makes(){
                return this.$store.state.Make.list
            },
            models(){
                return this.$store.state.Model.list
            },
            conditions(){
                return this.$store.state.Condition.list
            },
            dealers(){
                return this.$store.state.Dealer.list
            },
            bodyTypes(){
                return this.$store.state.BodyType.list
            },
            drivers(){
                return this.$store.state.Driver.list
            },
            fuels(){
                return this.$store.state.Fuel.list
            },
            transmissions(){
                return this.$store.state.Transmission.list
            },
            colors(){
                return this.$store.state.Color.list
            },
        },
    }
</script>
