<template>
    <div>
        <dealer-bar></dealer-bar>
        <h2>Manage Ads</h2>
        <div class="dashboard-block">
            <ads-item></ads-item>
        </div>
    </div>
</template>
<script>
    export default {
        //
    }
</script>