<template>
  <div v-if="adManagers.length > 0" class="table-responsive">
    <table class="table table-bordered dashboard-tables saved-cars-table">
        <thead>
            <tr>
                <td width="3%">#</td>
                <td width="57%">{{ trans('app.adManager.description') }}</td>
                <td width="10%">{{ trans('app.adManager.price') }}/{{ trans('app.common.active') }}</td>
                <td width="10%">{{ trans('app.adManager.created_at') }}</td>
                <td width="10%">{{ trans('app.common.actions') }}</td>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(adManager, index) in adManagers">
                <td>{{ adManager.id }}</td>
                <td>
                    <a href="#" @click="edit(adManager, adManager.id)" class="car-image">
                        <img
                        :src="adManager.main_image"
                        alt="">
                    </a>
                    <!-- jessica@ciandata.com -->
                    <div class="search-find-results">
                        <h5><a href="#" @click="edit(adManager, adManager.id)">
                            {{ adManager.year }}
                            {{ adManager.make_name }},
                            {{ adManager.model_name }}
                            {{ adManager.specific_model }}
                        </a></h5>
                        <ul class="inline">
                            <li>{{adManager.doors}} door, {{adManager.seats}} seats </li>
                            <li> engine {{adManager.engine}} model {{adManager.specific_model}} </li>
                            <li>{{adManager.max_speed}} speed, {{adManager.acceleration}} acceleration Automatic, {{adManager.mileage}} mileage</li>
                            <!-- <li>Rear Wheel Drive</li> -->
                        </ul>
                    </div>
                </td>
                <td><span class="price">${{adManager.price}} / {{adManager.status ? 'Active' : 'Inactive'}}</span></td>
                <td><span class="text-success">Created on</span>
                <!-- 09/12/14 @ 12:09am -->
                {{adManager.updated_at | moment('MM-DD-YYYY')}}
                </td>
                <td align="center">
                    <button class="text-danger" @click="remove(adManager, adManager.id)" :title="trans('app.common.delete')"><i class="fa fa-times"></i></button>
                    <button class="text-default" @click="edit(adManager, adManager.id)" :title="trans('app.common.edit')">
                    <i class="fa fa-edit"></i>
                  </button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="text-center" v-if="totalRows > 5">
        <b-pagination
          :total-rows="totalRows"
          :per-page="perPage"
          align="center"
          v-model="currentPage"
          class="my-0"
          @input="getAdManagers"
        />
    </div>
</div>
</template>
<script>
    import {AtomSpinner} from 'epic-spinners'
    export default {
        components: {
            AtomSpinner
        },
        watch:{
            target(){
                this.getAdManagers()
            }
        },
        data(){
            return{
                fields: [
                    { key: 'id', label: '#', sortable: true },
                    { key: 'name', label: trans('app.color.name'), sortable: true },
                    // { key: 'image', label: trans('app.color.image'), sortable: true},
                    { key: 'csscode', label: trans('app.color.csscode'), sortable: true},
                    // { key: 'category_id', label: trans('app.color.category_id'), sortable: true},
                    { key: 'status', label: trans('app.color.status'), sortable: true},
                    { key: 'actions', label: trans('app.common.actions')},
                ],
                currentPage: null,
                target: '',
                draft: {},
                currentIndex: null,
                showEdit: false,
                sortBy: 'id',
                sortDesc: true,
                flag:false,
            }
        },
        created(){
            this.getAdManagers()
        },
        methods:{
            edit(adManager, index){
                this.draft = clone(adManager)
                this.currentIndex = index
                this.showEdit = true
                this.draft.flag=false
                this.$router.push({path:'/dealer/ads-edit/' + this.draft.id, params:{draft:this.draft}})
            },
            create(){
                this.draft = {
                    id: null,
                    name: '',
                    image: '',
                    csscode: null,
                    category_id: null,
                    status: null,
                    flag:true,
                }
                this.showEdit = true
            },
            getAdManagers(){
                let params = {page: this.currentPage, target: this.target, orderBy: this.sortBy, desc: this.sortDesc}
                this.$store.dispatch('getAdManagers', params)
            },
            close(){
              this.showEdit = false
            },
            remove(item, index){
                this.$swal({
                  title: trans('app.common.delete_title'),
                  text: trans('app.common.delete_text') + item.name +'?',
                  type: 'warning',
                  showCancelButton: true,
                  confirmButtonColor: '#3085d6',
                  cancelButtonColor: '#d33',
                  confirmButtonText: trans('app.common.delete_confirm'),
                  cancelButtonText: trans('app.common.0')
                }).then((result) => {
                  if (result.value) {
                    this.$store.dispatch('removeAdManager', item.id)
                  }
                })
            },
            sortingChanged (ctx) {
                if (ctx.sortBy) {
                    this.sortBy = ctx.sortBy
                    this.sortDesc = ctx.sortDesc
                    this.currentPage = 1
                    this.getAdManagers()
                }
            },
        },
        computed:{
            adManagers(){
                return this.$store.state.AdManager.adManagers
            },
            current_page(){
                return this.$store.state.AdManager.currentPage
            },
            totalRows(){
                return this.$store.state.AdManager.totalRows
            },
            perPage(){
                return this.$store.state.AdManager.perPage
            },
            loading(){
               return this.$store.state.AdManager.loading
            }
        }
    }
</script>