<template>
	<div class="row">
     <div class="col-md-12 col-lg-12 col-xs-12">
          <div class="form-group col-md-3 col-lg-3" >
              <label>{{trans('app.adManager.state_id')}}</label>
              <input type="text" v-model="draft.state" class="form-control" disabled>
          </div>
          <div class="form-group col-md-3 col-lg-3" >
              <label>{{trans('app.adManager.city_id')}}</label>
              <input type="text" v-model="draft.city" class="form-control" disabled>
          </div>
          <div class="form-group col-md-3 col-lg-3 col-xs-3">
              <label>{{trans('app.adManager.zip_code')}}*</label>
              <input type="text" v-model="draft.zipcode" class="form-control" disabled>
          </div>
          <div class="form-group col-md-3 col-lg-3 col-xs-3">
              <label>{{trans('app.adManager.latitude')}}</label>
              <input type="text" v-model="draft.latitude" class="form-control" disabled>
          </div>
          <div class="form-group col-md-3 col-lg-3 col-xs-3">
              <label>{{trans('app.adManager.longitude')}}</label>
              <input type="text" v-model="draft.longitude" class="form-control" disabled>
          </div>
          <div class="form-group col-md-6">
              <label>{{trans('app.adManager.address')}}</label>
              <textarea disabled class="form-control" rows="2" v-model="draft.address"></textarea>
          </div>
          <div class="form-group col-md-6">
              <label>{{trans('app.adManager.equipment_detail')}}</label>
              <textarea required class="form-control" name="Equipment detail"  rows="2" v-model="draft.equipment_detail"></textarea>
          </div>
          <div class="form-group col-md-6">
              <label>{{trans('app.adManager.otherinfo')}}</label>
              <textarea required class="form-control" name="other info"  rows="2" v-model="draft.otherinfo"></textarea>
          </div>
      </div>
 </div>
</template>
<script type="text/javascript">
  import myDatepicker from 'vue-datepicker2'
	export default{
		props:['draft'],
  }
</script>