<template>
<div>
  <b-modal
    v-model="show"
    :no-close-on-backdrop="true"
    :no-close-on-esc="true"
    size="lg"
    :title="draft.id ? trans('app.post.edit') : trans('app.post.add')"
    @hide="close"
    class="modal-lg"
  >
    <b-container fluid>
      <b-row class="mb-1">
        <b-col cols="3">
            <label :class="validCategory ? 'label-valid' : 'label-required'">{{trans('app.post.blog_category_id')}}</label>
        </b-col>
        <b-col>
            <label :class="validTitle ? 'label-valid' : 'label-required'">{{trans('app.post.title')}}</label>
        </b-col>
      </b-row>
      <b-row class="mb-1">
        <b-col cols="3">
            <b-form-select v-model="draft.blog_category_id" :options="categories" class="mb-3"/>
        </b-col>
        <b-col>
            <textarea v-model="draft.title" class="form-control" ></textarea>
        </b-col>
      </b-row>
      <b-row class="mb-1">
        <b-col cols="6">
            <label :class="validImage ? 'label-valid' : 'label-required'">{{trans('app.post.image')}}</label>
        </b-col>
        <b-col>
          <label class="label-valid">{{ trans('app.post.tags') }}</label>
        </b-col>
      </b-row>
      <b-row class="mb-1">
        <b-col cols="6">
            <div class="container">
            <img :src="draft.image">
            <div class="input-group">
              <div class="input-group-btn">
                <label class="btn btn-primary btn-xs btn-over">
                    <input type="file" style="display: none;" @change="imageChanged" accept="image/*">
                        <i class="fa" :class="draft.image ? 'fa-pencil' : 'fa-plus'" aria-hidden="true"></i>
                </label>
              </div>
            </div>
            </div>
        </b-col>
        <b-col>
          <multiselect
            v-model="draft.tags"
            :options="tags"
            :multiple="true"
            :clear-on-select="false"
            :hide-selected="true"
            :preserve-search="true"
            :placeholder="trans('app.common.select')"
            label="name"
            track-by="name"
            :preselect-first="true"
            :taggable="true"
            ></multiselect>
        </b-col>
      </b-row>
      <b-row class="mb-1">
        <b-col cols="6">
            <label :class="validImageAlt ? 'label-valid' : 'label-required'">{{trans('app.post.image_alt')}}</label>
        </b-col>
        <b-col cols="6">
            <label :class="validPublishDate ? 'label-valid' : 'label-required'">{{trans('app.post.publish_date')}}</label>
        </b-col>
      </b-row>
      <b-row class="mb-1">
        <b-col cols="6">
            <input class="form-control" type="text" v-model="draft.image_alt"/>
        </b-col>
        <b-col cols="6">
            <date-picker v-model="draft.publish_date" :date="startTime"  :option="option"></date-picker>
        </b-col>
      </b-row>
      <b-row class="mb-1">
        <b-col cols="6">
            <label :class="validMetadesc ? 'label-valid' : 'label-required'">{{trans('app.post.metadesc')}}</label>
        </b-col>
        <b-col cols="6">
            <label :class="validMetakeywords ? 'label-valid' : 'label-required'">{{trans('app.post.metakeywords')}}</label>
        </b-col>
      </b-row>
      <b-row class="mb-1">
        <b-col cols="6">
            <input class="form-control" type="text" v-model="draft.metadesc"/>
        </b-col>
        <b-col cols="6">
            <textarea class="form-control" type="text" v-model="draft.metakeywords"></textarea>
        </b-col>
      </b-row>
      <b-row class="mb-1">
        <b-col>
            <label :class="validIntro ? 'label-valid' : 'label-required'">{{trans('app.post.intro')}}</label>
        </b-col>
      </b-row>
      <b-row class="mb-1">
        <b-col>
            <wysiwyg v-model="draft.intro"/>
        </b-col>
      </b-row>
      <b-row class="mb-1">
        <b-col>
            <label :class="validContent ? 'label-valid' : 'label-required'">{{trans('app.post.content')}}</label>
        </b-col>
      </b-row>
      <b-row class="mb-1">
        <b-col>
            <wysiwyg v-model="draft.content"/>
        </b-col>
      </b-row>
    </b-container>
    <div slot="modal-footer" class="pull-right">
        <b-btn class="btn btn-outline-danger" @click="close"> {{trans('app.buttons.close')}}</b-btn>
        <b-btn class="btn btn-outline-primary" @click="save" :disabled="!validForm"> {{draft.id ? trans('app.buttons.update') : trans('app.buttons.create')}}</b-btn>
    </div>
  </b-modal>
</div>
</template>

<script>
import myDatepicker from 'vue-datepicker2'
    export default {
        components: {
           'date-picker': myDatepicker
        },
        props: ['show', 'draft', 'blogCategories', 'tags'],
        data(){
            return{
                startTime: '',
                option: {
                    type: 'day',
                    week: ['Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa', 'Su'],
                    month: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                    format: 'YYYY-MM-DD',
                    placeholder: 'when?',
                    inputStyle: {
                      'display': 'inline-block',
                      'padding': '2px',
                      'margin-botton':'10px',
                      'line-height': '22px',
                      'font-size': '16px',
                      'border': '4px solid #fff',
                      'box-shadow': '0 1px 3px 0 rgba(0, 0, 0, 0.2)',
                      'border-radius': '4px',
                      'color': '#5F5F5F'
                    },
                    color: {
                      header: '#4186bc',
                      headerText: '#f00'
                    },
                    buttons: {
                      ok: 'Ok',
                      cancel: 'Cancel'
                    },
                    overlayOpacity: 0.5, // 0.5 as default
                    dismissible: true // as true as default
                },
            }
        },
        methods:{
            close(){
                this.$emit('close')
            },
            save(){
                if (this.draft.id) {
                    this.update()
                } else{
                    this.store()
                }
                this.close()
            },
            update(){
                var draft = this.draft
                var id = this.draft.id
                this.$store.dispatch('updatePost', {id:this.draft.id, draft: this.draft})
            },
            store(){
                this.$store.dispatch('storePost', this.draft)
            },
            imageChanged(e){
                var fileReader = new FileReader();
                if (e.target.files[0].size >  4096000) {
                    alert('Tamaño máximo superado, 4 MB')
                }
                else{
                    fileReader.readAsDataURL(e.target.files[0])

                    fileReader.onload = (e)=>{
                        this.draft.image = e.target.result
                    }
                    this.draft.imageUrl =  e.target.files[0].name;
                }
            },
        },
        computed:{
            validForm(){
              return this.validTitle && this.validCategory && this.validTitle &&
              this.validIntro && this.validImage && this.validContent && this.validImageAlt && this.validMetadesc && this.validMetakeywords
            },
            validCategory(){
                return this.draft.blog_category_id ? this.draft.blog_category_id != '' : false
            },
            validTitle(){
                return this.draft.title ? this.draft.title != '' : false
            },
            validIntro(){
                return this.draft.intro ? this.draft.intro != '' : false
            },
            validImage(){
                return this.draft.image ? this.draft.image != '' : false
            },
            validContent(){
                return this.draft.content ? this.draft.content != '' : false
            },
            validImageAlt(){
              return this.draft.image_alt ? this.draft.image_alt != '' : false
            },
            validMetadesc(){
              return this.draft.metadesc ? this.draft.metadesc != '' : false
            },
            validMetakeywords(){
              return this.draft.metakeywords ? this.draft.metakeywords != '' : false
            },
            validPublishDate(){
              return this.draft.publish_date ? this.draft.publish_date != '' : false
            },
            categories(){
                let newCategories = [
                    {
                        value: null,
                        text: trans('app.common.select'),
                    }
                ]
                for (var i = 0; i < this.blogCategories.length; i++) {
                    newCategories.push({
                        value: this.blogCategories[i].id,
                        text: this.blogCategories[i].name,
                    })

                }
                return newCategories
            }
        }
    }
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

<style>
/* Container needed to position the button. Adjust the width as needed */
.container {
  position: relative;
  width: 100%;
}

/* Make the image responsive */
.container img {
  width: 100%;
  height: auto;
}

/* Style the button and place it in the middle of the container/image */
.container .btn-over {
  position: absolute;
  top: 50%;
  left: 1%;
  transform: translate(-50%, -100%);
  -ms-transform: translate(-50%, -100%);
  cursor: pointer;
}

.container .btn-over:hover {
  background-color: black;
}

.multiselect__spinner:before{position:absolute;
  border-color:#F23827;
}
.multiselect__tag{position:relative;
  background:#F23827;
}
.multiselect__option--highlight{
  background:#F23827;
}
.multiselect__option--highlight:after{content:attr(data-select);
  background:#F23827;
}
.multiselect__tag-icon:hover{
  background:#bd2130;
}
</style>
