<template>
    <div class="box box-solid box-danger" :class="loading ? 'box-loading' : ''">
        <div class="box-header with-border" :class="loading ? 'box-loading' : ''">
          <h3 class="box-title">{{ trans('app.post.name') }}</h3>
        </div>
        <div class="box-body">
            <div class="form-inline pull-left ">
                <div class="form-inline pull-left">
                    <button type="button" class="btn btn-danger" @click="create">
                      <i class="fa fa-plus"> </i>
                    </button>
                </div>
            </div>
            <spinner v-if="loading" :size="200"/>
            <form class="form-inline pull-right">
                <div class="form-group mx-sm-6 mb-2">
                    <label class="sr-only">{{ trans('app.common.seacrh') }}</label>
                      <input v-model="target" :placeholder="trans('app.common.search')"  class="form-control" @keyup.enter="getPosts"/>
                </div>
            </form>
            <div class="clearfix"></div>
            <b-table ref="table" striped hover show-empty
                responsive
                :items="posts"
                @sort-changed="sortingChanged"
                :fields="fields"
                stacked="md"
                :filter="filter"
                :sort-by.sync="sortBy"
                :sort-desc.sync="sortDesc"
                :empty-text="trans('app.common.loading')"
           >

              <template slot="user_id" slot-scope="row">
                {{ getUserName(row.item.user_id) }}
              </template>

              <template slot="blog_category_id" slot-scope="row">
                {{ getCategory(row.item.blog_category_id).name }}
              </template>
              <template slot="image" slot-scope="row">
                <img :src="row.item.image" width="240">
              </template>

              <template slot="Actions" slot-scope="row">
                <button class="btn btn-success" @click="edit(row.item, row.index)" :title="trans('app.common.edit')">
                  <i class="fa fa-edit"></i>
                </button>

                <button class="btn btn-warning" @click="remove(row.item, row.index)" :title="trans('app.common.delete')">
                  <i class="fa fa-trash-o"></i>
                </button>
              </template>
            </b-table>
            <b-row>
                <b-col md="6" class="my-1">
                  <b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage" class="my-0" @input="getPosts" />
                </b-col>
            </b-row>
            <post-edit
              :show="showEdit"
              :draft="draft"
              :blogCategories="blogCategories"
              :tags="tags"
              @close="close">
            </post-edit>
        </div>
    </div>
</template>

<script>
  export default {
        watch:{
            target(){
                this.getPosts()
            }
        },
        data(){
            return{
                currentPage: null,
                target: '',
                draft: {},
                currentIndex: null,
                sortBy: 'id',
                sortDesc: true,
                showEdit: false,
                currentId: null,
                filter: null,
                items: null,
                fields: [
                    {
                        key: 'id',
                        label: '#',
                        sortable: true,
                    },
                    {
                        key: 'image',
                        label: trans('app.post.image'),
                        sortable: true,
                    },
                    {
                        key: 'user_id',
                        label: trans('app.post.user_id'),
                        sortable: true,
                    },
                    {
                        key: 'blog_category_id',
                        label: trans('app.post.blog_category_id'),
                        sortable: true,
                    },
                    {
                        key: 'title',
                        label: trans('app.post.title'),
                        sortable: true,
                    },
                    {
                        key: 'Actions',
                        label: trans('app.common.actions'), 'class': 'pull-right',
                        'class': 'col-7'
                    }
                ],
            }
        },
        created(){
            this.getPosts()
            this.$store.dispatch('listUser')
            this.$store.dispatch('listBlogCategories')
            this.$store.dispatch('listTags')
        },
        methods:{
              getPosts(){
                let params = {page: this.currentPage, target: this.target, orderBy: this.sortBy, desc: this.sortDesc, rows: 5}
                this.$store.dispatch('getPosts', params)
            },
            create(){
                this.draft = {
                    id: null,
                    user_id: null,
                    blog_category_id: null,
                    title: null,
                    image: null,
                    intro: null,
                    content: null,
                    imageUrl: '',
                    image_alt: '',
                    metadesc: '',
                    metakeywords: '',
                    publish_date: '',
                }
                this.showEdit = true
            },
              edit(post, index){
                this.draft = clone(post)
                this.currentIndex = index
                this.showEdit = true
            },
            close(){
              this.showEdit = false
            },
            remove(item, index){
                this.$swal({
                  title: trans('app.common.delete_title'),
                  text: trans('app.common.delete_text') + item.name +'?',
                  type: 'warning',
                  showCancelButton: true,
                  confirmButtonColor: '#3085d6',
                  cancelButtonColor: '#d33',
                  confirmButtonText: trans('app.common.delete_confirm'),
                  cancelButtonText: trans('app.common.0')
                }).then((result) => {
                  if (result.value) {
                    this.$store.dispatch('removePost', item.id)
                  }
                })
            },
            sortingChanged (ctx) {
                if (ctx.sortBy) {
                  this.sortBy = ctx.sortBy
                  this.sortDesc = ctx.sortDesc
                  this.currentPage = null
                  this.getPosts()
                }
            },
            getCategory(id){
              for (var i = 0; i < this.blogCategories.length; i++) {
                if (this.blogCategories[i].id == id) {
                  return this.blogCategories[i]
                }
              }
              return {name: ''}
            },
            getUserName(id){
              for (var i = 0; i < this.users.length; i++) {
                if (this.users[i].id == id) {
                  return this.users[i].first_name + ' ' + this.users[i].last_name
                }
              }
            },
        },
        computed:{
            posts(){
                return this.$store.state.Post.data
            },
            current_page(){
                return this.$store.state.Post.currentPage
            },
            totalRows(){
                return this.$store.state.Post.totalRows
            },
            perPage(){
                return this.$store.state.Post.perPage
            },
            loading(){
               return this.$store.state.Post.loading
            },
            users(){
                return this.$store.state.User.list
            },
            blogCategories(){
                return this.$store.state.BlogCategory.list
            },
            tags(){
                return this.$store.state.Tag.list
            },
        }
    }
</script>