<template>
    <div>
        <div class="col-md-12">
            <label :class="validString(draft.mission) ? 'label-valid' : 'label-required'">{{trans('app.dealer.mission')}}</label>
            <wysiwyg v-model="draft.mission"/>
        </div>
        <div class="col-md-12">
            <label :class="validString(draft.vision) ? 'label-valid' : 'label-required'">{{trans('app.dealer.vision')}}</label>
            <wysiwyg v-model="draft.vision"/>
        </div>
        <div class="col-md-12">
            <label :class="validString(draft.overview) ? 'label-valid' : 'label-required'">{{trans('app.dealer.overview')}}</label>
            <wysiwyg v-model="draft.overview"/>
        </div>
        <div class="col-md-12">
            <label :class="validString(draft.about) ? 'label-valid' : 'label-required'">{{trans('app.dealer.about')}}</label>
            <wysiwyg v-model="draft.about"/>
        </div>
        <div class="col-md-12">
            <label :class="validString(draft.biographies) ? 'label-valid' : 'label-required'">{{trans('app.dealer.biographies')}}</label>
            <wysiwyg v-model="draft.biographies"/>
        </div>
    </div>
</template>
<script>
    export default {
        props: ['draft'],
        methods: {
            validString(value){
                return value != ''
            },
        }
    }

</script>
<style src="vue-wysiwyg/dist/vueWysiwyg.css"></style>