<template>
    <div :class="loading ? 'box-loading' : ''">
        <dealer-bar></dealer-bar>
        <div class="col-md-9">
            <h2>Dealer Profile</h2>
        <div class="dashboard-block">
            <div class="tabs profile-tabs">

                <ul class="nav nav-tabs">
                    <li :class="currentTab == 'personal' ? 'active' : ''"> <a @click="changeTab('personal')">Personal Info</a></li>
                    <li :class="currentTab == 'location' ? 'active' : ''"><a @click="changeTab('location')">Location</a></li>
                    <li :class="currentTab == 'content' ? 'active' : ''"><a @click="changeTab('content')">Content</a></li>
                </ul>
                    <div class="tab-content">

                        <div v-show="currentTab == 'personal'" class="tab-pane fade active in">
                            <div class="row">
                                <div class="col-md-12" v-if="draft">
                                   <dealer-personal-info :draft="draft"/>
                                </div>
                            </div>
                        </div>

                        <div v-show="currentTab == 'location'" class="tab-pane fade active in">
                            <div class="row">
                                <div class="col-md-12">
                                   <dealer-location :draft="draft"/>
                                </div>
                            </div>
                        </div>

                        <div v-show="currentTab == 'content'" class="tab-pane fade active in">
                            <div class="row">
                                <div class="col-md-12">
                                   <dealer-content :draft="draft"/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <button @click="save" class="btn btn-danger pull-right" :disabled="! validForm" >
                        {{draft && draft.id ? trans('app.buttons.update') : trans('app.buttons.create')}}
                        <atom-spinner
                            :animation-duration="1000"
                            :size="25"
                            :color="'white'"
                            class="pull-right"
                            v-if="loading"
                        />
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data(){
            return {
                draft: null,
                currentTab: 'personal',
            }
        },
        created(){
            this.draft = clone(this.dealer)
        },
        methods: {
            save(){
                this.$store.dispatch('updateDealer', {id:this.draft.id, draft:this.draft})
                window.location.reload();

            },
            changeTab(tab){
                this.currentTab = tab
            },
            validString(value){
                return value != ''
            },
            validEmail(value){
                var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(String(value).toLowerCase());
            },
            validValue(value){
                return value != null
            },
        },
        computed: {
            dealer(){
                return this.$parent.dealer
            },
            loading(){
                return this.$store.state.Dealer.loading
            },
            validForm(){
                return this.validString(this.draft.user.first_name) &&
                    this.validString(this.draft.user.last_name) &&
                    this.validString(this.draft.user.login) &&
                    this.validEmail(this.draft.user.email) &&
                    this.validString(this.draft.dealer_shortname) &&
                    this.validString(this.draft.dealer_EIN) &&
                    this.validString(this.draft.dealer_manager) &&
                    this.validValue(this.draft.mail_receive) &&
                    this.validString(this.draft.latitude) &&
                    this.validString(this.draft.longitude) &&
                    this.validString(this.draft.original_phone) &&
                    this.validString(this.draft.redirect_phone) &&
                    this.validString(this.draft.fax) &&
                    this.validString(this.draft.website) &&
                    this.validString(this.draft.sunbizzurl) &&
                    this.validString(this.draft.mission) &&
                    this.validString(this.draft.vision) &&
                    this.validString(this.draft.overview) &&
                    this.validString(this.draft.about) &&
                    this.validString(this.draft.biographies)
            },
        },
    }
</script>
<style>
.label-valid{
    color: green !important;
}
.label-required{
    color: red !important;
}
</style>