<template>
    <div>
        <div class="form-group">
            <div class="col-md-12">
                <label>Autocomplete Address</label>
                <vue-google-autocomplete
                    ref="address"
                    id="map"
                    :placeholder="trans('app.address.type')"
                    v-on:placechanged="getAddressData"
                    country="us"
                    class="form-control"
                    v-if="editing"
                >
                </vue-google-autocomplete>
            </div>
        </div>
        <template v-if="draft.user.address">
            <div class="form-group col-md-6">
                    <label>{{trans('app.dealer.address_1')}}</label>
                    <input disabled type="text" class="form-control" v-model="draft.user.address.street_number + ' ' + draft.user.address.route">
            </div>
            <div class="form-group col-md-6
            ">
                <div class="">
                    <label>{{trans('app.dealer.address_2')}}</label>
                    <input type="text" class="form-control" v-model="draft.user.address.secondary">
                </div>
            </div>
            <div class="form-group col-md-6">
                    <label>{{trans('app.dealer.state')}}</label>
                    <input disabled type="text" class="form-control" v-model="draft.user.address.state">
            </div>
            <div class="form-group col-md-6">
                    <label>{{trans('app.dealer.city_id')}}</label>
                    <input disabled type="text" class="form-control" v-model="draft.user.address.locality">
            </div>
            <div class="form-group col-md-6">
                    <label>{{trans('app.dealer.postal_code')}}</label>
                    <input disabled type="text" class="form-control" v-model="draft.user.address.postal_code">
            </div>
        </template>
        <div class="col-md-6">
            <label :class="validString(draft.original_phone) ? 'label-valid' : 'label-required'">{{trans('app.dealer.original_phone')}}</label>
            <input type="text" class="form-control" placeholder="" v-model="draft.original_phone">
        </div>
        <div class="clearfix"></div>
        <div class="col-md-6">
            <label :class="validString(draft.redirect_phone) ? 'label-valid' : 'label-required'">{{trans('app.dealer.redirect_phone')}}</label>
            <input type="text" class="form-control" placeholder="" v-model="draft.redirect_phone">
        </div>
        <div class="col-md-6">
            <label :class="validString(draft.fax) ? 'label-valid' : 'label-required'">{{trans('app.dealer.fax')}}</label>
            <input type="text" class="form-control" placeholder="" v-model="draft.fax">
        </div>
        <div class="col-md-6">
            <label :class="validString(draft.website) ? 'label-valid' : 'label-required'">{{trans('app.dealer.website')}}</label>
            <input type="text" class="form-control" placeholder="" v-model="draft.website">
        </div>
        <div class="col-md-6">
            <label :class="validString(draft.sunbizzurl) ? 'label-valid' : 'label-required'">{{trans('app.dealer.sunbizzurl')}}</label>
            <input type="text" class="form-control" placeholder="" v-model="draft.sunbizzurl">
        </div>
    </div>
</template>
<script>
    import VueGoogleAutocomplete from 'vue-google-autocomplete'
    export default {
        components: { VueGoogleAutocomplete },
        props: ['draft'],
        data(){
            return {
                ready: false
            }
        },
        created(){
            if (! this.draft.user.address) {
                this.draft.user.address = {
                    state: '',
                    country: '',
                    latitude: '',
                    locality: '',
                    longitude: '',
                    postal_code: '',
                    route: '',
                    street_number: '',
                    secondary: '',
                }
            }
        },
        methods: {
            validString(value){
                return value != ''
            },
            validValue(value){
                return value != null
            },
            getAddressData(addressData, placeResultData, id) {
                this.address = addressData;
                this.draft.user.address.street_number = addressData.street_number
                this.draft.user.address.route = addressData.route
                this.draft.user.address.state = addressData.administrative_area_level_1
                this.draft.user.address.locality = addressData.locality
                this.draft.user.address.country = addressData.country
                this.draft.user.address.postal_code = addressData.postal_code
                this.draft.user.address.latitude = addressData.latitude
                this.draft.user.address.longitude = addressData.longitude
                this.$forceUpdate()
                this.$parent.validAddress = true
            },
            update(){
                this.address.secondary = this.draft.user.secondary
                this.$store.dispatch('updateAddress', {id: this.draft.user.address.id, address: this.address})
                this.editing = false
            },
        },
        computed: {
            fullAddress(){
                let address = this.$store.state.Address.data
                return address ? address.street_number + ' ' + address.route + ' ' + address.locality + ' ' + address.administrative_area_level_1 + ' ' + address.country
                    : this.draft.address
            },
            editing(){
                return this.$parent.currentTab == 'location' || this.$parent.show
            }
        },
    }
</script>