<template>
    <div v-if="draft.user">
        <div class="col-md-6 form-group">
            <label :class="validString(draft.user.first_name) ? 'label-valid' : 'label-required'">{{trans('app.user.first_name')}}</label>
            <input type="text" class="form-control" placeholder="" v-model="draft.user.first_name">
        </div>
        <div class="col-md-6 form-group">
            <label :class="validString(draft.user.last_name) ? 'label-valid' : 'label-required'">{{trans('app.user.last_name')}}</label>
            <input type="text" class="form-control" placeholder="" v-model="draft.user.last_name">
        </div>
        <template v-if="$router.history.current.name == 'createDealer'">
            <div class="col-md-6 form-group">
                <label :class="validString(draft.user.login) ? 'label-valid' : 'label-required'">{{trans('app.user.login')}}</label>
                <input type="text" class="form-control" placeholder="" v-model="draft.user.login">
            </div>
            <div class="col-md-6 form-group">
                <label :class="validEmail(draft.user.email) ? 'label-valid' : 'label-required'">{{trans('app.user.email')}}</label>
                <input type="text" class="form-control" placeholder="" v-model="draft.user.email">
            </div>
        </template>
        <div class="col-md-6">
            <label :class="validString(draft.dealer_shortname) ? 'label-valid' : 'label-required'">{{trans('app.dealer.dealer_shortname')}}</label>
            <input type="text" class="form-control" placeholder="" v-model="draft.dealer_shortname">
        </div>
        <div class="col-md-6">
            <label :class="validString(draft.dealer_EIN) ? 'label-valid' : 'label-required'">{{trans('app.dealer.dealer_EIN')}}</label>
            <input type="text" class="form-control" placeholder="" v-model="draft.dealer_EIN">
        </div>
        <div class="col-md-6">
            <label :class="validString(draft.dealer_manager) ? 'label-valid' : 'label-required'">{{trans('app.dealer.dealer_manager')}}</label>
            <input type="text" class="form-control" placeholder="" v-model="draft.dealer_manager">
        </div>
        <div class="form-group col-md-3 col-lg-3" >
            <label :class="validString(draft.mail_receive) ? 'label-valid' : 'label-required'" for="">{{trans('app.dealer.mail_receive')}}</label>
            <select required class="form-control" v-model="draft.mail_receive">
                <option v-for="(option, index) in options" :value="option.value" >{{option.text}}</option>
            </select>
        </div>
    </div>
</template>
<script>
    export default {
        props: ['draft'],
        data() {
            return {
                options: [
                    { value: 1, text: trans('app.common.1') },
                    { value: 0, text: trans('app.common.0') },
                ],
            }
        },
        methods: {
            validString(value){
                return value
            },
            validEmail(value){
                var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(String(value).toLowerCase());
            },
        }
    }
</script>