<template>
    <div>
        <div class="pull-left">
            <h3><i class="fa fa-share"></i> {{ reply ? trans('app.comment.reply') : trans('app.comment.create')}}</h3>
        </div>
        <template v-if="! user">
            <div class="pull-right">
                <a href="/login" class="btn btn-default btn-xs">Login</a>
            </div>
        </template>
        <template v-else>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-12">
                        <textarea ref="content" v-model="content" cols="8" rows="4" class="form-control input-lg" :placeholder="trans('app.comment.placeholder')"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-12">
                        <button :disabled="! validContent" class="btn btn-primary btn-lg" @click="comment">{{ trans('app.comment.submit') }}</button>
                        <button v-if="reply" class="btn btn-info btn-lg router-link-active" @click="cancel">{{ trans('app.buttons.cancel') }}</button>
                    </div>
                </div>
            </div>
        </template>
    </div>
</template>

<script>
    export default {
        props: ['post_id', 'reply'],
        data(){
            return {
                content: ''
            }
        },
        methods: {
            comment(){
                this.$store.dispatch('storeComment', {content: this.content, post_id:this.post_id, reply: this.reply ? this.reply : null})
                this.content = ''
                this.$emit('submited')
            },
            cancel(){
                this.content = ''
                this.$emit('submited')
            }
        },
        computed: {
            user(){
                return this.$store.state.User.authUser
            },
            validContent()
            {
                return this.content.length > 3
            }
        }
    }
</script>