<template>
    <div>
        <section class="post-comments" id="comments">
            <h3><i class="fa fa-comment"></i> {{ trans('app.comment.title') }} ({{ comments.length }})</h3>
            <ol class="comments">
                <li v-for="comment in comments" v-if="! comment.reply">
                    <div class="post-comment-block">
                        <div class="img-thumbnail"> <img src="/images/comment.png" alt="avatar"> </div>
                        <div class="post-comment-content">
                            <a v-if="user" class="btn btn-default btn-xs pull-right" @click="replyComment(comment.id)">Reply</a>
                            <h5>{{comment.user.first_name}} {{comment.user.last_name}} says</h5>
                            <span class="meta-data">{{comment.created_at | moment("MMMM Do YYYY at h:mm:ss a")}}</span>
                            <p>{{comment.content}}</p>
                        </div>
                    </div>
                    <!-- Replies -->
                     <ul v-if="comment.replies.length > 0">
                        <li v-for="reply in comment.replies">
                            <div class="post-comment-block">
                                <div class="img-thumbnail"> <img src="/images/comment.png" alt="avatar"> </div>
                                <div class="post-comment-content">
                                    <h5>{{reply.user.first_name}} {{reply.user.last_name}} says</h5>
                                    <span class="meta-data">{{reply.created_at | moment("MMMM Do YYYY at h:mm:ss a")}}</span>
                                    <p>{{ reply.content }}</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <template v-if="reply == comment.id">
                        <section class="post-comment-form">
                            <create-comment :post_id="post_id" :reply="comment.id" @submited="submited"></create-comment>
                        </section>
                    </template>
                </li>
            </ol>
        </section>
        <section class="post-comment-form" v-if="reply == null">
            <create-comment :post_id="post_id" @submited="submited"></create-comment>
        </section>
    </div>
</template>
<script>
    export default {
        data(){
            return {
                reply: null
            }
        },
        props: ['post_id'],
        created(){
            this.getComments()
        },
        methods: {
            getComments(){
                let params = {post_id: this.post_id}
                this.$store.dispatch('getComments', params)
            },
            replyComment(comment_id){
                this.reply = comment_id
            },
            submited(){
                this.reply = null
                this.getComments()
            },

        },
        computed:{
            comments(){
                return this.$store.state.Comment.data
            },
            user(){
                return this.$store.state.User.authUser
            }
        },
    }
</script>