<template>
<div>
  <b-modal v-model="show" :title="draft.id ? trans('app.socialMedia.edit') : trans('app.socialMedia.add')"  @hide="close">
        <b-container fluid>

              <b-row class="mb-1">
               <b-col><label :class="validName ? 'label-valid' : 'label-required'">{{trans('app.socialMedia.name')}}</label></b-col>
             </b-row>
             <b-row class="mb-1">
               <b-col><input type="text" v-model="draft.name" class="form-control" ></b-col>
             </b-row>

             <b-row class="mb-1">
               <b-col><label :class="validUrl ? 'label-valid' : 'label-required'">{{trans('app.socialMedia.url')}}</label></b-col>
             </b-row>
             <b-row class="mb-1">
               <b-col><input type="text" v-model="draft.url" class="form-control" ></b-col>
             </b-row>

              <b-row class="mb-1">
               <b-col><label>{{trans('app.socialMedia.icon')}}</label></b-col>
             </b-row>

             <b-row class="mb-1">
                <b-col>
                    <div enctype="multipart/form-data" @click="processFile($event)">
                        <a href="#" >
                          <b-row>
                            <b-col>
                                <template v-if="draft.flag==false">
                                    <b-img thumbnail fluid width="455" height="275" :src="draft.icon != null ? draft.icon : trans('settings.default_image')" alt="Thumbnail"/>
                                </template>
                                <template v-else>
                                  <b-img thumbnail fluid width="455" height="275"
                                  :src="draft.icon != null ? draft.icon : trans('settings.default_image')"
                                  />*
                                </template>
                            </b-col>
                          </b-row>
                        </a>
                    </div>
                </b-col>
            </b-row>

            <b-row class="mb-1">
                <b-col>
                    <b-form-file @change="processFile($event)" placeholder="Choose a file..." ref="fileinput"></b-form-file>
                </b-col>
             </b-row>
        </b-container>
    <div slot="modal-footer" class="pull-right">
        <b-btn class="btn btn-outline-danger" @click="close"> {{trans('app.buttons.close')}}</b-btn>

        <b-btn class="btn btn-outline-primary" @click="save" :disabled="!validForm"> {{draft.id ? trans('app.buttons.update') : trans('app.buttons.create')}}</b-btn>
    </div>
  </b-modal>
</div>
</template>

<script>
    export default {
        props: ['show', 'draft'],
        data(){
            return{
                images:[]

            }
        },
        created(){
        },
        methods:{
            close(){
                this.$emit('close')
                this.images = []

            },
            save(){
                this.imageName();
                if (this.draft.id) {
                    this.update()
                } else{
                    this.store()
                }
                this.close()
            },
            update(){
                this.$store.dispatch('updateSocialMedia', {id:this.draft.id, draft:this.draft, Base64Img:this.base64, images:this.images})
            },
            store(){
                this.$store.dispatch('storeSocialMedia',
                {draft:this.draft, Base64Img:this.base64, images:this.images,})

            },
            imageName(){
                if (this.images.length > 0) {
                    this.draft.icon=this.images[0].url
                }
            },
            processFile(e) {
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                    this.createImage(files[0]);
                    this.viewImage(files[0]);
            },

            createImage(file) {
                var reader = new FileReader();
                reader.readAsDataURL(file);
                reader.onload = (function(f, images){
                    return function(e) {
                        images.push({
                            url: f.name.replace(' ', ''),
                            Base64Img: e.target.result,
                        });
                    };
                })(file, this.images);
                this.draft.flag=true;
                // this.draft.images.url
            },
            viewImage(file){

                var image = new Image();

                var reader = new FileReader();
                var vm = this;
                reader.onload = (e) => {
                    vm.draft.icon = e.target.result;

                };

                reader.readAsDataURL(file);

            },
            removeImage: function (e) {
                this.draft.icon = '';
            },
        },
        computed:{
            validForm(){
              return  this.validUrl && this.validName
            },
            validName(){
              return this.draft.name ? this.draft.name.length > 3 : false
            },
            validUrl(){
              return this.draft.url
            },
            validIcon(){
                return this.draft.icon
            },

        }
    }
</script>