<template>
    <router-view :filter="filter" :user="user"></router-view>
</template>
<script>
    import {AtomSpinner} from 'epic-spinners'
    export default {
        props: ['filter', 'user'],
        components: {
            AtomSpinner
        },
        data(){
            return {
                target: '',
            }
        },
        computed: {
            loading(){
                return this.$store.state.Post.loading
            },
        },
    }
</script>
<style>
    .box-loading {
        background:#ffff;
        opacity: 0.5;
        filter: alpha(opacity=10);
    }

    .atom-spinner{
        position:fixed;
        top:40%;
        left:50%
    }
</style>