<template>
    <div>
        <div class="page-header parallax" :style="'background-image:url(' + trans('settings.inventory.image') + ');'">
            <div class="container">
                <h1 class="page-title">Inventory</h1>
            </div>
        </div>
        <!-- Utiity Bar -->
        <div class="utility-bar">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-6 col-xs-8">
                        <ol class="breadcrumb">
                            <li><a href="/">Home</a></li>
                            <li class="active">Inventory</li>
                        </ol>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-4">
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        //
    }
</script>