<template>
<div>

  <b-modal v-model="show" :title="draft.id ? trans('app.billingPayment.edit') : trans('app.billingPayment.add')"  @hide="close">
        <b-container fluid>
             <b-row class="mb-1">
                <b-col cols="6"><label :class="validCardNumber ? 'label-valid' : 'label-required'">{{trans('app.billingPayment.cardnumber')}}</label></b-col>
                <b-col cols="6"><label :class="validValue(draft.type)  ? 'label-valid' : 'label-required'">{{trans('app.billingPayment.type')}}</label></b-col>
             </b-row>
             <b-row class="mb-1">
                <b-col cols="6">
                  <input v-if="editing" disabled type="text" v-model="draft.hide_card_number" class="form-control">
                  <input v-else type="text" v-model="draft.cardnumber" class="form-control">
                </b-col>
                <b-col cols="6">
                    <b-form-select v-model="draft.type" :options="card_types" class="mb-3"/>
                </b-col>
             </b-row>
             <b-row class="mb-1">
                <b-col cols="4"><label :class="draft.expire_month && validExpireMonth ? 'label-valid' : 'label-required'">{{trans('app.billingPayment.expire_month')}}</label></b-col>
                <b-col cols="4"><label :class="draft.expire_year && validExpireYear ? 'label-valid' : 'label-required'">{{trans('app.billingPayment.expire_year')}}</label></b-col>
                <b-col cols="4"><label :class="validString(draft.cvc) ? 'label-valid' : 'label-required'">{{trans('app.billingPayment.cvc')}}</label></b-col>
             </b-row>
             <b-row class="mb-1">
                <b-col cols="4"><input type="number" v-model="draft.expire_month" class="form-control"></b-col>
                <b-col cols="4"><input type="number" v-model="draft.expire_year" class="form-control" ></b-col>
                <b-col cols="4"><input type="number" v-model="draft.cvc" class="form-control" ></b-col>
             </b-row>

             <b-row class="mb-1">
               <b-col cols="6"><label :class="validString(draft.first_name) ? 'label-valid' : 'label-required'">{{trans('app.billingPayment.first_name')}}</label></b-col>
               <b-col cols="6"><label :class="validString(draft.last_name) ? 'label-valid' : 'label-required'">{{trans('app.billingPayment.last_name')}}</label></b-col>
             </b-row>
             <b-row class="mb-1">
               <b-col cols="6"><input type="text" v-model="draft.first_name" class="form-control" ></b-col>
               <b-col cols="6"><input type="text" v-model="draft.last_name" class="form-control" ></b-col>
             </b-row>

             <b-row class="mb-1">
               <b-col cols="3"><label :class="validString(draft.zipcode) ? 'label-valid' : 'label-required'">{{trans('app.billingPayment.zipcode')}}</label></b-col>
               <b-col><label class="label-valid">{{trans('app.billingPayment.account_number')}}</label></b-col>
             </b-row>
             <b-row class="mb-1">
               <b-col cols="3"><input type="text" v-model="draft.zipcode" class="form-control" ></b-col>
               <b-col>
                <input v-if="editing" disabled type="text" v-model="draft.hide_account_number" class="form-control" >
                <input v-else type="text" v-model="draft.account_number" class="form-control" >
              </b-col>
             </b-row>

             <b-row class="mb-1">
               <b-col cols="6"><label class="label-valid">{{trans('app.billingPayment.routing_number')}}</label></b-col>
               <b-col><label :class="validValue(draft.primary)  ? 'label-valid' : 'label-required'">{{trans('app.billingPayment.primary')}}</label></b-col>
             </b-row>
             <b-row class="mb-1">
               <b-col cols="6">
                <input v-if="editing" disabled type="text" v-model="draft.hide_routing_number" class="form-control" >
                <input v-else type="text" v-model="draft.routing_number" class="form-control" >
              </b-col>
                <b-col><b-form-select v-model="draft.primary" :options="yesNo" class="mb-3"/></b-col>
             </b-row>

            <b-row class="mb-1">
                <b-col><label :class="validValue(draft.status) ? 'label-valid' : 'label-required'">{{trans('app.billingPayment.status')}}</label></b-col>
            </b-row>
            <b-row class="mb-1">
                <b-col>
                    <b-form-select v-model="draft.status" :options="statuses" class="mb-3"/>
                </b-col>
            </b-row>
            <template v-if="$router.history.current.name == 'admin-billing-payment'">
              <b-row class="mb-1">
                    <b-col><label :class="validValue(draft.dealer_id) ? 'label-valid' : 'label-required'">{{trans('app.billingPayment.user')}}</label></b-col>
               </b-row>
               <b-row class="mb-1">
                  <b-col>
                      <b-form-select v-model="draft.dealer_id" :options="dealers" value-field="id" text-field="full_name" class="mb-3"/>
                  </b-col>
              </b-row>
            </template>

        </b-container>
    <div slot="modal-footer" class="pull-right">
        <b-btn class="btn btn-outline-danger" @click="close"> {{trans('app.buttons.close')}}</b-btn>

        <b-btn @click="save"  class="btn btn-outline-primary" :disabled="! validForm" > {{draft.id ? trans('app.buttons.update') : trans('app.buttons.create')}}</b-btn>

    </div>
  </b-modal>
</div>
</template>

<script>
    import myDatepicker from 'vue-datepicker2'
    export default {
        props: ['show', 'draft'],
        data(){
            return{
                dealersList: [
                    { value: '', text: ''},
                ],
                statuses: [
                    { value: '1', text: trans('app.common.active') },
                    { value: '0', text: trans('app.common.inactive') },
                ],
                yesNo: [
                    { value: '1', text: trans('app.common.1') },
                    { value: '0', text: trans('app.common.0') },
                ],
                card_types: [
                    { value: 'Visa', text: 'Visa' },
                    { value: 'MasterCard', text: 'MasterCard' },
                    { value: 'Amex', text: 'American Express' },
                    { value: 'Discover', text: 'Discover' },
                ],
            }
        },
        created(){
            this.listDealers()
        },
        methods:{
            listDealers(){
                this.$store.dispatch('listDealers')
            },
            close(){
                this.$emit('close')
                this.images = []

            },
            save(){
                if (this.draft.id) {
                    this.update()
                } else{
                    this.store()
                }
                this.close()
            },
            update(){
                this.$store.dispatch('updateBillingPayment', {id:this.draft.id, draft:this.draft})
            },
            store(){
                this.$store.dispatch('storeBillingPayment',
                {draft:this.draft, Base64Img:this.base64, images:this.images,})

            },
            validString(value){
                return value != ''
            },
            validValue(value){
                return value != null
            },
        },
        computed:{
            editing(){
              return this.draft.id != null
            },
            dealers(){
                return this.$store.state.Dealer.list
            },
            validForm(){
              return this.validCardNumber &&
              this.validValue(this.draft.type) &&
              this.validString(this.draft.first_name) &&
              this.validString(this.draft.last_name) &&
              this.validValue(this.draft.primary) &&
              this.validValue(this.draft.status) &&
              this.validString(this.draft.cvc) &&
              this.validString(this.draft.zipcode) &&
              this.validValue(this.draft.dealer_id) &&
              this.validExpireYear &&
              this.validExpireMonth &&
              this.validDate
            },
            validCardNumber(){
              return ! this.editing ? this.validString(this.draft.cardnumber) : true
            },
            validType(){
              return this.draft.type != null
            },
            validExpireYear(){
                return this.draft.expire_year.length == 4
            },
            validExpireMonth(){
                return  this.draft.expire_month.length == 2 && this.draft.expire_month > 0 && this.draft.expire_month < 13
            },
            validExpireYear(){
                return  this.draft.expire_year.length == 4 && this.draft.expire_year >= this.currentYear
            },
            validDate(){
                if (this.draft.expire_year > this.currentYear) {
                    return true
                }
                return this.draft.expire_month >= this.currentMonth
            },
            currentYear(){
                var d = new Date()
                return d.getFullYear()
            },
            currentMonth(){
                var d = new Date()
                return d.getMonth() + 1
            },
        }
    }
</script>