<template>
	<div class="box box-solid box-danger" :class="loading ? 'box-loading' : ''">
		<div class="box-header with-border">
      		<h3 class="box-title">{{ trans('app.billingPayment.title') }}</h3>
          <div class="box-tools pull-right" v-if="$router.history.current.name == 'dealer-billing-payment'">
            <router-link to="/playfair/dealers" class="btn btn-default">
            <i class="fa fa-chevron-circle-left" aria-hidden="false"></i> {{ trans('app.common.back') }}
            </router-link>
          </div>
      	</div>
        <div class="box-body">
      		<div class="form-inline pull-left ">
		        <button class="btn btn-danger" @click="create">
		          	<i class="fa fa-plus ">  </i>
		        </button>
      		</div>
          <spinner v-if="loading" :size="200" color="#dd4b39"/>
      		<form class="form-inline pull-right">
        		<div class="form-group mx-sm-6 mb-2">
          			<label class="sr-only">Search</label>
          			  <input v-model="target"  class="form-control" placeholder="Type to Search" />
        		</div>
      		</form>
            <!-- :items="items" -->
      		<div class="clearfix"></div>
			<b-table ref="table" striped hover show-empty
					responsive
                  :items="billingPayment"
            		  @sort-changed="sortingChanged"
					        :fields="fields"
					        stacked="md"
	                :filter="filter"
	                :sort-by.sync="sortBy"
	                :sort-desc.sync="sortDesc"
	                empty-text="Cargando..."
                  :no-local-sorting="true"
                  >
                <template slot="goodthru"  slot-scope="row">
                    {{ row.item.expire_month + ' - ' + row.item.expire_year }}
                </template>
                <template slot="nameoncard"  slot-scope="row">
                    {{ row.item.first_name + ' ' + row.item.last_name }}
                </template>
                <template slot="status"  slot-scope="row">
                    {{row.item.status ? 'Active' : 'Inactive'}}
                </template>
                <template slot="Actions" slot-scope="row">
                  <button class="btn btn-success" @click="edit(row.item, row.index)" :title="trans('app.common.edit')">
                    <i class="fa fa-edit"></i>
                  </button>
                  <button class="btn btn-warning" @click="remove(row.item, row.index)" :title="trans('app.common.delete')">
                    <i class="fa fa-trash-o"></i>
                  </button>
                </template>
			</b-table>
      <billing-payment-edit :show="showEdit" :draft="draft" @close="close"></billing-payment-edit>

      </div>
      <div class="box-footer text-center">
          <b-pagination
            :total-rows="totalRows"
            :per-page="perPage"
            align="center"
            v-model="currentPage"
            class="my-0"
            @input="getBillingPayments"
            />
      </div>
		</div>

	</div>
</template>

<script>
	export default{
		watch:{
			target(){
        this.getBillingPayments()
      }
		},
		data(){
			return{

        currentPage: null,
        target: '',
        draft: {},
        currentIndex: null,
        showEdit: false,
        sortBy: 'id',
        sortDesc: true,
        currentId: null,
			  pageOptions: [ 5, 10, 15 ],
        draft:{},
        filter: null,
				fields: [
              {
              key: 'hide_card_number', label: trans('app.billingPayment.cardnumber'), sortable: true,
              },
        			{
        			key: 'type', label: trans('app.billingPayment.type'), sortable: true,
        			},
              {
              key: 'goodthru', label: trans('app.billingPayment.code'), sortable: true,
              },
              {
              key: 'nameoncard', label: trans('app.billingPayment.nameoncard'), sortable: true,
              },
              {
        			key: 'Actions', label: trans('app.common.actions'), 'class': 'pull-right'
        			}
      			],
			}
		},
		created(){
            this.getBillingPayments()
        },
		methods:{
        getBillingPayments(){
            let params = {page: this.currentPage, target: this.target, orderBy: this.sortBy, desc: this.sortDesc, dealer: this.dealer_id}
            this.$store.dispatch('getBillingPayments', params)
        },
		    onFiltered (filteredItems) {
		      // Trigger pagination to update the number of buttons/pages due to filtering
		      this.totalRows = filteredItems.length
		      this.currentPage = 1
		    },
		    edit(billingPayment, index){
            this.draft = clone(billingPayment)
            this.currentIndex = index
            this.showEdit = true
        },
        create(){
            this.draft = {
                id: null,
                cardnumber:'',
                type: null,
                expire_month:'',
                expire_year:'',
                first_name:'',
                last_name:'',
                cvc:'',
                zipcode:'',
                account_number:'',
                routing_number:'',
                primary:1,
                status:1,
                dealer_id: this.$route.params.dealer_id,
            }
            this.showEdit = true
        },
        remove(item, index){
            this.$swal({
              title: trans('app.common.delete_title'),
              text: trans('app.common.delete_text') + item.name +'?',
              type: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: trans('app.common.delete_confirm'),
              cancelButtonText: trans('app.common.0')
            }).then((result) => {
              if (result.value) {
                this.$store.dispatch('removeBillingPayment', item.id)
              }
            })
        },
        close(){
          this.showEdit = false
        },
        sortingChanged (ctx) {
                if (ctx.sortBy) {
                    this.sortBy = ctx.sortBy
                    this.sortDesc = ctx.sortDesc
                    this.currentPage = 1
                    this.getBillingPayments()
                }
            },

		},
        computed:{
            billingPayment(){
                return this.$store.state.BillingPayment.billingPayments
            },
            current_page(){
                return this.$store.state.BillingPayment.currentPage
            },
            totalRows(){
                return this.$store.state.BillingPayment.totalRows
            },
            perPage(){
                return this.$store.state.BillingPayment.perPage
            },
            loading(){
               return this.$store.state.BillingPayment.loading
            },
            dealer_id(){
              return this.$route.params.dealer_id ? this.$route.params.dealer_id : ''
            }
        }
	}
</script>