<template>
	<div class="box box-solid box-danger" :class="loading ? 'box-loading' : ''">
		<div class="box-header with-border">
      		<h3 class="box-title">{{ trans('app.catEquipment.title') }}</h3>
      	</div>
        <div class="box-body">
      		<div class="form-inline pull-left ">
		        <button class="btn btn-danger " @click="create">
		          	<i class="fa fa-plus ">  </i>
		        </button>
      		</div>
          <spinner v-if="loading" :size="200"/>
      		<form class="form-inline pull-right">
            <div class="form-group mx-sm-6 mb-2">
          			<label class="sr-only">Search</label>
          			  <input v-model="target"  class="form-control" placeholder="Type to Search" @keyup.enter="getEquipMents" />
        		</div>
      		</form>
      		<div class="clearfix"></div>
			<b-table ref="table" striped hover show-empty
					responsive
					:items="catEquipament"
            		@sort-changed="sortingChanged"
					:fields="fields"
					stacked="md"
	                :filter="filter"
	                :sort-by.sync="sortBy"
	                :sort-desc.sync="sortDesc"
	                empty-text="Cargando..."
	                :no-local-sorting="true"
                    >
                <template slot="status"  slot-scope="row">
                    {{row.item.status ? 'Active' : 'Inactive'}}
                </template>
                <template slot="category"  slot-scope="row">
                    {{selectCategory(row.item.category_id)}}
                </template>
                <template slot="Actions" slot-scope="row">
                    <button class="btn btn-success" @click="edit(row.item, row.index)" :title="trans('app.common.edit')">
                    <i class="fa fa-edit"></i>
                    </button>
                    <button class="btn btn-warning" @click="remove(row.item, row.index)" :title="trans('app.common.delete')">
                        <i class="fa fa-trash-o"></i>
                    </button>
                </template>
			</b-table>
            <cat-equipament-edit :show="showEdit" :draft="draft" @close="close"></cat-equipament-edit>
			<div class="box-footer text-center">
                  <b-pagination
                    :total-rows="totalRows"
                    :per-page="perPage"
                    align="center"
                    v-model="currentPage"
                    class="my-0"
                    @input="getCatEquipments"
                    />
              </div>
		</div>
	</div>
</template>

<script>
    export default {
		watch:{
			target(){
            	this.getCatEquipments()
            }
		},
		data(){
			return{

                currentPage: null,
                target: '',
                draft: {},
                currentIndex: null,
                showEdit: false,
                sortBy: 'id',
                sortDesc: true,
                flag:false,
                categoriesList:[{ value: '', text: ''}],
			    pageOptions: [ 5, 10, 15 ],
                filter: null,
				items: null,
                fields: [
            			{
            			key: 'name', label: 'Nombre', sortable: true,
            			},
                  {
                  key: 'category', label: 'Category', sortable: false,
                  },
                  { key: 'status', label: trans('app.catEquipment.status'), sortable: true
                  },
            			{
            			key: 'Actions', label: trans('app.common.actions'), 'class': 'pull-right'
            			}
          			],
			}
		},
		created(){
            this.getCatEquipments()
            this.listCategories()
        },
		methods:{
            selectCategory(index){
                let arr = this.$store.state.Category.list
                for (var i = arr.length - 1; i >= 0; i--) {
                   if (index == arr[i].id ) {
                      return arr[i].name;
                   }
                }
            },
            listCategories(){
                    this.$store.dispatch('listCategories')
            },
            edit(catEquipament, index){
                this.draft = clone(catEquipament)
                this.currentIndex = index
                this.draft.flag=false
                this.showEdit = true
            },
            create(){
                this.draft = {
                    id: null,
                    name: '',
                    image: '',
                    flag:true,
                    category_id: null,
                    status: null,
                }
                this.showEdit = true
            },
            getCatEquipments(){
                let params = {page: this.currentPage, target: this.target, orderBy: this.sortBy, desc: this.sortDesc}
                this.$store.dispatch('getCatEquipments', params)
            },
            close(){
              this.showEdit = false
            },
            remove(item, index){
                this.$swal({
                  title: trans('app.common.delete_title'),
                  text: trans('app.common.delete_text') + item.name +'?',
                  type: 'warning',
                  showCancelButton: true,
                  confirmButtonColor: '#3085d6',
                  cancelButtonColor: '#d33',
                  confirmButtonText: trans('app.common.delete_confirm'),
                  cancelButtonText: trans('app.common.0')
                }).then((result) => {
                  if (result.value) {
                    this.$store.dispatch('removeCatEquipment', item.id)
                  }
                })
            },
      //       onFiltered (filteredItems) {
		    //   // Trigger pagination to update the number of buttons/pages due to filtering
		    //   this.totalRows = filteredItems.length
		    //   this.currentPage = 1
		    // },
			sortingChanged (ctx) {
  				if (ctx.sortBy) {
                    this.sortBy = ctx.sortBy
                    this.sortDesc = ctx.sortDesc
                    this.currentPage = null
                    this.getCatEquipments()
                }
		    }
		},
        computed:{
            catEquipament(){
                return this.$store.state.CatEquipment.catEquipments
            },
            categories(){

                let arr = this.$store.state.Category.list
                for (var i = arr.length - 1; i >= 0; i--) {
                   var obj={};
                   obj.value = arr[i].id;
                   obj.text= arr[i].name;
                   this.categoriesList.push(obj);
                }
                return this.categoriesList;
            },
            current_page(){
                return this.$store.state.CatEquipment.currentPage
            },
            totalRows(){
                return this.$store.state.CatEquipment.totalRows
            },
            perPage(){
                return this.$store.state.CatEquipment.perPage
            },
            loading(){
               return this.$store.state.CatEquipment.loading
            }
        }
	}
</script>