<template>
<div>
  <b-modal v-model="show" :title="draft.id ? trans('app.invoice.edit') : trans('app.invoice.add')"  @hide="close">
    <!-- <b-form @submit="save"  role="form" enctype="multipart/form-data"> -->
        <b-container fluid>
            <!-- <template v-if="draft.id"> -->
             <b-row class="mb-1">
               <b-col><label :class="validNote ? 'label-valid' : 'label-required'">{{trans('app.invoice.note')}}</label></b-col>
             </b-row>
             <b-row class="mb-1">
               <b-col><input type="text" v-model="draft.note" class="form-control" ></b-col>
             </b-row>

             <b-row class="mb-1">
               <b-col><label :class="validTax ? 'label-valid' : 'label-required'">{{trans('app.invoice.tax')}}</label></b-col>
             </b-row>
             <b-row class="mb-1">
               <b-col><input type="number" v-model="draft.tax" class="form-control" ></b-col>
             </b-row>

             <b-row class="mb-1">
               <b-col><label :class="validSubtotal ? 'label-valid' : 'label-required'">{{trans('app.invoice.subtotal')}}</label></b-col>
             </b-row>
             <b-row class="mb-1">
               <b-col><input type="number" v-model="draft.subtotal" class="form-control" ></b-col>
             </b-row>

             <b-row class="mb-1">
               <b-col><label :class="validTotal ? 'label-valid' : 'label-required'">{{trans('app.invoice.total')}}</label></b-col>
             </b-row>
             <b-row class="mb-1">
               <b-col><input type="number" v-model="draft.total" class="form-control" ></b-col>
             </b-row>

             <b-col><label :class="validDate ? 'label-valid' : 'label-required'">{{trans('app.invoice.date')}}</label></b-col>
             <b-col>
                  <date-picker v-model="draft.date" :date="startTime"  :option="option"></date-picker>
             </b-col>

              <b-row class="mb-1">
                  <b-col><label :class="validDealer ? 'label-valid' : 'label-required'">{{trans('app.invoice.dealer_id')}}</label></b-col>
             </b-row>
             <b-row class="mb-1">
                <b-col>
                    <b-form-select v-model="draft.dealer_id" :options="dealers" value-field="id" text-field="full_name" class="form-control"/>
                </b-col>
            </b-row>

             <b-row class="mb-1">
                  <b-col><label :class="validBillingService ? 'label-valid' : 'label-required'">{{trans('app.invoice.billing_service_id')}}</label></b-col>
             </b-row>
             <b-row class="mb-1">
                <b-col>
                    <b-form-select v-model="draft.billing_service_id" :options="billingService" value-field="id" text-field="name"  class="mb-3"/>
                </b-col>
            </b-row>

        </b-container>
    <div slot="modal-footer" class="pull-right">
        <b-btn class="btn btn-outline-danger" @click="close"> {{trans('app.buttons.close')}}</b-btn>

        <b-btn class="btn btn-outline-primary" @click="save" :disabled="!validForm"> {{draft.id ? trans('app.buttons.update') : trans('app.buttons.create')}}</b-btn>

    </div>
  </b-modal>
</div>
</template>

<script>
    import myDatepicker from 'vue-datepicker2'
    export default {
        props: ['show', 'draft'],
        data(){
            return{
                startTime: '',

                option: {
                    type: 'day',
                    week: ['Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa', 'Su'],
                    month: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                    format: 'YYYY-MM-DD',
                    placeholder: 'when?',
                    inputStyle: {
                      'display': 'inline-block',
                      'padding': '2px',
                      'margin-botton':'10px',
                      'line-height': '22px',
                      'font-size': '16px',
                      'border': '4px solid #fff',
                      'box-shadow': '0 1px 3px 0 rgba(0, 0, 0, 0.2)',
                      'border-radius': '4px',
                      'color': '#5F5F5F'
                    },
                    color: {
                      header: '#4186bc',
                      headerText: '#f00'
                    },
                    buttons: {
                      ok: 'Ok',
                      cancel: 'Cancel'
                    },
                    overlayOpacity: 0.5, // 0.5 as default
                    dismissible: true // as true as default
                },
                timeoption: {
                  type: 'min',
                  week: ['Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa', 'Su'],
                  month: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                  format: 'YYYY-MM-DD HH:mm'
                },
                multiOption: {
                  type: 'multi-day',
                  week: ['Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa', 'Su'],
                  month: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                  format:"YYYY-MM-DD HH:mm"
                },
                limit: [
                    {
                      type: 'weekday',
                      available: [1, 2, 3, 4, 5]
                    },
                    {
                      type: 'fromto',
                      from: '2016-02-01',
                      to: '2016-02-20'
                    }
                ],
                dateBodyClass: 'date-body',

                statuses: [
                    { value: null, text: trans('app.common.select') },
                    { value: '1', text: trans('app.common.active') },
                    { value: '0', text: trans('app.common.inactive') },
                ],
                 months: [
                    'January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                dealersList: [
                    { value: '', text: ''},
                ],
                billingServiceList: [
                    { value: '', text: ''},
                ],
                billingPaymentsList: [
                    { value: '', text: ''},
                ],
            }
        },
        components: {
           'date-picker': myDatepicker
        },
        created(){
            this.listDealers()
            this.listBillingTerms()
        },
        methods:{
            listDealers(){
                this.$store.dispatch('listDealers')
            },
            listBillingTerms(){
                this.$store.dispatch('listBillingServices')
            },
            close(){
                this.$emit('close')

            },
            save(){
                if (this.draft.id) {
                    this.update()
                } else{
                    this.store()
                }
                this.close()
            },
            update(){

                this.$store.dispatch('updateInvoice', {id:this.draft.id, draft:this.draft, Base64Img:this.base64, images:this.images})
            },
            store(){
                this.$store.dispatch('storeInvoice',
                {draft:this.draft, Base64Img:this.base64, images:this.images,})

            },
        },
        computed:{
            dealers(){
                return this.$store.state.Dealer.list
            },
            billingService(){
                return this.$store.state.BillingService.list
            },
            validForm(){
              return this.validNote && this.validTax && this.validSubtotal  && this.validTotal && this.validBillingService
            },
            validNote(){
              return this.draft.note ? this.draft.note.length > 3 : false
            },
            validTax(){
              return this.draft.tax > 0
            },
            validTotal(){
              return this.draft.total > 0
            },
            validDealer(){
              return this.draft.dealer_id != null
            },
            validDate(){
                return this.draft.date != ''
            },
            validSubtotal(){
                return this.draft.subtotal > 0
            },
             validFromTotal(){
                return this.draft.total != ''
            },
             validBillingService(){
                return this.draft.billing_service_id != null
            },
        }
    }
</script>