<template>
	<div class="box box-solid box-danger" :class="loading ? 'box-loading' : ''">
		<div class="box-header with-border">
      		<h3 class="box-title">{{ trans('app.invoice.title') }}</h3>
      	</div>
        <div class="box-body">
      		<div class="form-inline pull-left ">
		        <button class="btn btn-danger " @click="create">
		          	<i class="fa fa-plus ">  </i>
		        </button>
      		</div>
          <spinner v-if="loading" :size="200"/>
      		<form class="form-inline pull-right">
        		<div class="form-group mx-sm-6 mb-2">
          			<label class="sr-only">Search</label>
          			  <input v-model="target"  class="form-control" placeholder="Type to Search" />
        		</div>
      		</form>
            <!-- :items="items" -->
      		<div class="clearfix"></div>
			<b-table ref="table" striped hover show-empty
					responsive
                  :items="invoice"
            		  @sort-changed="sortingChanged"
					        :fields="fields"
					        stacked="md"
	                :filter="filter"
	                :sort-by.sync="sortBy"
	                :sort-desc.sync="sortDesc"
	                empty-text="Cargando..."
                  :no-local-sorting="true"
                  >

                <template slot="Actions" slot-scope="row">
                  <button class="btn btn-success" @click="edit(row.item, row.index)" :title="trans('app.common.edit')">
                    <i class="fa fa-edit"></i>
                  </button>
                  <button class="btn btn-warning" @click="remove(row.item, row.index)" :title="trans('app.common.delete')">
                    <i class="fa fa-trash-o"></i>
                  </button>
                </template>
			</b-table>
      <invoice-edit :show="showEdit" :draft="draft" @close="close"></invoice-edit>

      </div>
      <div class="box-footer text-center">
          <b-pagination
            :total-rows="totalRows"
            :per-page="perPage"
            align="center"
            v-model="currentPage"
            class="my-0"
            @input="getInvoices"
            />
      </div>
		</div>

	</div>
</template>

<script>
	export default{
		watch:{
			target(){
        this.getInvoices()
      }
		},
		data(){
			return{

        currentPage: null,
        target: '',
        draft: {},
        currentIndex: null,
        showEdit: false,
        sortBy: 'id',
        sortDesc: true,
        currentId: null,
			  pageOptions: [ 5, 10, 15 ],
        draft:{},
        filter: null,
       	fields: [
        			{
        			 key: 'dealer_id',
               label: trans('app.invoice.dealer_id'),
               sortable: true,
        			},
              {
                key: 'note',
                label: trans('app.invoice.note'),
                sortable: true,
              },
              {
                key: 'subtotal',
                label: trans('app.invoice.subtotal'),
                sortable: true,
                formatter: this.currencyFormat,
              },
              {
                key: 'tax',
                label: trans('app.invoice.tax'),
                sortable: true,
                formatter: this.currencyFormat
              },
              {
                key: 'total',
                label: trans('app.invoice.total'),
                sortable: true,
                formatter: this.currencyFormat
              },
             	{
        			 key: 'Actions',
               label: trans('app.common.actions')

        			}
      			],
			}
		},
		created(){
            this.getInvoices()
        },
		methods:{
        currencyFormat(value){
          var numeral = require('numeral')
          return numeral(value).format('0,0.00')
        },
        selectDealer(index){
            let arr = this.$store.state.Dealer.list
            for (var i = arr.length - 1; i >= 0; i--) {
               if (index == arr[i].id ) {
                  return arr[i].dealer_fullname;
               }
            }
        },
        selectBillingPayment(index){
            let arr = this.$store.state.BillingPayment.list
            for (var i = arr.length - 1; i >= 0; i--) {
               if (index == arr[i].id ) {
                  return arr[i].nameoncard;
               }
            }
        },
        selectBillingTerm(index){
            let arr = this.$store.state.BillingTerm.list
            for (var i = arr.length - 1; i >= 0; i--) {
               if (index == arr[i].id ) {
                  return arr[i].name;
               }
            }
        },
        getInvoices(){
            let params = {page: this.currentPage, target: this.target, orderBy: this.sortBy, desc: this.sortDesc}
            this.$store.dispatch('getInvoices', params)
        },
		    onFiltered (filteredItems) {
		      // Trigger pagination to update the number of buttons/pages due to filtering
		      this.totalRows = filteredItems.length
		      this.currentPage = 1
		    },
		    edit(invoice, index){
            this.draft = clone(invoice)
            this.currentIndex = index
            this.showEdit = true
        },
        create(){
            this.draft = {
                id: null,
                dealer_id:null,
                billing_term_id:null,
                billing_payment_id:null,
                date:'',
                subtotal:null,
                tax:null,
                total:null,
                note:'',
            }
            this.showEdit = true
        },
        remove(item, index){
            this.$swal({
              title: trans('app.common.delete_title'),
              text: trans('app.common.delete_text') + item.name +'?',
              type: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: trans('app.common.delete_confirm'),
              cancelButtonText: trans('app.common.0')
            }).then((result) => {
              if (result.value) {
                this.$store.dispatch('removeInvoice', item.id)
              }
            })
        },
        close(){
          this.showEdit = false
        },
        sortingChanged (ctx) {
            if (ctx.sortBy) {
                this.sortBy = ctx.sortBy
                this.sortDesc = ctx.sortDesc
                this.currentPage = 1
                this.getInvoices()
            }
        },

		},
        computed:{
            invoice(){
                return this.$store.state.Invoice.invoices
            },
            current_page(){
                return this.$store.state.Invoice.currentPage
            },
            totalRows(){
                return this.$store.state.Invoice.totalRows
            },
            perPage(){
                return this.$store.state.Invoice.perPage
            },
            loading(){
               return this.$store.state.Invoice.loading
            }
        }
	}
</script>